<ul id="nav">
<% if current_user.admin %>
  <li>
    <%=  link_to 'Все меню', '' %>
    <ul>
      <% for functionalgroup in current_user.all_f_groups %>
    <li> <%=  link_to functionalgroup.name, functionalgroup.link %>
      <%= render 'main/submenu', :item => functionalgroup unless functionalgroup.leaf? %>
    </li>
  <% end  if current_user.all_f_groups %>
    </ul>
  </li>
<% else %>

  <% for functionalgroup in current_user.all_f_groups %>
    <li> <%=  link_to functionalgroup.name, functionalgroup.link %>
      <%= render 'main/submenu', :item => functionalgroup unless functionalgroup.leaf? %>
    </li>
  <% end  if current_user.all_f_groups %>

<% end %>
</ul>