<ul>
  <% item.children.visible.each do |functionalgroup| %>
    <li>
      <%= link_to  functionalgroup.name, functionalgroup.link %>

      <%= render 'main/submenu', :item => functionalgroup unless functionalgroup.leaf? %>
    </li>
  <% end %>
</ul>