<style>
.first  ul {display: inline-block; width: 250px; text-align: left; margin-top: 20px; border-bottom: 2px dotted green; border-left: 2px dotted green; padding: 3px;}

</style>

<h1>Главная страница </h1>
<h2>Активный пользователь: <%= current_user.fullname %> </h2>
<p style="color: green; text-align: center;">Онлайн: <%=User.online.size%> </p>
<% if user_signed_in? and current_user.admin %>
<h2>Смена пользователя:</h2>
<div style="text-align:  center;" class="first">
  <ul>
    <% User.all.sort_by(&:fullname).each_with_index do |user, ind| %>
      <li>
        <%= link_to user.fullname, {controller: "main", action: "change_user", id: user.id}, style: user.online? ? 'color: green' : 'color: red'  %>
      </li>
        <% if (ind + 1) % 13 == 0 %>
          </ul> <ul>
        <% end %>
    <% end %>
  </ul>
</div>

<% end %>




<h2><%= show_time %> </h2>


