<ul>
  <% item.children.each do |child| %>
    <li id='<%=child.id %>'>
      <span><%= child.name %></span>
      <%= render 'children', :item => child unless child.leaf? %>
    </li>
  <% end -%>
</ul>