

<ul id="c<%=item.id%>" style="display: none;">
  <% item.children.each do |functionalgroup| %>
    <li id='<%=functionalgroup.id %>'>
      <div><%= functionalgroup.name %> <% if functionalgroup.is_close %><span class="red">удалено</span> <% end %>
          <% unless functionalgroup.leaf? %>
           <i onclick="$('#c<%=functionalgroup.id%>').toggle()" style="cursor: pointer;">Развернуть/свернуть</i>
          <% end %>
           <span class="del" title="Удалить"><%= link_to image_tag("remove.png"), functionalgroup, method: :delete, data: { confirm: 'Точно?' } %></span>
           <span class="edit"><%= link_to image_tag("edit.png"), edit_functionalgroup_path(functionalgroup) %></span>
           
      </div>
      <%= render 'children', :item => functionalgroup unless functionalgroup.leaf? %>
    </li>
  <% end -%>
</ul>