
  <% if @functionalgroup.errors.any? %>
    <div id="error_explanation">
      <h2>Ошибок: <%=@functionalgroup.errors.count %></h2>

      <ul>
      <% @functionalgroup.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<table>
<%= form_for(@functionalgroup) do |f| %>
  <tr>
      <th><%= f.label :parent_id, "Родитель" %></th>
      <td>      <%= f.select :parent_id, nested_set_options(Functionalgroup.visible, @functionalgroup) {|i| "#{'++++   ' * i.level} #{i.name}" },
                { selected: @functionalgroup.child? ? @functionalgroup.parent_id : nil, include_blank: "Нет" } %>
      </td>
  </tr>
  <tr><th><%= f.label :name, "Наименование" %></th><td> <%= f.text_field :name %></td></tr>
  <tr><th><%= f.label :descr, "Описание" %></th><td><%= f.text_area :descr %></td></tr>
  <tr><th><%= f.label :part, "модуль" %></th><td> <%= f.text_field :part %></td></tr>
  <tr><th><%= f.label :link, "Ссылка"%></th><td> <%= f.text_field :link %></td></tr>
  <tr><td><%= f.label :is_close, "Удалено"%> <%= f.check_box :is_close %></td><th><%= f.submit "Сохранить" %> <%= link_to 'Вернуться', functionalgroups_path %></th></tr>
 
<% end %>
</table>