
<h2>Сортировка функционалов</h2>

<%= button_to "Сохранить", url_for(action: "index"), id: "serialize" %>


<ul id='sortable'>
  <% for cat in Functionalgroup.roots %>
    <li id='<%= cat.id %>'>
      <span><%= cat.name %></span>
      <%= render 'children', :item => cat unless cat.leaf? %>
    </li>
  <% end -%>
</ul>

<script> nestsort();</script>