<h2>Функциональные группы</h2>


<table>
  <tr>
    <th>Наименование</th>
    <th>Описание</th>
    <th>Модуль</th>
    <th>Ссылка</th>
    <th></th>
    <th></th>
  </tr>

<% @functionalgroups.each do |functionalgroup| %>
  <tr class="<%= 'even' if functionalgroup.root? %>">
    <td><%= functionalgroup.name %></td>
    <td><%= functionalgroup.descr %></td>
    <td><%= functionalgroup.part %></td>
    <td><%= functionalgroup.link %></td>
    <td><%= link_to 'Edit', edit_functionalgroup_path(functionalgroup) %></td>
    <td><%= link_to 'Destroy', functionalgroup, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
  <tr><th colspan="6"><%= link_to 'Добавить функционал', new_functionalgroup_path %>
      <%= link_to  action: "show_part", part: "set_order", id: 1, remote: true do %>
          <%= image_tag( "edit.png", style: "width: 20px; cursor: pointer;") %> Сортировка функционалов.
          <% end %>
</th></tr>
</table>

<%#= link_to 'Set_Order', action: "set_order" %> <br/>


