
<h2>Сортировка функционалов</h2>


<button id='serialize'>Сохранить</button>

<ul id='sortable'>
  <% for cat in Functionalgroup.roots %>
    <li id='<%= cat.id %>'>
      <span><%= cat.name %></span>
      <%= render 'children', :item => cat unless cat.leaf? %>
    </li>
  <% end -%>
</ul>


<script>
      nestsort();
</script>