
<% if @resourse_type.errors.any? %>
    <div id="error_explanation">
      <h2>Ошибок: <%= @resourse_type.errors.count %></h2>

      <ul>
      <% @resourse_type.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<%= form_for(@resourse_type) do |f| %>
  <table>
    <tr>
      <th><%= f.label :name, "Наименование" %></th>
      <td><%= f.text_field :name %></td>
    </tr>
    <tr>
      <th><%= f.label :descr, "Описание" %></th>
      <td><%= f.text_area :descr %></td>
    </tr>
    <tr>
      <th colspan="2"><%= f.submit "Сохранить" %> <%= link_to 'Вернуться', resourse_types_path %></th>
    </tr>
  </table>
<% end %>
