<h2>Просмотрresourse_types</h2>
<table>
  <tr>
    <th>Id:</th>
    <td><%= @resourse_type.id %></td>
  </tr>
  <tr>
    <th>Name:</th>
    <td><%= @resourse_type.name %></td>
  </tr>
  <tr>
    <th>Descr:</th>
    <td><%= @resourse_type.descr %></td>
  </tr>
  <tr>
    <th>
    <%= link_to 'Редактировать', edit_resourse_type_path(@resourse_type) %>
    <%= link_to 'Вернуться', resourse_types_path %>
    </th>
  </tr>
</table>

 

