<h2>Типы ресурсов</h2>


<%= will_paginate @resourse_types, class: "apple_pagination" %>
<table>
<tr><th><%= button_to 'Новый тип ресурса', new_resourse_type_path %></th></tr>
</table>
<table>
  <tr>
    <th>Наименование</th>
    <th>Описание</th>
    <th></th>
    <th colspan="2"></th>

  </tr>

<% @resourse_types.each do |resourse_type| %>
  <tr>
    <td><%= resourse_type.name %></td>
    <td><%= resourse_type.descr %></td>
     <td class="show">
      <%= link_to image_tag("show.png"), resourse_type %> 
    </td>
    <td class="edit">
      <%= link_to image_tag("edit.png"), edit_resourse_type_path(resourse_type) %>
    </td>
    <td class="del" title="Удалить">
      <%= link_to image_tag("remove.png"), resourse_type, method: :delete, data: { confirm: 'Точно?' } %>
    </td>
  </tr>
<% end %>
</table>
<table>
<tr><th><%= button_to 'Новый тип ресурса', new_resourse_type_path if @resourse_types.size > 10 %></th></tr>
</table>

<%= will_paginate @resourse_types, class: "apple_pagination"  %>