<h2>Номера телефонов</h2>
<%= will_paginate @phones, class: "apple_pagination" %>
<table>
<tr><th><%= button_to 'Новый номер телефона', new_phone_path %></th></tr>
</table>
<table>
  <tr>
    <th>Номер телефона</th>
    <th>Дата активации</th>
    <th>Дата де-активации</th>
    <th>Удалено</th>
    <th colspan="2"></th>
  </tr>

<% @phones.each do |phone| %>
  <tr class="<%=cycle("even", "")%>">
    <td><%= phone.phone %></td>
    <td><%= phone.start_date %></td>
    <td><%= phone.end_date %></td>
    <td><b style="color: red;"><%= phone.is_close ? "Удален" : ""%></b></td>
    <td class="edit">
      <%= link_to image_tag("edit.png"), edit_phone_path(phone) %>
    </td>
    <td class="del" title="Удалить">
      <%= link_to image_tag("remove.png"), phone, method: :delete, data: { confirm: 'Точно?' } %>
    </td>
  </tr>
<% end %>
</table>
<table>
<tr><th><%= button_to 'Новый номер телефона', new_phone_path if @phones.size > 10 %></th></tr>
</table>

<%= will_paginate @phones, class: "apple_pagination" %>