<h2>Типы объектов</h2>

<%= will_paginate @objecttypes, class: "apple_pagination" %>

<table>
  <tr>
    <th>Наименование</th>
    <th>Описание</th>
    <th>Дата активации</th>
    <th>Дата де-активации</th>
    <th>Удалено</th>
    <th colspan="2"></th>

  </tr>

<% @objecttypes.each do |objecttype| %>
  <tr>
    <td><%= objecttype.name %></td>
    <td><%= objecttype.description %></td>
    <td><%= objecttype.start %></td>
    <td><%= objecttype.end %></td>
    <td><%= objecttype.is_close %></td>
    <td class="edit">
      <%= link_to image_tag("edit.png"), edit_objecttype_path(objecttype) %>
    </td>
    <td class="del" title="Удалить">
      <%= link_to image_tag("remove.png"), objecttype, method: :delete, data: { confirm: 'Точно?' } %>
    </td>
  </tr>
<% end %>
<tr><th><%= link_to 'Новый тип объекта', new_objecttype_path %></th></tr>

</table>

<%= will_paginate @objecttypes, class: "apple_pagination" %>