

  <% if @transport.errors.any? %>
    <div id="error_explanation">
      <h2>Ошибок: <%= @transport.errors.count%> </h2>

      <ul>
      <% @transport.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


<%= form_for @transport do |f| %>
<div id="tabs">
  <ul>
    <li><a href="#tabs-1">Основные данные</a></li>
    <li><a href="#tabs-2">Дополнительно</a></li>
  </ul>
<div id="tabs-1">
<table style="table-layout: fixed;">
  <tr>
        <th><%= f.label :name , 'Наименование' %></th>
        <th><%= f.label :description, 'Описание' %></th>
  </tr>
  <tr>
        <td><%= f.text_field :name %></td>
        <td><%= f.text_area :description %></td>
  </tr>
  <tr>
        <th><%= f.label :vin, 'VIN номер' %></th>
        <th><%= f.label :chassis_num, 'Номер шасси' %></th>
        <th><%= f.label :body_num, 'Номер кузова' %></th>
  </tr>
  <tr>
        <td><%= f.text_field :vin %></td>
        <td><%= f.text_field :chassis_num %></td>
        <td><%= f.text_field :body_num %></td>
  </tr>
  <tr>
        <th><%= f.label :engine_num, 'Номер двигателя' %></th>
        <th><%= f.label :reg_num, 'Регистрационный номер' %></th>
  </tr>
  <tr>
        <td><%= f.text_field :engine_num %></td>
        <td><%= f.text_field :reg_num  %></td>
  </tr>
  <tr>
        <th><%= f.label :year, 'Год выпуска' %></th>
        <th><%= f.label :registration_date, 'Дата постановки на учет' %></th>
        <th><%= f.label :deregistration_date, 'Дата снятия с учета' %></th>

  </tr>
  <tr>
        <td><%= f.text_field :year  %></td>
        <td><%= f.text_field :registration_date  %></td>
        <td>
          <div style="position: relative;">
            <%= f.text_field :deregistration_date  %>
            <%= image_tag "remove.png", style: "width: 15px; position: absolute; top: 2px; right: 2px; cursor: pointer;" , onclick: "$('#transport_deregistration_date').val('')" %>
          </div>
        </td>

  </tr>
</table>
<table>
  <tr>
        <th><%= f.label :weight, 'Собственный вес' %> </th>
        <th><%= f.label :capacity, 'Грузоподъёмность' %></th>
        <th><%= f.label :overall_height, 'Габаритная высота' %> </th>
        <th><%= f.label :overall_width, 'Габаритная ширина' %></th>
        <th><%= f.label :overall_length, 'Габаритная длинна' %> </th>
  </tr>
  <tr>
        <td><%= f.text_field :weight, value: @transport.weight || @transportmodel.try(:weight) %></td>
        <td><%= f.text_field :capacity, value: @transport.capacity || @transportmodel.try(:capacity) %></td>
        <td><%= f.text_field :overall_height, value: @transport.overall_height || @transportmodel.try(:overall_height) %></td>
        <td><%= f.text_field :overall_width, value: @transport.overall_width || @transportmodel.try(:overall_width) %></td>
        <td><%= f.text_field :overall_length, value: @transport.overall_length || @transportmodel.try(:overall_length) %></td
  </tr>
</table>
<% if @transportloadings %>
 <table>
  <tr>

        <th><%= f.label :useful_height, 'Полезная высота' %></th>
        <th><%= f.label :useful_width, 'Полезная ширина' %> </th>
        <th><%= f.label :useful_length, 'Полезная длинна' %></th>
        <th><%= f.label :useful_volume, 'Полезный объём' %></th>
  </tr>
  <tr>
        <td><%= f.text_field :useful_height, value: @transport.useful_height || @transportmodel.try(:useful_height) %></td>
        <td><%= f.text_field :useful_width, value: @transport.useful_width || @transportmodel.try(:useful_width) %></td>
        <td><%= f.text_field :useful_length, value: @transport.useful_length || @transportmodel.try(:useful_length) %></td>
        <td><%= f.text_field :useful_volume, value: @transport.useful_volume || @transportmodel.try(:useful_volume) %></td>
  </tr>
 </table>
 <% end %>


</div>
<div id="tabs-2">
  <div id="additional">
   <% if @transport.id  %>
    <%= render "additional" %>
   <% else %>
    <h2>Сохраните основные данные </h2>
   <% end %>
  </div>
</div>
</div>

<table>
  <tr>  <td><%= f.label :is_close , 'Удалено' %> <%= f.check_box :is_close %></td>
        <th colspan="3"><%= f.submit 'Сохранить' %> <%= link_to 'Вернуться к ТС', transports_path %></th>  </tr>
</table>

<% end %>


<script>
      $('#transport_registration_date').datetimepicker({ format:'d/m/Y'});
      $('#transport_deregistration_date').datetimepicker({ format:'d/m/Y'});
</script>