
<% if transport.tsloadings.any? %>
<table>
  <tr> <th> Удалить тип погрузки</th>
    <td>
      <% for loading in transport.tsloadings do %>
      <span style="margin-right: 5px; display: block;">
       [<%=  loading.loading %>
        <%= link_to 'x', url_for(action: "del_loading_from_transport", id: transport , loading: loading ) , remote: true , style: "color: red; font-weight: bold;", data: { confirm: 'Точно?' } %>]
      </span>
      <% end %>
    </td>
  </tr>
</table>
<% end %>


<%= form_tag  url_for( action: 'select_loading' , id: transport ) , remote: true do %>
<table style="width: 100%;">
  <tr>
    <th>Тип погрузки</th>
    <th></th>
  </tr>
  <tr>
    <td>
      <%= text_field :tsloading, :loading , autofocus: true %>
    </td>
    <th>
      <%= submit_tag "Сохранить" , id: "transporttank" %>
    </th>
  </tr>
</table>
<% end %>

