
<% if transport.tstanks.any? %>
<table>
  <tr> <th> Удалить топливный бак</th>
    <td>
      <% for tank in transport.tstanks do %>
      <span style="margin-right: 5px; display: block;">
       [Объём: <%=  tank.v_tank %>; Минимальный остаток: <%=  tank.v_tank_min %>
        <%= link_to 'x', url_for(action: "del_tank_from_transport", id: transport , tank: tank ) , remote: true , style: "color: red; font-weight: bold;", data: { confirm: 'Точно?' } %>]
      </span>
      <% end %>
    </td>
  </tr>
</table>
<% end %>


<%= form_tag  url_for( action: 'select_tank' , id: transport ) , remote: true do %>
<table style="width: 100%;">
  <tr>
    <th>Объём топливного бака</th>
    <th>Объём минимального остатка топлива</th>
    <th></th>
  </tr>
  <tr>
    <td>
      <%= text_field :tstank, :v_tank , autofocus: true %>
    </td>
    <td>
      <%= text_field :tstank, :v_tank_min  %>
    </td>
    <th>
      <%= submit_tag "Сохранить" %>
    </th>
  </tr>
</table>
<% end %>

