<% @documnetkinds = Documentkind.for_transport %>

<%= form_tag new_document_path(transport: transport) do %>
<table>
  <tr>
    <th> Вид документа ТС</th>
    <td> <%= collection_select( :documentkind, :id, @documnetkinds, :id, :name ) %>
    </td>
    <th>
       <%= submit_tag "Создать" %>
    </th>
  </tr>

</table>
<% end %>
