<% @brands = Transportbrand.visible.sort_by(&:name)
@models = Transportmodel.all.sort_by(&:transportbrand_id)
%>


<%= form_tag  url_for( action: 'select_brand', id: transport) , remote: true do %>
<table style="width: 100%">
  <tr>
    <th><%= label :brand , "Марка ТС" %> </th>
        <td>
<%= collection_select( :brand, :id, @brands, :id, :name,  { prompt: "Выберите марку ТС"}  ) %>
    </td>
  </tr>
    <tr>
    <th><%= label :model , "Модель ТС" %> </th>
        <td>
<%= select_tag(:model,  options_for_select(@models.map { |m| [m.name, m.id, { class: m.transportbrand_id}] }), { prompt: "Выберите модель ТС" }) %>
    </td>
  </tr>

  <tr> <th colspan="2"> <%= submit_tag "Сохранить", id: "model_submit", style: "display: none;"  %>  </th> </tr>
</table>

<% end %>


<script>
  $(function() {

    /* For jquery.chained.js */
    $("#model").chained("#brand_id");


    /* Show button after each pulldown has a value. */
    $("#model").bind("change", function(event) {
        if ("" != $("option:selected", this).val() && "" != $("option:selected", $("#brand_id")).val() )
        {
            $("#model_submit").fadeIn();
        } else {
            $("#model_submit").hide();
        }
    });
  });
</script>

