<% @categories = Transportcategory.all %>

<div id="select_category<%=transport_category.id%>">

<%= form_tag  url_for( action: 'select_category' , id: transport_category ) , remote: true do %>

<%= collection_select( :category, :id, @categories, :id, :name ,
  { prompt: transport_category.transportcategories.blank? ? "Выберите категорию" : nil,
    selected: transport_category.transportcategories.any? ? transport_category.transportcategories.first.id.to_s : nil} ,
    onchange: "$(this.form).submit();" ) %>


<% end %>


<%#= form_tag  url_for( action: 'select_model' , id: transport_brand ) , remote: true do %>

<%#= collection_select( :model, :id, transport_brand.transportbrands.first.transportmodels, :id, :name ,
  { prompt: "Выберите модель", selected: transport_brand.transportmodels.any? ? transport_brand.transportmodels.first.id.to_s : nil } ,
  onchange: "$(this.form).submit();")  %>

<%# end if transport_brand.transportbrands.any? and transport_brand.transportbrands.first.transportmodels.any? %>

</div>