<% @colors = Transportcolor.visible %>



<%= form_tag  url_for( action: 'select_color' , id: transport) , remote: true do %>
<table>
  <tr>
    <th>  Цвет ТС </th>
    <td> <%= collection_select( :color, :id, @colors, :id, :name ,
    { prompt: transport.transportcolors.blank? ? "Выберите цвет" : nil,
      selected: transport.transportcolors.any? ? transport.transportcolors.first.id.to_s : nil}) %>
    </td>
    <th>
       <%= submit_tag "Сохранить" %>
    </th>
  </tr>

</table>
<% end %>

