<h2>Транспортные средства</h2>
<%= will_paginate @transports, class: "apple_pagination" %>
<table>
  <tr>
    <th><%= button_to 'Новое ТС', new_transport_path %> </th>
    <td style="width: 130px;">
      <%= link_to params[:showdel] == "true" ? "Скрыть удаленные" : "Показать удаленные", transports_path(showdel: params[:showdel] == "true" ? "false" : "true") %>
    </td>
  </tr>
</table>
<table>
  <tr>
    <th>Рег. номер</th>
    <th>Дата регистрации</th>
    <th>Название</th>
    <th>Описание</th>
    <th>Модель</th>
    <th>VIN номер</th>
    <th>Документ</th>
    <th colspan="4"></th>
  </tr>

<% @transports.each do |transport| %>
  <tr class="<%= cycle("","even") %>">
    <td><%= transport.reg_num %> <span class="red"><%= "удалено" if transport.is_close %></span></td>
    <td><%= transport.created_at.strftime("%d/%m/%Y") %></td>
    <td><%= transport.name %> </td>
    <td><%= transport.description %></td>
    <td><%= transport.transportmodel.name if transport.transportmodel %></td>
    <td><%= transport.vin %></td>
    <td><%= transport.documents.any? ? "Есть" : "Нет" %></td>
    <td class="docs" title="Документы">  <%= link_to image_tag("docs.png"), action: "show_part", id: transport, part: "docs", remote: true %> </td>
    <td class="copy"><%= link_to image_tag("copy.png", title: "Редактировать копию ТС"), edit_transport_path(transport, copy: "true"), data: { confirm: 'Точно?' } %></td>
    <td class="edit"><%= link_to image_tag("edit.png", title: "Редактировать"), edit_transport_path(transport) %></td>
    <td class="del" title="Удалить"><%= link_to image_tag("remove.png", title: "Удалить"), transport, method: :delete, data: { confirm: 'Точно?' } %></td>

  </tr>
<% end %>
</table>
<table>
  <tr> <th colspan="5"><%= button_to 'Новое ТС', new_transport_path if @transports.size > 10%> </th>  </tr>
</table>

<%= will_paginate @transports, class: "apple_pagination" %>



