
<% if @phoneuse.errors.any? %>
    <div id="error_explanation">
      <h2>Ошибок: <%= @phoneuse.errors.count %></h2>

      <ul>
      <% @phoneuse.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<%= form_for(@phoneuse) do |f| %>
  <table>
    <tr>
      <th><%= f.label :phone_id, "Телефон" %></th>
      <th><%= f.label :person_id, "Физ. лицо" %></th>
      <th><%= f.label :issue_date, "Дата выдачи" %></th>
      <th><%= f.label :take_date, "Дата возврата" %></th>
      <th><%= f.label :is_corporate, "Корпоративный" %></th>
    </tr>
    <tr>
      <td>
        <%= f.collection_select( :phone_id, Phone.visible, :id, :phone,
            { prompt: @phoneuse.phone_id ? nil : "Выберите телефон",
              selected: @phoneuse.phone_id ? @phoneuse.phone_id : nil  } )%>
      </td>
      <td><%= f.collection_select( :person_id, Person.visible, :id, :fullname,
            { prompt: @phoneuse.person_id ? nil : "Выберите физ. лицо",
              selected: @phoneuse.person_id ? @phoneuse.phone_id : nil  } )%>
      </td>
      <td><%= f.text_field :issue_date %></td>
      <td><%= f.text_field :take_date %></td>
      <td><%= f.check_box :is_corporate %></td>
    </tr>

    <tr>
      <td><%= f.label :is_close, "Удалено" %> <%= f.check_box :is_close %></td>
      <th colspan="4"><%= f.submit "Сохранить" %> <%= link_to 'Вернуться', phoneuses_path %></th>
    </tr>
  </table>
<% end %>

<script>
      $('#phoneuse_take_date').datetimepicker({ format:'d/m/Y'});
      $('#phoneuse_issue_date').datetimepicker({ format:'d/m/Y'});
</script>