
<% if @employee.errors.any? %>
    <div id="error_explanation">
      <h2>Ошибок: <%= @employee.errors.count %></h2>

      <ul>
      <% @employee.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<%= form_for(@employee) do |f| %>
  <table>
    <tr>
      <th><%= f.label :person_id, "Физ. лицо" %></th>
      <td><%= f.collection_select( :person_id, Person.visible, :id, :fullname,
              { prompt: @employee.person_id ? nil : "Выберите физ. лицо",
              selected: @employee.person_id ? @employee.person_id : nil}  )%>
      </td>
    </tr>
    <tr>
      <th>Контрагент по ОУ</th>
      <td> <%= @employee.person.contractors.map { |m| m.name }.join(', ') if  @employee.id and @employee.person %>
      </td>
    </tr>

    <tr>
      <th><%= f.label :staff_unit_id, "Штатная единица" %></th>
      <td>
        <%#= f.collection_select( :staff_unit_id, StaffUnit.free_units, :id, :cdp,
              { prompt: @employee.staff_unit_id ? nil : "Выберите штатную единицу",
              selected: @employee.staff_unit_id ? @employee.staff_unit_id : nil}  )%>
        <%= label_tag "Контрагенты" %>
        <%= select_tag( :contractor, options_for_select(@contractors.map { |m| [m.name, m.id] }, { selected: @employee.staff_unit ? @employee.staff_unit.department.contractor.name : nil, prompt: "Выберите контрагента"})) %>
        <%= label_tag "Подразделения" %>
        <%= select_tag(:department,  options_for_select(@departments.map { |m| [m.name, m.id, { class: m.contractor_id}] }, { selected: @employee.staff_unit ? @employee.staff_unit.department_id : nil, prompt: "Выберите подразделение" })) %>
  
        <% @free_units = StaffUnit.free_units;   @free_units << @employee.staff_unit if @employee.staff_unit %>
        <%= f.label :staff_unit_id, "Штатная единица" %>
        <%= f.select(:staff_unit_id,  options_for_select(@free_units.map { |m| [m.position.name, m.id, { class: m.department_id}] }, { selected: @employee.staff_unit_id ? @employee.staff_unit_id : nil }), {prompt: @employee.staff_unit_id ? nil : "Выберите штатную единицу"}) %>

      </td>
    </tr>

    <tr>
      <th><%= f.label :employment_date, "Дата трудоустройства" %></th>
      <td><%= f.text_field :employment_date %></td>
    </tr>
    <tr>
      <th><%= f.label :leaving_date, "Дата увольнения" %></th>
      <td><%= f.text_field :leaving_date %></td>
    </tr>
 <!--   <tr>
      <th><%#= f.label :start_date, "Дата начала действия" %></th>
      <td><%#= f.text_field :start_date %></td>
    </tr>
    <tr>
      <th><%#= f.label :end_date, "Дата окончания действия" %></th>
      <td><%#= f.text_field :end_date %></td>
    </tr>
 -->
    <tr>
      <th><%= f.label :is_close, "Удалено" %></th>
      <td><%= f.check_box :is_close %></td>
    </tr>
    <tr>
      <th colspan="2"><%= f.submit "Сохранить" %> <%= link_to 'Вернуться', employees_path %></th>
    </tr>
  </table>
<% end %>

<script>
      $('#employee_employment_date').datetimepicker({ format:'d/m/Y'});
      $('#employee_leaving_date').datetimepicker({ format:'d/m/Y'});
      $('#employee_start_date').datetimepicker({ format:'d/m/Y'});
      $('#employee_end_date').datetimepicker({ format:'d/m/Y'});

      $(function() { $("#department").chained("#contractor"); });
      $(function() { $("#employee_staff_unit_id").chained("#department"); });
</script>

