<h2>Сотрудники (<%=@employees.size %>) <%= "- уволеные." unless params[:close].blank? %> </h2>

<%= will_paginate @employees, class: "apple_pagination" %>
<table>
<tr><th><%= button_to 'Новый сотрудник', new_employee_path %></th>
    <th><%= link_to 'Уволенные', employees_path(close: true) if Employee.closed_employees.any? %> </th>

    <%= form_tag  url_for( action: 'index'), method: :get do %>
    <td style="width: 200px;"> <%= label_tag "Контрагенты" %>
        <%= select_tag( :contractor, options_for_select(@contractors.map { |m| [m.name, m.id] }, { selected: params[:contractor].blank? ? @contractors.first.id : params[:contractor]}), {prompt: "Все контрагенты:"}) %> </td>
    <td style="width: 200px;"> <%= label_tag "Подразделения" %>
        <%= select_tag(:department,  options_for_select(@departments.map { |m| [m.name + " (#{m.employees_sum})", m.id, { class: m.contractor_id}] }, { selected: params[:department].blank? ? nil : params[:department] }), {prompt: "Все подразделения:"}) %>
    </td>
    <th style="width: 70px;">  <%= submit_tag "Выбрать", id: "submit"%> </th>
    <% end %>

</tr>
</table>
<table>
  <tr>
    <th>Физ. лицо</th>
    <th>Штатная единица</th>
    <th>Контрагент по ОУ</th>
    <th>Дата трудоустройства</th>
    <th>Дата увольнения</th>
 <!--   <th>Дата начала действия</th>
    <th>Дата окончания действия</th>  -->
    <th colspan="3"></th>

  </tr>

<% @employees.each do |employee| %>
  <tr>
    <td <%= 'class=deleted title=Удален' if employee.is_close %>>
        <% if employee.person %>
          <%= employee.person.fullname  %> (<%=  employee.person.gender ? "М" : "Ж" %>)<br/> <%= employee.person.birthdate.strftime("%d-%m-%Y")  %>
        <% end %>
    </td>
    <td><%= employee.staff_unit.cdp if employee.staff_unit %></td>
    <td><%= employee.person.contractors.map { |m| m.name }.join(', ') if employee.person %>
    </td>
    <td><%= employee.employment_date.strftime("%d-%m-%Y") if employee.employment_date %></td>
    <td><%= employee.leaving_date.strftime("%d-%m-%Y") if employee.leaving_date %></td>
<!--    <td><%#= employee.start_date.strftime("%d-%m-%Y") if employee.start_date %></td>
    <td><%#= employee.end_date.strftime("%d-%m-%Y") if employee.end_date%></td>  -->
     <td class="show">
      <%= link_to image_tag("show.png"), employee, remote: true %>
    </td>
    <td class="edit">
      <%= link_to image_tag("edit.png"), edit_employee_path(employee) %>
    </td>
    <td class="del" title="Удалить">
      <%= link_to image_tag("remove.png"), employee, method: :delete, data: { confirm: 'Точно освободить штатную удиницу?' } unless employee.is_close%>
    </td>
  </tr>
<% end if @employees.any? %>
</table>
<table>
<tr><th><%= button_to 'Новый сотрудник', new_employee_path if @employees.size > 10 %></th></tr>
</table>

<%= will_paginate @employees, class: "apple_pagination"  %>


<script>
  $(function() {
    $("#department").chained("#contractor");
  });
  
</script>
