<h2>Справочник должностей</h2>
<%= will_paginate @positions, class: "apple_pagination" %>
<table>
  <tr>
    <th>Наименование</th>
    <th>Описание</th>
    <th colspan="2"></th>

  </tr>

<% @positions.each do |position| %>
  <tr>
    <td <%= 'class=deleted title=Удален' if position.is_close %>><%= position.name %></td>
    <td><%= position.descr %></td>
    <td class="edit">
      <%= link_to image_tag("edit.png"), edit_position_path(position) %>
    </td>
    <td class="del" title="Удалить">
      <%= link_to image_tag("remove.png"), position, method: :delete, data: { confirm: 'Точно?' } unless position.is_close %>
    </td>
  </tr>
<% end %>
<tr><th><%= button_to 'Новая должность', new_position_path %></th></tr>

</table>

<%= will_paginate @positions, class: "apple_pagination" %>