<h2>Экологические классы ТС</h2>
<%= will_paginate @transportecologicals, class: "apple_pagination" %>
<table>
  <tr>
    <th>Экологический класс ТС</th>
    <th></th>
    <th></th>
  </tr>

<% @transportecologicals.each do |transportecological| %>
  <tr class="<%= cycle("","even") %>">
    <td><%= transportecological.name %><span class="red"><%= "удалено" if transportecological.is_close  %></span></td>
    <td class="edit"><%= link_to image_tag("edit.png", style: "width: 20px;"), edit_transportecological_path(transportecological) %></td>
    <td class="del" title="Удалить"><%= link_to image_tag("remove.png", style: "width: 20px;"), transportecological, method: :delete, data: { confirm: 'Точно?' } %></td>
  </tr>
<% end %>
    <tr> <th colspan="3"><%= button_to 'Добавить экологический класс ТС', new_transportecological_path %> </th> </tr>
</table>

<%= will_paginate @transportecologicals, class: "apple_pagination" %>

