<%= form_for(@transportkind) do |f| %>
  <% if @transportkind.errors.any? %>
    <div id="error_explanation">
      <h2>Ошибок: <%= @transportkind.errors.count %></h2>

      <ul>
      <% @transportkind.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<table>
  <tr>
       <th><%= f.label :transporttype_id , "Тип ТС" %> </th>
       <td><%= f.collection_select( :transporttype_id, Transporttype.visible, :id, :name,
              { prompt: @transportkind.transporttype ? nil : "Выберите тип ТС",
              selected: @transportkind.transporttype ? @transportkind.transporttype.id : nil}  )%>
       </td>
  </tr>
  <tr> <th><%= f.label :name, 'Наименование' %> </th> <td><%= f.text_field :name %> </td> </tr>
  <tr> <th><%= f.label :descr, "Описание" %> </th> <td><%= f.text_area :descr %> </td> </tr>
  <tr> <th><%= f.label :is_close, "Удалено" %> </th> <td><%= f.check_box :is_close %> </td> </tr>
  <tr> <th colspan="2"><%= f.submit "Сохранить" %> <%= link_to 'Вернуться', transportkinds_path( type: @transporttype ) %> </th> </tr>

</table>
<% end %>
