<h2>Категория ТС:<%= link_to @transporttype.transportcategory.name, transportcategories_path if @transporttype.transportcategory%><br/>
  Тип ТС:<%= link_to @transporttype.name, transporttypes_path( category: @transporttype.transportcategory_id ) %>.<br/>
  Редактирование вида ТС: <%= @transportkind.name %>. </h2>



<%= render 'form' %>

