<h2><%= link_to "Категория ТС: #{@transporttype.transportcategory.name}", transportcategories_path if @transporttype and @transporttype.transportcategory%><br/>
  <%= link_to "Тип ТС: #{@transporttype.name}", transporttypes_path( category: @transporttype.transportcategory_id ) if  @transporttype%><br/>
  Виды ТС </h2>

<%= will_paginate @transportkinds, class: "apple_pagination" %>
<table>
  <tr>
    <th>Категория ТС</th>
    <th>Тип ТС</th>
    <th>Вид ТС</th>
    <th>Моделей</th>
    <th>Описание</th>
    <th colspan="2"></th>
  </tr>

<% @transportkinds.each do |transportkind| %>
  <tr class="<%= cycle("","even") %>">
    <td><%= link_to transportkind.transporttype.transportcategory.name, transportcategories_path if transportkind.transporttype and transportkind.transporttype.transportcategory%></td>
    <td><%= link_to transportkind.transporttype.name, transporttypes_path if transportkind.transporttype%></td>
    <td><%= transportkind.name %><span class="red"><%= "удалено" if transportkind.is_close  %></span></td>
    <td><%= transportkind.transportmodels.size %></td>
    <td><%= transportkind.descr %></td>
    <td class="edit"><%= link_to image_tag("edit.png", style: "width: 20px;"), edit_transportkind_path(transportkind) %></td>
    <td class="del" title="Удалить"><%= link_to image_tag("remove.png", style: "width: 20px;"), transportkind, method: :delete, data: { confirm: 'Точно?' } %></td>
  </tr>

<% end %>
  <tr><th><%= button_to 'Новый вид ТС', new_transportkind_path( type: @transporttype ? @transporttype.id : nil ), method: "post" %> </th>
      <th colspan="2"><%= link_to 'Все виды ТС', transportkinds_path if @transporttype %> </th>
      <th><%= link_to 'К типам ТС', transporttypes_path %> </th>
  </tr>
</table>

<%= will_paginate @transportkinds, class: "apple_pagination" %>


