<h2><%= link_to "Категория ТС: #{@transporttype.transportcategory.name}", transportcategories_path if @transporttype and @transporttype.transportcategory%><br/>
  <%= link_to "Тип ТС: #{@transporttype.name}", transporttypes_path( category: @transporttype.transportcategory_id ) if  @transporttype%><br/>
  Новый Вид ТС. </h2>


<%= render 'form' %>
