<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email %><br />
  <%= f.email_field :email, :autofocus => true %></div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Проверьте письмо с подтверждением регистрации на: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div><%= f.label "Пароль" %> <i>(Не заполняйте, если не хотите менять)</i><br />
  <%= f.password_field :password, :autocomplete => "off" %></div>

  <div><%= f.label "Подтверждение пароля" %><br />
  <%= f.password_field :password_confirmation %></div>

  <div><%= f.label "Текущий пароль" %> <i>(Необходимо ввести текущий пароль для подтвержения изменений)</i><br />
  <%= f.password_field :current_password %></div>

  <div><%= f.submit "Слохранить" %></div>
<% end %>

<h3>Удаление аккаунта</h3>

<p> <%= button_to "Удалить аккаунт", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete %></p>

<%= link_to "Вернуться", :back %>
