  <% if @phone.errors.any? %>
    <div id="error_explanation">
      <h2>Ошибок: <%= @phone.errors.count %></h2>

      <ul>
      <% @phone.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end if @phone%>


  <% if @person.errors.any? %>
    <div id="error_explanation">
      <h2>Ошибок: <%= @person.errors.count%></h2>

      <ul>
      <% @person.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


<%= form_for(@person) do |f| %>
<table>
  <tr> <th><%= f.label :last_name, "Фамилия" %></th> 
       <th><%= f.label :name,  "Имя"%></th> 
       <th><%= f.label :surname, "Отчество"%></th>
       <th> <%= f.label :birthdate, "Дата рождения"%></th>
       <th><%= f.label :mail, "E-mail"%></th>   
       <th> <%= f.label :gender, "Пол"%></th>
  </tr>
  <tr>
       <td><%= f.text_field :last_name, disabled: "disabled" %> </td>
       <td><%= f.text_field :name, disabled: "disabled" %> </td>
       <td><%= f.text_field :surname, disabled: "disabled" %> </td>
       <td><%= f.text_field :birthdate, disabled: "disabled" %> </td>
       <td><%= f.text_field :mail %> </td>
       <td><%= f.check_box :gender, onchange: " if ($('#person_gender').prop('checked')) {$('#gender').html('М')} else {$('#gender').html('Ж')}" %>
         &nbsp;&nbsp;<b id="gender"><%= @person.gender ? "М" : "Ж"  %> </b>
       </td>
  </tr>
</table>
<%= @person.new_record? ? "Для редактирования телефонов сохраните основные данные." : person_phones(@person)  %>


<table>
  <tr>
     <td> <%= f.label :is_close, "Удалено"%> <%= f.check_box :is_close  %> </td>
     <th colspan=4"><%= f.submit "Сохранить" %> <%= link_to 'Вернуться к физ. лицам', people_path %></th> </tr>
</table>
<% end %>

<script>
      $('#person_birthdate').datetimepicker({ format:'d/m/Y',yearStart:1950, yearEnd:2008});
</script>
