
  <% if @person.errors.any? %>
    <div id="error_explanation">
      <h2>Ошибок: <%= @person.errors.count%></h2>

      <ul>
      <% @person.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


<%= form_for(@person, remote: true, format: :js) do |f| %>
<table>
  <tr> <th><%= f.label :last_name, "Фамилия" %></th>
       <th><%= f.label :name,  "Имя"%></th>
       <th><%= f.label :surname, "Отчество"%></th>
  </tr>
  <tr>
       <td><%= f.text_field :last_name %> </td>
       <td><%= f.text_field :name %> </td>
       <td><%= f.text_field :surname %> </td>
  </tr>
  <tr>
       <th> <%= f.label :birthdate, "Дата рождения"%></th>
       <th><%= f.label :mail, "E-mail"%></th>
       <th> <%= f.label :gender, "Пол"%></th>
  </tr>
  <tr>
       <td><%= f.text_field :birthdate%> </td>
       <td><%= f.text_field :mail %> </td>
       <td><%= f.check_box :gender, onchange: " if ($('#person_gender').prop('checked')) {$('#gender').html('М')} else {$('#gender').html('Ж')}" %>
         &nbsp;&nbsp;<b id="gender"><%= @person.gender ? "М" : "Ж"  %> </b>
       </td>
  </tr>
</table>

<table>
  <tr>
     <th><%= f.submit "Сохранить" %> </th> </tr>
</table>
<% end %>

<script>
      $('#person_birthdate').datetimepicker({ format:'d/m/Y',yearStart:1950, yearEnd:2008});
</script>
