<% @phones =  person.phones%>
<h2>Редактирование номеров телефонов</h2>
  <% if @phones.any? %>
    <table>
    <tr>
      <th>Номер телефона:</th>
      <th>Дата активации:</th>
      <th>Дата де-активации:</th>
      <th></th>
    </tr>
    <% for phone in @phones.visible do %>
    <tr>
      <td><%= phone.phone %></td>
      <td><%= phone.start_date %></td>
      <td><%= phone.end_date %></td>
      <td class="del" title="Удалить"><%= link_to image_tag("remove.png"), action: "phone_person", remove: phone, person: person, remote: true %></td>
    </tr>
    <% end %>
    </table>
    <% end %>
  <%= form_tag  url_for( action: 'phone_person', id: person ) , remote: true do %>
  <table>
    <tr>
      <th>Номер телефона:</th>
      <th>Дата активации:</th>
      <th>Дата де-активации:</th>
      <th></th>
    </tr>
    <tr>
      <td><%= text_field  :phone, :phone , autofocus: true %></td>
      <td><%= text_field :phone, :start_date , value: Time.now.strftime("%d/%m/%Y") %></td>
      <td><%= text_field :phone, :end_date  %></td>
      <td><%= submit_tag "Добавить номер"  %></td>
    </tr>
  </table>
 <% end %>

<script>
  $("#phone_phone").mask("9(999)999-99-99", {placeholder:"#"});
  $('#phone_start_date').datetimepicker({ format:'d/m/Y',yearStart:2000, yearEnd:2014});
  $('#phone_end_date').datetimepicker({ format:'d/m/Y',yearStart:2000, yearEnd:2014});

</script>