<h2>Физические лица</h2>

<%#= will_paginate @people, class: "apple_pagination" %>
<%= letter_pagination @letters %>
<table>
  <tr> <th><%#= button_to 'Добавить физ. лицо', new_person_path %></th> </tr>
</table>
<table>
  <tr>
    <th>ФИО</th>
    <th>Е-mail</th>
    <th>Дата рождения</th>
    <th>Пол</th>
    <th>Контрагент</th>
    <th>Документы</th>
    <th colspan="3"></th>
  </tr>

<% @people.each do |person| %>
  <tr>
    <td><%= person.fullname %><span class="red"><%= "удалено" if person.is_close  %></span></td>
    <td><%= person.mail %></td>
    <td><%= person.birthdate %></td>
    <td><%= person.gender ? "М" : "Ж" %></td>
    <td><% person.contractors.each do |contractor| %>
        <%= contractor.name %> <br/>
        <% end %>
    </td>
    <td><%= person.documents.any? ? "Есть" : "Нет" %></td>
    <td class="docs" title="Документы">  <%= link_to image_tag("docs.png"), action: "show_part", id: person, part: "docs", remote: true %> </td>
    <td class="edit" title="Редактировать"><%= link_to image_tag("edit.png"), edit_person_path(person) %></td>
  </tr>
<% end %>
</table>
<table>
  <tr> <th><%#= button_to 'Добавить физ. лицо', new_person_path if @people.size > 10 %></th> </tr>
</table>

<%= letter_pagination @letters %>
<%#= will_paginate @people, class: "apple_pagination" %>

