<%= form_for(@transportcolor) do |f| %>
  <% if @transportcolor.errors.any? %>
    <div id="error_explanation">
      <h2>Ошибок: <%= @transportcolor.errors.count%></h2>

      <ul>
      <% @transportcolor.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<table>
  <tr> <th><%= f.label :name , 'Цвет' %> </th> <td> <%= f.text_field :name %> </td> </tr>
  <tr> <th><%= f.label :is_close , 'Удалено' %> </th> <td> <%= f.check_box :is_close %> </td> </tr>
  <tr> <th colspan="2"><%= f.submit 'Сохранить' %> <%= link_to 'Вернуться к цветам ТС', transportcolors_path %> </th>  </tr>
</table>
<% end %>
