<h2>Цвета ТС</h2>
<%= will_paginate @transportcolors, class: "apple_pagination" %>
<table>
  <tr>
    <th>Цвет</th>
    <th colspan="2"></th>

  </tr>

<% @transportcolors.each do |transportcolor| %>
  <tr class="<%= cycle("","even") %>">
    <td><%= transportcolor.name %> <span class="red"> <%= "Удалено" if  transportcolor.is_close %> </span></td>
    <td class="edit"><%= link_to image_tag("edit.png", style: "width: 20px;"), edit_transportcolor_path(transportcolor) %></td>
    <td class="del" title="Удалить"><%= link_to image_tag("remove.png", style: "width: 20px;"), transportcolor, method: :delete, data: { confirm: 'Точно?' } %></td>
  </tr>
<% end %>
  <tr> <th colspan="3"><%= button_to 'Добавить цвет', new_transportcolor_path %> </th> </tr>
</table>


<%= will_paginate @transportcolors, class: "apple_pagination" %>