<%= form_for(@transportloading) do |f| %>
  <% if @transportloading.errors.any? %>
    <div id="error_explanation">
      <h2>Ошибок: <%= @transportloading.errors.count%></h2>

      <ul>
      <% @transportloading.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<table>
  <tr> <th><%= f.label :loading , 'Способ загрузки' %> </th> <td><%= f.text_field :loading %> </td> </tr>
  <tr> <th><%= f.label :descr, 'Описание' %> </th> <td><%= f.text_area :descr %> </td> </tr>
  <tr> <th> <%= f.label :is_close , 'Удалено' %> </th> <td><%= f.check_box :is_close %> </td> </tr>
  <tr> <th colspan="2">     <%= f.submit 'Сохранить' %> <%= link_to 'Вернуться к способам загрузки', transportloadings_path %></th> </tr>
</table>
<% end %>
