<h2>Способы загрузки</h2>
<%= will_paginate @transportloadings, class: "apple_pagination" %>
<table>
  <tr>
    <th>Способ загрузки</th>
    <th>Описание</th>
    <th></th>
    <th></th>
  </tr>

<% @transportloadings.each do |transportloading| %>
  <tr class="<%= cycle("","even") %>">
    <td><%= transportloading.loading %> <span class="red"> <%= "Удалено" if  transportloading.is_close %> </span></td>
    <td><%= transportloading.descr %></td>
    <td class="edit"><%= link_to image_tag("edit.png", style: "width: 20px;"), edit_transportloading_path(transportloading) %></td>
    <td class="del" title="Удалить"><%= link_to image_tag("remove.png", style: "width: 20px;"), transportloading, method: :delete, data: { confirm: 'Точно?' } %></td>
  </tr>
<% end %>
  <tr>
    <th colspan="4"><%= button_to 'Добавить способ загрузки', new_transportloading_path %></th>
  </tr>
</table>


<%= will_paginate @transportloadings, class: "apple_pagination" %>

