<h2>Договоры</h2>


<%= will_paginate @contracts, class: "apple_pagination" %>
<table>
<tr><th><%= button_to 'Новый договор', new_contract_path %></th></tr>
</table>
<table>
  <tr>
    <th>Номер договора</th>
    <th>Предмет договора</th>
    <th>Вариант предмета договора</th>
    <th>Дата начала действия договора</th>
    <th>Дата окончания действия договора</th>
    <th colspan="3"></th>

  </tr>

<% @contracts.each do |contract| %>
  <tr>
    <td><%= contract.contract_number %></td>
    <td><%= contract.contract_subject_select.contract_subject.name %></td>
    <td><%= contract.contract_subject_select.name %></td>
    <td><%= contract.start_date %></td>
    <td><%= contract.end_date %></td>
     <td class="show">
      <%= link_to image_tag("show.png"), contract %> 
    </td>
    <td class="edit">
      <%= link_to image_tag("edit.png"), edit_contract_path(contract) %>
    </td>
    <td class="del" title="Удалить">
      <%= link_to image_tag("remove.png"), contract, method: :delete, data: { confirm: 'Точно?' } unless contract.is_close %>
    </td>
  </tr>
<% end %>
</table>
<table>
<tr><th><%= button_to 'Новый договор', new_contract_path if @contracts.size > 10 %></th></tr>
</table>

<%= will_paginate @contracts, class: "apple_pagination"  %>