<h2>Просмотрcontracts</h2>
<table>
  <tr>
    <th>Id:</th>
    <td><%= @contract.id %></td>
  </tr>
  <tr>
    <th>Contract subject select:</th>
    <td><%= @contract.contract_subject_select_id %></td>
  </tr>
  <tr>
    <th>Contract number:</th>
    <td><%= @contract.contract_number %></td>
  </tr>
  <tr>
    <th>Start date:</th>
    <td><%= @contract.start_date %></td>
  </tr>
  <tr>
    <th>End date:</th>
    <td><%= @contract.end_date %></td>
  </tr>
  <tr>
    <th>Is close:</th>
    <td><%= @contract.is_close %></td>
  </tr>
  <tr>
    <th>
    <%= link_to 'Редактировать', edit_contract_path(@contract) %>
    <%= link_to 'Вернуться', contracts_path %>
    </th>
  </tr>
</table>

 

