
<% if @duty.errors.any? %>
    <div id="error_explanation">
      <h2>Ошибок: <%= @duty.errors.count %></h2>

      <ul>
      <% @duty.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<%= form_for(@duty) do |f| %>
      <%= f.hidden_field :user_id, value: current_user.id %>
  <table>
    <tr>
      <th><%= f.label :EmployeeKey, "ФИО" %></th>
      <td><%= f.collection_select( :EmployeeKey, Duty.people, :EmployeeKey, :FIO,
              { prompt: @duty.EmployeeKey ? nil : "Выберите дежурного",
              selected: @duty.EmployeeKey ? @duty.EmployeeKey : nil}  )%>
      </td>
      <th><%= f.label :IsLog, "Логист" %></th>
      <td><%= f.check_box :IsLog %></td>
      <th><%= f.label :IsMan, "Менеджер" %></th>
      <td><%= f.check_box :IsMan %></td>
    </tr>
  </table>
  <table>
    <tr>
      <th><%= f.label :MomentFrom, "Начало смены"  %></th>
      <td><%= f.text_field :MomentFrom, id: "datetimepicker_from" %></td>
      <th><%= f.label :MomentTo, "Окончание смены" %></th>
      <td><%= f.text_field :MomentTo, id: "datetimepicker_to" %> </td>
    </tr>
  </table>
  <table>
    <tr>
      <th><%= f.submit "Сохранить" %> <%= link_to 'Вернуться', duties_path %></th>
    </tr>
  </table>
<% end %>


<script>
  <% if @duty.MomentFrom and @duty.MomentTo %>
      $('#datetimepicker_from').datetimepicker({timepicker:true, value:'<%=@duty.MomentFrom.strftime("%d/%m/%Y %k:%M")%>'});
      $('#datetimepicker_to').datetimepicker({timepicker:true, value:'<%=@duty.MomentTo.strftime("%d/%m/%Y %k:%M") %>'});
  <% else %>
    var today = new Date();
    <% today = Time.now + 1.day %>
      $('#datetimepicker_from').datetimepicker({timepicker:true, value:today.getDate()+'/'+(today.getMonth()+1)+'/'+today.getFullYear()+' 20:00'});
      $('#datetimepicker_to').datetimepicker({timepicker:true, value:<%=today.day %> +'/'+<%=today.month %>+'/'+<%=today.year %>+' 20:00'});
   <% end %>
</script>