<h2>Дежурные</h2>

  <table>
    <tr><th><%= button_to 'Новый дежурный', new_duty_path, method: 'get' %></th></tr>
  </table>
<%= will_paginate @duties, class: "apple_pagination" %>
<table>
  <tr>
    <th> <%= link_to 'Фио:', duties_path(sort: "fio") %></th>
    <th> <%= link_to 'Начало смены:', duties_path %></th>
    <th> <%= link_to 'Окончание смены:', duties_path(sort: "to") %></th>
    <th>Логист:</th>
    <th>Менеджер:</th>
  <!--  <th>Пользователь</th> -->
    <th colspan="2"></th>

  </tr>

<% @duties.each do |duty| %>
  <tr class="<%=cycle("","even") %>">
    <td><%= duty.fio%></td>
    <td><%= duty.MomentFrom.strftime("Дата: %d/%m/%Y. Время: %k:%M") %></td>
    <td><%= duty.MomentTo.strftime("Дата: %d/%m/%Y. Время: %k:%M") %></td>
    <td><%= duty.IsLog ? "Логист" : "" %></td>
    <td><%= duty.IsMan ? "Менеджер" : "" %></td>
<!--    <td><%= duty.user_id %></td>  -->
    <td class="edit">
      <%= link_to image_tag("edit.png"), edit_duty_path(duty) %>
    </td>
    <td class="del" title="Удалить">
      <%= link_to image_tag("remove.png"), duty, method: :delete, data: { confirm: 'Точно?' } %>
    </td>
  </tr>
<% end %>
</table>
  <table>
    <tr><th><%= button_to 'Новый дежурный', new_duty_path, method: 'get' %></th></tr>
  </table>
<%= will_paginate @duties, class: "apple_pagination" %>