<h2>Просмотрduties</h2>
<table>
  <tr>
    <th>Id:</th>
    <td><%= @duty.id %></td>
  </tr>
  <tr>
    <th>Momentfrom:</th>
    <td><%= @duty.MomentFrom %></td>
  </tr>
  <tr>
    <th>Momentto:</th>
    <td><%= @duty.MomentTo %></td>
  </tr>
  <tr>
    <th>Islog:</th>
    <td><%= @duty.IsLog %></td>
  </tr>
  <tr>
    <th>Isman:</th>
    <td><%= @duty.IsMan %></td>
  </tr>
  <tr>
    <th>Employeekey:</th>
    <td><%= @duty.EmployeeKey %></td>
  </tr>
  <tr>
    <th>User:</th>
    <td><%= @duty.user_id %></td>
  </tr>
  <tr>
    <th>Created at:</th>
    <td><%= @duty.created_at %></td>
  </tr>
  <tr>
    <th>
    <%= link_to 'Редактировать', edit_duty_path(@duty) %>
    <%= link_to 'Вернуться', duties_path %>
    </th>
  </tr>
</table>

 

