<%= form_for(@enginetype) do |f| %>
  <% if @enginetype.errors.any? %>
    <div id="error_explanation">
      <h2>Ошибок: <%= @enginetype.errors.count %> </h2>

      <ul>
      <% @enginetype.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<table>
  <tr> <th><%= f.label :name, 'Тип двигателя ТС' %> </th> <td>   <%= f.text_field :name %> </td> </tr>
  <tr> <th><%= f.label :is_close, 'Удален' %> </th> <td>   <%= f.check_box :is_close %> </td> </tr>
  <tr> <th colspan="2">    <%= f.submit "Сохранить" %> <%= link_to 'Вернуться к типам двигателя ТС', enginetypes_path %> </th> </tr>
</table>
<% end %>
