<h2>Типы двигателя ТС</h2>
<%= will_paginate @enginetypes, class: "apple_pagination" %>
<table>
  <tr>
    <th>Тип двигателя ТС</th>
    <th>Модель двигателя ТС</th>
    <th colspan="2"></th>
  </tr>

<% @enginetypes.each do |enginetype| %>
  <tr class="<%= cycle("","even") %>">
    <td><%= enginetype.name %> <span class="red"><%= "удалено" if enginetype.is_close  %></span></td>
    <td><%= link_to 'Редактировать модели двигателя ТС', enginemodels_path(type: enginetype) %> (<%= enginetype.enginemodels.size %>)</td>
    <td class="edit"><%= link_to image_tag("edit.png", style: "width: 20px;"), edit_enginetype_path(enginetype) %></td>
    <td class="del" title="Удалить"><%= link_to image_tag("remove.png", style: "width: 20px;"), enginetype, method: :delete, data: { confirm: 'Точно?' } %></td>
    
  </tr>
<% end %>
    <tr>
    <th colspan="4"><%= button_to 'Новый тип двигателея ТС', new_enginetype_path %></th>
    </tr>
</table>


<%= will_paginate @enginetypes, class: "apple_pagination" %>