<table>
  <tr>
    <th>Контрагент:</th>
    <td><%= @contractor_representative.contractor.name %></td>
  </tr>
  <tr>
    <th>Физ. лицо:</th>
    <td><%= @contractor_representative.person.fullname_g_b %></td>
  </tr>
  <tr>
    <th>Должность:</th>
    <td><%= @contractor_representative.position.name %></td>
  </tr>
  <tr>
    <th>Начало взаимодействия:</th>
    <td><%= @contractor_representative.start_date %></td>
  </tr>
  <tr>
    <th>Окончание взаимодействия:</th>
    <td><%= @contractor_representative.end_date %></td>
  </tr>
  <tr>
    <th>Удален:</th>
    <td><%= 'Удален' if  @contractor_representative.is_close %></td>
  </tr>
  <tr>
    <th>
    <%= button_to 'Редактировать', edit_contractor_representative_path(@contractor_representative), method: :get %>
    </th>
  </tr>
</table>

 

