<h2>Представители контрагентов</h2>


<%= will_paginate @contractor_representatives, class: "apple_pagination" %>
<table>
<tr><th><%= button_to 'Новый представитель контрагента', new_contractor_representative_path %></th></tr>
</table>
<table>
  <tr>
    <th>Контрагент </th>
    <th>Физ. лицо</th>
    <th>Должность</th>
    <th>Начало взаимодействия</th>
    <th>Окончание взаимодействия</th>
    <th colspan="3"></th>

  </tr>

<% @contractor_representatives.each do |contractor_representative| %>
  <tr>
    <td><%= contractor_representative.contractor.name %></td>
    <td><%= contractor_representative.person.fullname_g_b %></td>
    <td><%= contractor_representative.position.name %></td>
    <td><%= contractor_representative.start_date %></td>
    <td><%= contractor_representative.end_date %></td>
     <td class="show" title="Просмотр">
      <%= link_to image_tag("show.png"), contractor_representative, remote: true %>
    </td>
    <td class="edit" title="Редактировать">
      <%= link_to image_tag("edit.png"), edit_contractor_representative_path(contractor_representative) %>
    </td>
    <td class="del" title="Удалить">
      <%= link_to image_tag("remove.png"), contractor_representative, method: :delete, data: { confirm: 'Точно?' } unless contractor_representative.is_close %>
    </td>
  </tr>
<% end %>
</table>
<table>
<tr><th><%= link_to 'Новый Contractor representative', new_contractor_representative_path if @contractor_representatives.size > 10 %></th></tr>
</table>

<%= will_paginate @contractor_representatives, class: "apple_pagination"  %>