
<% if @contract_subject.errors.any? %>
    <div id="error_explanation">
      <h2>Ошибок: <%= @contract_subject.errors.count %></h2>

      <ul>
      <% @contract_subject.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<%= form_for(@contract_subject) do |f| %>
  <table>
    <tr>
      <th><%= f.label :contract_type_id, "Тип договора" %></th>
      <td><%= f.collection_select( :contract_type_id, ContractType.visible, :id, :name,
              { prompt: @contract_subject.contract_type_id ? nil : "Выберите тип договора",
              selected: @contract_subject.contract_type_id ? @contract_subject.contract_type_id : nil}  )%>
      </td>
    </tr>
    <tr>
      <th><%= f.label :name, "Наменование" %></th>
      <td><%= f.text_field :name %></td>
    </tr>
    <tr>
      <th><%= f.label :descr, "Описание" %></th>
      <td><%= f.text_area :descr %></td>
    </tr>
    <tr>
      <th><%= f.label :is_close, "Удален" %></th>
      <td><%= f.check_box :is_close %></td>
    </tr>
    <tr>
      <th colspan="2"><%= f.submit "Сохранить" %> <%= link_to 'Вернуться', contract_subjects_path %></th>
    </tr>
  </table>
<% end %>
