<h2>Предметы договоров</h2>


<%= will_paginate @contract_subjects, class: "apple_pagination" %>
<table>
<tr><th><%= button_to 'Новый предмет договора', new_contract_subject_path %></th></tr>
</table>
<table>
  <tr>
    <th>Предмет договора</th>
    <th>Тип договора</th>
    <th>Описание</th>
    <th colspan="2"></th>

  </tr>

<% @contract_subjects.each do |contract_subject| %>
  <tr>
    <td><b><%= contract_subject.name %></b></td>
    <td><%= contract_subject.contract_type.name if contract_subject.contract_type %></td>
    <td><%= contract_subject.descr %></td>
    <td class="edit">
      <%= link_to image_tag("edit.png"), edit_contract_subject_path(contract_subject) %>
    </td>
    <td class="del" title="Удалить">
      <%= link_to image_tag("remove.png"), contract_subject, method: :delete, data: { confirm: 'Точно?' } unless contract_subject.is_close %>
    </td>
  </tr>
<% end %>
</table>
<table>
<tr><th><%= button_to 'Новый предмет договора', new_contract_subject_path if @contract_subjects.size > 10 %></th></tr>
</table>

<%= will_paginate @contract_subjects, class: "apple_pagination"  %>