<h2>Просмотрcontract_subjects</h2>
<table>
  <tr>
    <th>Id:</th>
    <td><%= @contract_subject.id %></td>
  </tr>
  <tr>
    <th>Contract type:</th>
    <td><%= @contract_subject.contract_type_id %></td>
  </tr>
  <tr>
    <th>Name:</th>
    <td><%= @contract_subject.name %></td>
  </tr>
  <tr>
    <th>Descr:</th>
    <td><%= @contract_subject.descr %></td>
  </tr>
  <tr>
    <th>Is close:</th>
    <td><%= @contract_subject.is_close %></td>
  </tr>
  <tr>
    <th>
    <%= link_to 'Редактировать', edit_contract_subject_path(@contract_subject) %>
    <%= link_to 'Вернуться', contract_subjects_path %>
    </th>
  </tr>
</table>

 

