
<% if @unv_employee.errors.any? %>
    <div id="error_explanation">
      <h2>Ошибок: <%= @unv_employee.errors.count %></h2>

      <ul>
      <% @unv_employee.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<%= form_for(@unv_employee) do |f| %>
  <table>
    <tr>
      <th><%= f.label :employee_id, "Сотрудник" %></th>
      <td><%= label_tag "Контрагенты" %>
        <%= select_tag( :contractor, options_for_select(@contractors.map { |m| [m.name, m.id] }, { selected: @contractors.first.id })) %>
        <%= label_tag "Подразделения" %>
        <%= select_tag(:department,  options_for_select(@departments.map { |m| [m.name, m.id, { class: m.contractor_id}] }, 
                          { selected: @unv_employee.employee && @unv_employee.employee.staff_unit ? @unv_employee.employee.staff_unit.department_id : nil, prompt: "Выберите подразделение" })) %>
  
        <% @employees = Employee.visible %>
        <%= f.label :employee_id, "Сотрудник" %>
        <%= f.select(:employee_id,  options_for_select(@employees.map { |m| [m.person.fullname, m.id, { class: m.staff_unit.department.id}] if m and m.person },
                  { selected: @unv_employee.employee_id ? @unv_employee.employee_id : nil }), {prompt: @unv_employee.employee_id ? nil : "Выберите сотрудника"}) %>

      </td>
    </tr>
    <tr>
      <th><%= f.label :unv_type_id, "Тип недоступности" %></th>
      <td><%= f.collection_select( :unv_type_id, UnvType.all, :id, :name,
              { prompt: @unv_employee.unv_type_id ? nil : "Выберите тип недоступности",
              selected: @unv_employee.unv_type_id ? @unv_employee.unv_type_id : nil}  )%>
      </td>
    </tr>
    <tr>
      <th><%= f.label :planned_start, "Запланированное начало" %></th>
      <td><%= f.text_field :planned_start %></td>
    </tr>
    <tr>
      <th><%= f.label :planned_end, "Запланированное окончание" %></th>
      <td><%= f.text_field :planned_end %></td>
    </tr>
    <tr>
      <th><%= f.label :actual_start, "Фактическое начало" %></th>
      <td><%= f.text_field :actual_start %></td>
    </tr>
    <tr>
      <th><%= f.label :actual_end, "Фактическое окончание" %></th>
      <td><%= f.text_field :actual_end %></td>
    </tr>
    <tr>
      <th colspan="2"><%= f.submit "Сохранить" %> <%= link_to 'Вернуться', unv_employees_path %></th>
    </tr>
  </table>
<% end %>


<script>
      $('#unv_employee_planned_start').datetimepicker({ timepicker:true });
      $('#unv_employee_planned_end').datetimepicker({ timepicker:true });
      $('#unv_employee_actual_start').datetimepicker({ timepicker:true });
      $('#unv_employee_actual_end').datetimepicker({ timepicker:true });

      $(function() { $("#department").chained("#contractor"); });
      $(function() { $("#unv_employee_employee_id").chained("#department"); });
</script>
