<h2>Недоступности сотрудников</h2>


<%= will_paginate @unv_employees, class: "apple_pagination" %>
<table>
<tr><th><%= button_to 'Новая недоступность сотрудника', new_unv_employee_path %></th></tr>
</table>
<table>
  <tr>
    <th>Сотрудник</th>
    <th>Тип недоступности</th>
    <th>Запланированное начало</th>
    <th>Запланированное окончание</th>
    <th>Фактическое начало</th>
    <th>Фактическое окончание</th>
    <th colspan="3"></th>

  </tr>

<% @unv_employees.each do |unv_employee| %>
  <tr>
    <td><%= unv_employee.employee.person.fullname if unv_employee.employee %></td>
    <td><%= unv_employee.unv_type.name if unv_employee.unv_type %></td>
    <td><%= unv_employee.planned_start %></td>
    <td><%= unv_employee.planned_end %></td>
    <td><%= unv_employee.actual_start %></td>
    <td><%= unv_employee.actual_end %></td>
     <td class="show">
      <%= link_to image_tag("show.png"), unv_employee, remote: true %>
    </td>
    <td class="edit">
      <%= link_to image_tag("edit.png"), edit_unv_employee_path(unv_employee) %>
    </td>
    <td class="del" title="Удалить">
      <%= link_to image_tag("remove.png"), unv_employee, method: :delete, data: { confirm: 'Точно?', toggle: "modal" } %> 
    </td>
  </tr>
<% end %>
</table>
<table>
<tr><th><%= button_to 'Новая недоступность сотрудника', new_unv_employee_path if @unv_employees.size > 10 %></th></tr>
</table>

<%= will_paginate @unv_employees, class: "apple_pagination"  %>