= form_for @employee_hisrory do |f|
  - if @employee_hisrory.errors.any?
    #error_explanation
      %h2= "#{pluralize(@employee_hisrory.errors.count, "error")} prohibited this employee_hisrory from being saved:"
      %ul
        - @employee_hisrory.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :id
    = f.text_field :id
  .field
    = f.label :employment_date
    = f.date_select :employment_date
  .field
    = f.label :leaving_date
    = f.date_select :leaving_date
  .field
    = f.label :start_date
    = f.date_select :start_date
  .field
    = f.label :end_date
    = f.date_select :end_date
  .field
    = f.label :staff_unit_id
    = f.text_field :staff_unit_id
  .field
    = f.label :position_id
    = f.text_field :position_id
  .field
    = f.label :position_name
    = f.text_field :position_name
  .field
    = f.label :department_id
    = f.text_field :department_id
  .field
    = f.label :department_name
    = f.text_field :department_name
  .field
    = f.label :contractor_id
    = f.text_field :contractor_id
  .field
    = f.label :contractor_name
    = f.text_field :contractor_name
  .actions
    = f.submit 'Save'
