%h1 Listing employee_hisrories

%table
  %tr
    %th Id
    %th Employment date
    %th Leaving date
    %th Start date
    %th End date
    %th Staff unit
    %th Position
    %th Position name
    %th Department
    %th Department name
    %th Contractor
    %th Contractor name
    %th
    %th
    %th

  - @employee_hisrories.each do |employee_hisrory|
    %tr
      %td= employee_hisrory.id
      %td= employee_hisrory.employment_date
      %td= employee_hisrory.leaving_date
      %td= employee_hisrory.start_date
      %td= employee_hisrory.end_date
      %td= employee_hisrory.staff_unit_id
      %td= employee_hisrory.position_id
      %td= employee_hisrory.position_name
      %td= employee_hisrory.department_id
      %td= employee_hisrory.department_name
      %td= employee_hisrory.contractor_id
      %td= employee_hisrory.contractor_name
      %td= link_to 'Show', employee_hisrory
      %td= link_to 'Edit', edit_employee_hisrory_path(employee_hisrory)
      %td= link_to 'Destroy', employee_hisrory, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Employee hisrory', new_employee_hisrory_path
