<h2>employee_hisrories</h2>


<%= will_paginate @employee_hisrories, class: "apple_pagination" %>
<table>
<tr><th><%= link_to 'Новый Employee hisrory', new_employee_hisrory_path %></th></tr>
</table>
<table>
  <tr>
    <th>Id</th>
    <th>Employment date</th>
    <th>Leaving date</th>
    <th>Start date</th>
    <th>End date</th>
    <th>Staff unit</th>
    <th>Position</th>
    <th>Position name</th>
    <th>Department</th>
    <th>Department name</th>
    <th>Contractor</th>
    <th>Contractor name</th>
    <th></th>
    <th colspan="2"></th>

  </tr>

<% @employee_hisrories.each do |employee_hisrory| %>
  <tr>
    <td><%= employee_hisrory.id %></td>
    <td><%= employee_hisrory.employment_date %></td>
    <td><%= employee_hisrory.leaving_date %></td>
    <td><%= employee_hisrory.start_date %></td>
    <td><%= employee_hisrory.end_date %></td>
    <td><%= employee_hisrory.staff_unit_id %></td>
    <td><%= employee_hisrory.position_id %></td>
    <td><%= employee_hisrory.position_name %></td>
    <td><%= employee_hisrory.department_id %></td>
    <td><%= employee_hisrory.department_name %></td>
    <td><%= employee_hisrory.contractor_id %></td>
    <td><%= employee_hisrory.contractor_name %></td>
     <td class="show">
      <%= link_to image_tag("show.png"), employee_hisrory %> 
    </td>
    <td class="edit">
      <%= link_to image_tag("edit.png"), edit_employee_hisrory_path(employee_hisrory) %>
    </td>
    <td class="del" title="Удалить">
      <%= link_to image_tag("remove.png"), employee_hisrory, method: :delete, data: { confirm: 'Точно?' } %>
    </td>
  </tr>
<% end %>
</table>
<table>
<tr><th><%= link_to 'Новый Employee hisrory', new_employee_hisrory_path if @employee_hisrories.size > 10 %></th></tr>
</table>

<%= will_paginate @employee_hisrories, class: "apple_pagination"  %>