%p#notice= notice

%p
  %b Id:
  = @employee_hisrory.id
%p
  %b Employment date:
  = @employee_hisrory.employment_date
%p
  %b Leaving date:
  = @employee_hisrory.leaving_date
%p
  %b Start date:
  = @employee_hisrory.start_date
%p
  %b End date:
  = @employee_hisrory.end_date
%p
  %b Staff unit:
  = @employee_hisrory.staff_unit_id
%p
  %b Position:
  = @employee_hisrory.position_id
%p
  %b Position name:
  = @employee_hisrory.position_name
%p
  %b Department:
  = @employee_hisrory.department_id
%p
  %b Department name:
  = @employee_hisrory.department_name
%p
  %b Contractor:
  = @employee_hisrory.contractor_id
%p
  %b Contractor name:
  = @employee_hisrory.contractor_name

= link_to 'Edit', edit_employee_hisrory_path(@employee_hisrory)
\|
= link_to 'Back', employee_hisrories_path
