<h2>Просмотрemployee_hisrories</h2>
<table>
  <tr>
    <th>Id:</th>
    <td><%= @employee_hisrory.id %></td>
  </tr>
  <tr>
    <th>Employment date:</th>
    <td><%= @employee_hisrory.employment_date %></td>
  </tr>
  <tr>
    <th>Leaving date:</th>
    <td><%= @employee_hisrory.leaving_date %></td>
  </tr>
  <tr>
    <th>Start date:</th>
    <td><%= @employee_hisrory.start_date %></td>
  </tr>
  <tr>
    <th>End date:</th>
    <td><%= @employee_hisrory.end_date %></td>
  </tr>
  <tr>
    <th>Staff unit:</th>
    <td><%= @employee_hisrory.staff_unit_id %></td>
  </tr>
  <tr>
    <th>Position:</th>
    <td><%= @employee_hisrory.position_id %></td>
  </tr>
  <tr>
    <th>Position name:</th>
    <td><%= @employee_hisrory.position_name %></td>
  </tr>
  <tr>
    <th>Department:</th>
    <td><%= @employee_hisrory.department_id %></td>
  </tr>
  <tr>
    <th>Department name:</th>
    <td><%= @employee_hisrory.department_name %></td>
  </tr>
  <tr>
    <th>Contractor:</th>
    <td><%= @employee_hisrory.contractor_id %></td>
  </tr>
  <tr>
    <th>Contractor name:</th>
    <td><%= @employee_hisrory.contractor_name %></td>
  </tr>
  <tr>
    <th>
    <%= link_to 'Редактировать', edit_employee_hisrory_path(@employee_hisrory) %>
    <%= link_to 'Вернуться', employee_hisrories_path %>
    </th>
  </tr>
</table>

 

