
  <% if @enginemodel.errors.any? %>
    <div id="error_explanation">
      <h2> Ошибок: <%= @enginemodel.errors.count %></h2>
           <ul>
      <% @enginemodel.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<%= form_for(@enginemodel) do |f| %>

<table>
  <tr>
       <th><%= f.label :enginetype_id , "Тип двигателя ТС" %> </th>
       <td><%= f.collection_select( :enginetype_id, Enginetype.visible, :id, :name,
              { prompt: @enginemodel.enginetype ? nil : "Выберите тип двигателя ТС",
              selected: @enginemodel.enginetype ? @enginemodel.enginetype.id : nil}  )%>
       </td>
  </tr>
  <tr> <th><%= f.label :name, "Модель двигателя ТС" %> </th> <td><%= f.text_field :name %> </td> </tr>
  <tr> <th><%= f.label :power, "Мощность двигателя л.с" %> </th> <td> <%= f.number_field :power %> </td> </tr>
  <tr> <th><%= f.label :power_kvt, "Мощность двигателя кВт" %> </th> <td> <%= f.number_field :power_kvt %> </td> </tr>
  <tr> <th> <%= f.label :displacement, 'Рабочий объём двигателя' %> </th> <td><%= f.number_field :displacement %> </td> </tr>
  <tr> <th> <%= f.label :is_close, 'Удалено' %> </th> <td><%= f.check_box :is_close %> </td> </tr>
  <tr> <th colspan="2"> <%= f.submit "Сохранить" %>
                        <%= link_to 'Вернуться к моделям двигателя ТС', enginemodels_path( type: @enginetype ? @enginetype.id : nil ) %>
       </th>
  </tr>

</table>
<% end %>
