<h2><%=link_to "Тип двигателя: #{@enginetype.name}", enginetypes_path if @enginetype%> <br/>Модели двигателей ТС</h2>
<%= will_paginate @enginemodels, class: "apple_pagination" %>
<table>
  <tr>
    <th>Тип двигателя ТС</th>
    <th>Модель двигателя ТС</th>
    <th>Мощность двигателя</th>
    <th>Рабочий объём двигателя</th>
    <th colspan="2"></th>

  </tr>

<% @enginemodels.each do |enginemodel| %>
  <tr class="<%= cycle("","even") %>">
    <td><%= enginemodel.enginetype.name if enginemodel.enginetype%> </td>
    <td><%= enginemodel.name %> <span class="red"><%= "удалено" if enginemodel.is_close  %></span></td>
    <td><%= enginemodel.power %></td>
    <td><%= enginemodel.displacement %></td>
    <td class="edit"><%= link_to link_to image_tag("edit.png", style: "width: 20px;"), edit_enginemodel_path(enginemodel) %></td>
    <td class="del" title="Удалить"><%= link_to link_to image_tag("remove.png", style: "width: 20px;"), enginemodel, method: :delete, data: { confirm: 'Точно?' } %></td>
  </tr>
<% end %>
  <tr> <th> <%= button_to 'Новая модель двигателя ТС', new_enginemodel_path( type: @enginetype ? @enginetype.id : nil) %> </th>
       <th colspan="5"> <%= link_to 'Все модели двигателя ТС', enginemodels_path if @enginetype%>
                        <%= link_to 'Вернуться к типам двигателя ТС', enginetypes_path %> </th> </tr>
</table>

<%= will_paginate @enginemodels, class: "apple_pagination" %>

