<h1>Тип двигателя: <%= @enginetype.name %>. Модель: <%= @enginemodel.name %></h1>

<table>
  <tr> <th style="width: 200px;">Модель двигателя ТС: </th> <td> <%= @enginemodel.name %> </td> </tr>
  <tr> <th>Мощность двигателя: </th> <td>   <%= @enginemodel.power %></td> </tr>
  <tr> <th>Рабочий объем двигателя: </th> <td>  <%= @enginemodel.displacement %> </td> </tr>
  <tr> <th>Удалено: </th> <td>  <%= @enginemodel.is_close %> </td> </tr>

  <tr> <th colspan="2"><%= link_to 'Редактировать', edit_enginemodel_path(@enginemodel) %> 
<%= link_to 'Вернуться', enginemodels_path( type: @enginetype.id ) %> </th> </tr>

</table>