<table>
 <tr>
    <th>Роли </th>
    <td> <%= render partial: "all_role", locals: { user: @user }%></td>
    <td>
      <%= link_to action: "show_part", part: "user_role", id: @user, title: "Роли" , remote: true do %>
          <%= image_tag( "edit.png", style: "width: 20px; cursor: pointer;") %> Редактировать.
          <% end %>
 </td>
  </tr>


  <tr>
    <th>Функциональные группы </th>
    <td> <%= render partial: "all_f_group", locals: { user: @user }%></td>
    <td>
      <%= link_to action: "show_part", part: "user_f_group", id: @user, title: "Функциональные группы" , remote: true do %>
          <%= image_tag( "edit.png", style: "width: 20px; cursor: pointer;") %> Редактировать.
          <% end %>  </td>
    </tr>

 <!--
  <tr>
    <th>Группы </th>
    <td> <%#= render partial: "all_group", locals: { user: @user }%></td>
    <td>
      <%#= link_to action: "show_part", part: "user_group", id: @user , remote: true do %>
          <%#= image_tag( "edit.png", style: "width: 20px; cursor: pointer;") %> Редактировать.
          <%# end %>  </td>
    </tr>

  <tr>
    <th>Функционал </th>
    <td> <%#= render partial: "all_functional", locals: { user: @user }%></td>
    <td>
      <%#= link_to action: "show_part", part: "user_functional", id: @user , remote: true do %>
          <%#= image_tag( "edit.png", style: "width: 20px; cursor: pointer;") %> Редактировать.
          <%# end %>
   </td>
   </tr>
-->
</table>