<%  @current_functionals = current_user.all_functionals %>

<% @current_functionals.each do |functional| %>
<span style="margin-right: 5px; ">[<%= functional.name %>]</span>
<% end if @current_functionals%>