<%  @current_roles = user.roles
    @group_roles = []
    user.usergroups.each { |gr| @group_roles += gr.roles if gr.roles.any? }
    @current_roles += @group_roles %>

<% @current_roles.each do |role| %>
<span style="margin-right: 5px; ">[<%= role.name %>]</span>
<% end if @current_roles %>