
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2>Ошибок: <%= @user.errors.count%> </h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>



<%= form_for(@user, html: { class: "signin" }) do |f| %>

<table>
  <tr>
    <th><%= f.label :person_id , 'Физ. лицо' %> </th>
    <td>      <%= f.collection_select( :person_id, Person.visible, :id, :fullname,
                { selected: @user.person_id ? @user.person_id : nil,include_blank: "Нет" } )%>
    </td>
    <th rowspan="2"><%= f.label 'Дополнительно' %> </th><td rowspan="2" colspan="3"><%= f.text_area :advanced%></td>
  </tr>
  <tr>
    <th><%= f.label 'Email' %> </th> <td><%= f.text_field :email %></td>
  </tr>
</table>
<table>
  <tr>
    <th><%= f.label 'Фамилия' %> </th><td><%= f.text_field :last_name , autofocus: true %></td>
    <th><%= f.label 'Имя' %> </th><td><%= f.text_field :name %></td>
    <th><%= f.label 'Отчество' %> </th><td><%= f.text_field :surname %></td>
  </tr>
</table>
<table>
  <tr>
    <th><%= f.label 'Пароль' %> </th><td><%= f.password_field :password %></td><th><%= f.label :admin, 'Администратор' %> </th><td><%= f.check_box :admin%></td>
  </tr>

  <tr>
    <th><%= f.label 'Подтвердите пароль' %> </th><td><%= f.password_field :password_confirmation %></td>
    <th><%= f.label :is_close, "Удалено" %></th><td> <%= f.check_box :is_close%></td>
  </tr>
</table>

<div id="additional">
  <%= render "additional" if @user.id %>
</div>

<table>
   <tr>
     <th> <%= f.submit 'Сохранить' %></th> <td> <%= link_to 'Вернуться к пользователям', users_path %></td>
   </tr>
</table>


<% end %>



<script>
 $(document).ready(function() {
  $('#user_person_id').change(function() {
    $.ajax({url: "/users/select_person",
      data: {person : $('#user_person_id').val() },
      dataType: "script"

          });
   });
  });
</script>