<h2>Просмотр пользователя </h2>
<table>
  <tr><th>Физ. лицо:</th><td><%= @user.person.fullname if @user.person %></td></tr>
  <tr><th>ФИО:</th><td><%= @user.fullname %></td></tr>
  <tr><th>Email:</th><td><%= @user.email %></td></tr>
  <tr><th>Администратор:</th><td><%= @user.admin ? "да" : "Нет" %></td></tr>
  <tr><th>Дополнительно:</th><td><%= @user.advanced %></td></tr>
  <tr><th>Роли:</th><td> <%= render partial: "all_role", locals:{ user: @user }%></td></tr>
  <tr><th>Группы:</th><td> <%= render partial: "all_group", locals:{ user: @user } %></td></tr>
  <tr><th>Функционал:</th><td><%= render partial: 'all_functional', locals:{ user: @user } %></td></tr>
  <tr><th>Количество заходов:</th><td><%= @user.sign_in_count %></td></tr>
  <tr><th>Время последнего захода:</th><td><%= @user.current_sign_in_at %></td></tr>
  <tr><th>IP последнего захода:</th><td><%= @user.current_sign_in_ip %></td></tr>
  <tr><th>IP предудущего захода:</th><td><%= @user.last_sign_in_ip %></td></tr>
  <tr><th colspan=""><%= button_to 'Редактировать', edit_user_path(@user), method: "get" %></th></tr>
</table>