

<%
@functionals = Functionalgroup.roots.visible
@current_functionals = user.functionalgroups
@addfunctionals = @functionals - @current_functionals
%>


<% if @current_functionals.any? %>
<table>
  <tr> <th>Удалить функционал:</th>
<% for functional in @current_functionals do %>
    <td> 
    <%= link_to functional.name, url_for(action: "del_f_group_from_user", id: user , functional: functional ) , remote: true , style: "color: red; font-weight: bold;", data: { confirm: 'Точно?' } %>
    </td>
<% end %>
  </tr>
</table>
<% end %>

<%if @addfunctionals.any? %>

<%= form_tag  url_for( action: 'select_f_group' , id: user) , remote: true do %>
<table>
  <tr>
    <th>Добавить функционал: </th>
    <td><%= collection_select(:functional, :id, @addfunctionals, :id, :name) %></td>
    <th><%= submit_tag "Добавить" %> </th>
  </tr>
</table>
<% end %>

<% end %>