
<%
@roles = Role.visible
@current_roles = user.roles
@addroles = @roles - @current_roles
%>


<% if @current_roles.any? %>
<table>
  <tr> <th>Удалить роль:</th>
<% for role in @current_roles do %>
    <td>
    <%= link_to role.name, url_for(action: "del_role_from_user", id: user , role: role ) , remote: true , style: "color: red; font-weight: bold;", data: { confirm: 'Точно?' } %>
    </td>
<% end %>
  </tr>
</table>
<% end %>

<%= form_tag  url_for( action: 'select_role' , id: user) , remote: true do %>
<table>
  <tr>
    <th>Добавить роль: </th>
    <td><%= collection_select(:role, :id, @addroles, :id, :name) %></td>
    <th><%= submit_tag "Добавить" %> </th>
  </tr>
</table>
<% end  if @addroles.any?%>

