
<%
@groups = Usergroup.visible
@current_groups = user.usergroups
@addgroups = @groups - @current_groups
%>


<% if @current_groups.any? %>
  <b> Убрать из группы: </b>
<% for group in @current_groups do %>
   <span style="margin-right: 5px; display: inline-block;">
    [<%=  group.name %>
    <%= link_to 'x', url_for(action: "del_group_from_user", id: user , group: group ) , remote: true , style: "color: red; font-weight: bold;", data: { confirm: 'Точно?' } %>]
   </span>
<% end %>
<br/>
<% end %>



<%= form_tag  url_for( action: 'select_group' , id: user) , remote: true do %>

<b>Добавитьв группу: </b>

<%= collection_select(:usergroup, :id, @addgroups, :id, :name) %>

<%= submit_tag "Ok" %>
<% end if @addgroups.any? %>
