<h2>Пользователи. <%= @msg if @msg %></h2>
<%#= link_to "Все пользователи", users_path  if @msg %>
<%#= will_paginate @users, class: "apple_pagination" %>
<%= letter_pagination @letters %>
<table>
  <th> <%=button_to 'Добавить пользователя', new_user_path, method: "get" %></th>
</table>
<table>
  <tr>
    <th>Фио</th>
    <th>Email</th>
    <th><%= link_to 'Роли', roles_path %></th>
   <!-- <th><%#= link_to 'Группы', usergroups_path %> </th>  -->
    <th>Функциональные группы</th>
    <th colspan="3"></th>
  </tr>

<% @users.each do |user| %>
  <tr class="<%= cycle("","even") %>">
    <td><%= user.fullname %> <span class="red"><%= "удален" if user.is_close  %></span></td>
    <td><%= user.email %></td>
    <td> <%= render partial: "all_role", locals:{ user: user }%></td>
  <!--  <td> <%#= render partial: "all_group", locals:{ user: user } %></td>  -->
    <td><%= render partial: 'all_f_group', locals:{ user: user } %></td>

    <td class="show"><%= link_to image_tag("show.png"), user, remote: true %></td>
    <td class="edit"><%= link_to image_tag("edit.png"), edit_user_path(user) %></td>
    <td class="del" title="Удалить"><%= link_to image_tag("remove.png"), user, method: :delete, data: { confirm: 'Точно?' } unless user.is_close %></td>
  </tr>

<% end %>
</table>
<table>
  <th> <%=button_to 'Добавить пользователя', new_user_path, method: "get" %></th>
</table>
<%= letter_pagination @letters %>
<%#= will_paginate @users, class: "apple_pagination" %>



