<% if @person %>
  $("#user_email").val("<%=j @person.mail %>");
  $("#user_last_name").val("<%=j @person.last_name %>");
  $("#user_name").val("<%=j @person.name %>");
  $("#user_surname").val("<%=j @person.surname %>");
<% end %>
