
<% if @unv_type.errors.any? %>
    <div id="error_explanation">
      <h2>Ошибок: <%= @unv_type.errors.count %></h2>

      <ul>
      <% @unv_type.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<%= form_for(@unv_type) do |f| %>
  <table>
    <tr>
      <th><%= f.label :resourse_type_id, "Тип ресурса" %></th>
      <td><%= f.collection_select( :resourse_type_id, ResourseType.all, :id, :name,
              { prompt: @unv_type.resourse_type_id ? nil : "Выберите тип ресурса",
              selected: @unv_type.resourse_type_id ? @unv_type.resourse_type_id : nil}  )%>
      </td>
    </tr>
    <tr>
      <th><%= f.label :name, "Наименование" %></th>
      <td><%= f.text_field :name %></td>
    </tr>
    <tr>
      <th><%= f.label :descr, "Описание" %></th>
      <td><%= f.text_area :descr %></td>
    </tr>
    <tr>
      <th colspan="2"><%= f.submit "Сохранить" %> <%= link_to 'Вернуться', unv_types_path %></th>
    </tr>
  </table>
<% end %>
