<h2>Просмотрunv_types</h2>
<table>
  <tr>
    <th>Id:</th>
    <td><%= @unv_type.id %></td>
  </tr>
  <tr>
    <th>Resourse type:</th>
    <td><%= @unv_type.resourse_type_id %></td>
  </tr>
  <tr>
    <th>Name:</th>
    <td><%= @unv_type.name %></td>
  </tr>
  <tr>
    <th>Descr:</th>
    <td><%= @unv_type.descr %></td>
  </tr>
  <tr>
    <th>
    <%= link_to 'Редактировать', edit_unv_type_path(@unv_type) %>
    <%= link_to 'Вернуться', unv_types_path %>
    </th>
  </tr>
</table>

 

