<%= form_for(@transportbrand) do |f| %>
  <% if @transportbrand.errors.any? %>
    <div id="error_explanation">
      <h2>Ошибок: <%=@transportbrand.errors.count %></h2>

      <ul>
      <% @transportbrand.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


<table>
  <tr> <th>  <%= f.label :name , ' Марка' %> </th>  <td> <%= f.text_field :name %> </td>  </tr>
  <tr> <th>  <%= f.label :is_close , 'Удалено' %> </th>  <td> <%= f.check_box :is_close %> </td>  </tr>
    
<tr> <th colspan="2">   <%= f.submit 'Сохранить' %> <%= link_to 'Вернуться к маркам ТС', transportbrands_path %> </th> </tr>

</table>
<% end %>
