<h2>Марки ТС</h2>

<%= letter_pagination @letters %>

<table>
    <tr> <th><%= button_to 'Добавить марку ТС', new_transportbrand_path, method: "get" %> </th>  </tr>
</table>
<%#= will_paginate @transportbrands, class: "apple_pagination" %>
<table>
  <tr>
    <th>Марка ТС</th>
    <th>Модель ТС</th>
    <th colspan="2"></th>
  </tr>

<% @transportbrands.each do |transportbrand| %>
  <tr class="<%= cycle("","even") %>">
    <td><%= transportbrand.name %><span class="red"><%= "удалено" if transportbrand.is_close  %></span></td>
    <td><%= link_to 'Редактировать модели ТС', transportmodels_path(brand: transportbrand) %> (<%=  transportbrand.transportmodels.size %>)</td>
    <td class="edit"><%= link_to image_tag("edit.png", style: "width: 20px;"), edit_transportbrand_path(transportbrand) %></td>
    <td class="del" title="Удалить"><%= link_to image_tag("remove.png", style: "width: 20px;"), transportbrand, method: :delete, data: { confirm: 'Точно?' } %></td>

  </tr>
<% end %>
</table>
<table>
    <tr> <th><%= button_to 'Добавить марку ТС', new_transportbrand_path, method: "get" %> </th>  </tr>
</table>

<%#= will_paginate @transportbrands, class: "apple_pagination" %>


