<div class="apple_pagination">
  <%  if current_letter %>
    <%= link_to "[Все]", "/#{controller.controller_name}/#{controller.action_name}" %>
  <% else %>
  <b style="background-color: #BEBEBE;">[ Все ]</b>
  <% end %>
  <% letters.each do |letter| %>
    <% unless letter == current_letter %>
      <%= link_to letter, "/#{controller.controller_name}/#{controller.action_name}?letter=#{letter}" %>
    <% else %>
      <em class="current"><%= letter  %> </em>
    <% end %>
  <% end %>
</div>
