<table>
  <tr>
    <th>Фамилия</th><th>Имя</th><th>Отчество</th><th>Почта</th><th>Дата рождения</th>
  </tr>
  <tr>
    <td><%= @person.last_name %></td><td><%= @person.name  %></td><td><%=@person.surname %></td><td><%=@person.mail %></td><td><%=@person.birthdate.strftime("%d-%m-%Y") %></td>
  </tr>
</table>