<table>
  <tr><th>Марка ТС</th><th>Модель ТС</th><th>Рег. номер ТС</th><th>VIN номер ТС</th></tr>
  <tr><td><%= @transportbrand %></td><td><%= @transportmodel  %></td><td><%=@transport.reg_num %></td><td><%=@transport.vin %></td></tr>
</table>