<%= form_for(@transportcategory) do |f| %>
  <% if @transportcategory.errors.any? %>
    <div id="error_explanation">
      <h2>Ошибок: <%= @transportcategory.errors.count %> </h2>

      <ul>
      <% @transportcategory.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<table>
  <tr> <th><%= f.label :name, 'Категория' %> </th> <td> <%= f.text_field :name %></td> </tr>
  <tr> <th><%= f.label :descr, 'Описание' %> </th> <td><%= f.text_area :descr %> </td> </tr>
  <tr> <th><%= f.label :is_close, 'Удалено' %> </th> <td><%= f.check_box :is_close %> </td> </tr>
  <tr> <th colspan="2"><%= f.submit 'Сохранить' %>  <%= link_to 'Вернуться', transportcategories_path %></th> </tr>
</table>
<% end %>
