<h2>Категории ТС</h2>
<%= will_paginate @transportcategories, class: "apple_pagination" %>
<table>
  <tr>
    <th>Категория</th>
    <th>Описание</th>
    <th>Типы ТС</th>
    <th colspan="2"></th>
    
  </tr>

<% @transportcategories.each do |transportcategory| %>
  <tr  class="<%= cycle("","even") %>">
    <td><%= transportcategory.name %><span class="red"><%= "удалено" if transportcategory.is_close  %></span></td>
    <td><%= transportcategory.descr %></td>
    <td><%= link_to 'Редактировать типы ТС', transporttypes_path(category: transportcategory) %> (<%= transportcategory.transporttypes.size %>)</td>
    <td class="edit"><%= link_to  image_tag("edit.png", style: "width: 20px;"), edit_transportcategory_path(transportcategory) %></td>
    <td class="del" title="Удалить"><%= link_to image_tag("remove.png", style: "width: 20px;"), transportcategory, method: :delete, data: { confirm: 'Точно?' } %> </td>
  </tr>
<% end %>
  <tr> <th colspan="5"><%= button_to 'Новая категория', new_transportcategory_path, method: "get" %> </th> </tr>
</table>

<%= will_paginate @transportcategories, class: "apple_pagination" %>

