<h2>Просмотрcolumns</h2>
<table>
  <tr>
    <th>Id:</th>
    <td><%= @column.id %></td>
  </tr>
  <tr>
    <th>Table:</th>
    <td><%= @column.table_id %></td>
  </tr>
  <tr>
    <th>Name:</th>
    <td><%= @column.name %></td>
  </tr>
  <tr>
    <th>Description:</th>
    <td><%= @column.description %></td>
  </tr>
  <tr>
    <th>Start:</th>
    <td><%= @column.start %></td>
  </tr>
  <tr>
    <th>End:</th>
    <td><%= @column.end %></td>
  </tr>
  <tr>
    <th>Is close:</th>
    <td><%= @column.is_close %></td>
  </tr>
  <tr>
    <th>
    <%= link_to 'Редактировать', edit_column_path(@column) %>
    <%= link_to 'Вернуться', columns_path %>
    </th>
  </tr>
</table>

 

