<tr>
  <td colspan="8" style="background-image: none;">
    <table style="position: relative; left: 13px; top: -10px;">
    <tr>
      <th>Контрагент</th>
      <th>Подчинено</th>
      <th>Наименование</th>
      <th>Описание</th>
      <th>К-во штатных ед.<br/>/сотрудников</th>
      <th colspan="3"></th>
    </tr>
<% item.children.each do |department| %>
  <tr>
    <td><%= department.contractor ? department.contractor.name : "Нет"  %></td>
    <td>
      <%  if department.child? %>
      Контрагент: <b><%= department.contractor.name %></b>  <br/>
      Подразделение: <b><%= department.parent.name  %></b>
      <% end %>
    </td>
    <td <%= 'class=deleted title=Удален' if department.is_close %>><%= department.name %></td>
    <td><%= department.descr %></td>
    <td><%= department.staff_units.size %> / <%= department.employees_sum %></td>
     <td class="show">
      <%= link_to image_tag("show.png"), department, remote: true %>
    </td>
    <td class="edit">
      <%= link_to image_tag("edit.png"), edit_department_path(department) %>
    </td>
    <td class="del" title="Удалить">
      <%= link_to image_tag("remove.png"), department, method: :delete, data: { confirm: 'Точно?' } unless department.is_close %>
    </td>
  </tr>
    <%= render 'children', item: department unless department.leaf? %>
  <% end %>
    </table>
  </td>
</tr>