
<% if @department.errors.any? %>
    <div id="error_explanation">
      <h2>Ошибок: <%= @department.errors.count %></h2>

      <ul>
      <% @department.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<%= form_for(@department) do |f| %>
  <table>
     <tr>
      <th><%= f.label :contractor_id, "Контрагент" %></th>
      <td>      <%= f.collection_select( :contractor_id, Contractor.visible, :id, :name,
                { selected: @department.contractor_id ? @department.contractor_id : nil, include_blank: "Нет" } )%>
      </td>
    </tr>
    <tr>
      <th><%= f.label :parent_id, "Подчинено подразделению" %></th>
      <td>      <%= f.collection_select( :parent_id, (@department.new_record? ? Department.visible : @department.contractor.departments.visible), :id, :contractor_name,
                { selected: @department.parent_id ? @department.parent_id : nil, include_blank: "Нет" } )%>
      </td>

    </tr>

    <tr>
      <th><%= f.label :name, "Наименование" %></th>
      <td><%= f.text_field :name %></td>
    </tr>
    <tr>
      <th><%= f.label :descr, "Описание" %></th>
      <td><%= f.text_area :descr %></td>
    </tr>
    <tr>
      <th><%= f.label :is_close, "Удален" %></th>
      <td><%= f.check_box :is_close %></td>
    </tr>
    <tr>
      <th colspan="2"><%= f.submit "Сохранить" %> <%= link_to 'Вернуться', departments_path %></th>
    </tr>
  </table>
<% end %>
