<h2>Просмотр подразделения</h2>
<table>
  <tr>
    <th>Контрагент</th><td><%= @department.contractor ? @department.contractor.name : "Нет"  %></td>
  </tr>
  <tr>
    <th>Подчинено контрагенту</th><td><%= @department.contractor.name if @department.child? %></td>
  </tr>
  <tr>
    <th>Подчинено подразделению</th><td><%= @department.parent.name if @department.child? %></td>
  </tr>
  <tr>
    <th>Наименование</th>  <td><%= @department.name %></td>
  </tr>
  <tr>
    <th>Описание</th><td><%= @department.descr %></td>
  </tr>
  <tr>
    <th>К-во штатных ед.</th> <td><%= @department.staff_units.size %></td>
  </tr>
  <tr>
    <th>К-во сотрудников.</th> <td><%= @department.employees_sum %></td>
  </tr>
  <tr>
    <th>Удалено</th> <td style="color:red;"><%= 'Удалено'  if @department.is_close %></td>
  </tr>
</table>

<table>
    <tr>
    <th> <%= button_to 'Редактировать', edit_department_path(@department), method: "get" %>  </th>
  </tr>
</table>

  
 

