<h2>Подразделения</h2>

<%= will_paginate @departments, class: "apple_pagination" %>
<table>
  <tr><th><%= button_to 'Новое подразделение', new_department_path %></th>
    <%= form_tag  url_for( action: 'index'), method: "get" do %>
    <th style="width: 135px;"> </th>
    <td style="width: 200px;"> <%= collection_select :contractor, :id, @contractors, :id, :name, {prompt: "Все контрагенты:", selected:  params[:contractor].blank? ? nil : params[:contractor][:id]} %> </td>
    <th style="width: 30px;">  <%= submit_tag "Выбрать" %> </th>
    <% end %>
  </tr>
</table>
<table>
  <tr>
    <th>Контрагент</th>
    <th>Подчинено</th>
    <th>Наименование</th>  
    <th>Описание</th>
    <th>К-во штатных ед.<br/>/сотрудников</th>
    <th colspan="3"></th>
  </tr>

<% @departments.each do |department| %>
  <tr class="even">
    <td><%= department.contractor ? department.contractor.name : "Нет"  %> </td>
    <td>

    </td>
    <td <%= 'class=deleted title=Удален' if department.is_close %>><%= department.name %></td>
    <td><%= department.descr %></td>
    <td><%= department.staff_units.size %> / <%= department.employees_sum %></td>
    <td class="show">
      <%= link_to image_tag("show.png"), department, remote: true %>
    </td>
    <td class="edit">
      <%= link_to image_tag("edit.png"), edit_department_path(department) %>
    </td>
    <td class="del" title="Удалить">
      <%= link_to image_tag("remove.png"), department, method: :delete, data: { confirm: 'Точно?' } unless department.is_close %>
    </td>
  </tr>
  <%= render 'children', item: department unless department.leaf? %>
<% end %>
</table>
<table>
<tr><th><%= button_to 'Новое подразделение', new_department_path if @departments.size > 10 %></th></tr>
</table>

<%= will_paginate @departments, class: "apple_pagination"  %>