<%= form_for(@transporttank) do |f| %>
  <% if @transporttank.errors.any? %>
    <div id="error_explanation">
      <h2>Ошибок: <%= @transporttank.errors.count%></h2>

      <ul>
      <% @transporttank.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

   
<table>
  <tr> <th><%= f.label :transportmodel_id, 'Модель ТС' %> </th>
    <td>
      <%= f.collection_select( :transportmodel_id, Transportmodel.all, :id, :name,
  { prompt: @transporttank.transportmodel_id.nil? ? "Выберите модель ТС" : nil,
    selected: @transporttank.transportmodel_id.nil? ? nil : @transporttank.transportmodel_id }  )%>
    </td>
  </tr>
  <tr> <th><%= f.label :v_tank, 'Объём топливного бака' %> </th> <td><%= f.number_field :v_tank %> </td> </tr>
  <tr> <th><%= f.label :v_tank_min, 'Минимальный остаток топлива' %> </th> <td><%= f.number_field :v_tank_min %> </td> </tr>
  <tr> <th><%= f.label :is_close, 'Удалено' %> </th> <td><%= f.check_box :is_close %> </td> </tr>
  <tr> <th colspan="2"> <%= f.submit "Сохранить" %> <%= link_to 'Вернуться к топливным бакам', transporttanks_path( model: @transportmodel) %></th> </tr>
</table>
<% end %>
