<h2>Топливные баки ТС <br/>
<%= @transportmodel.transportbrand.name if @transportmodel%><br/>
<%= @transportmodel.name if @transportmodel%> 
</h2>
<%= will_paginate @transporttanks, class: "apple_pagination" %>
<table>
  <tr>
    <th>Марка ТС</th>
    <th>Модель ТС</th>
    <th>Объём топливного бака</th>
    <th>Минимальный остаток топлива</th>
    <th colspan="2"></th>
   
  </tr>

<% @transporttanks.each do |transporttank| %>
  <tr class="<%= cycle("","even") %>">
    <td><%= transporttank.transportmodel.transportbrand.name%></td>
    <td><%= link_to transporttank.transportmodel.name, transporttanks_path(model: transporttank.transportmodel.id) %>
     <span class="red"> <%= "Бак удален" if  transporttank.is_close %> </span>
    </td>
    <td><%= transporttank.v_tank %></td>
    <td><%= transporttank.v_tank_min %></td>
    <td class="edit"><%= link_to image_tag("edit.png", style: "width: 20px;"), edit_transporttank_path(transporttank) %></td>
    <td class="del" title="Удалить"><%= link_to image_tag("remove.png", style: "width: 20px;"), transporttank, method: :delete, data: { confirm: 'Точно?' } %></td>
  </tr>
<% end %>
  <tr> <th><%= button_to 'Добавить топливный бак', new_transporttank_path(model: @transportmodel) %></th>
     <th colspan="5">
      <%= link_to 'К моделям ТС', transportmodels_path(brand: @transportmodel.transportbrand) if @transportmodel %>
      <%= link_to 'Все топливные баки', transporttanks_path if @transportmodel %>
     </th> </tr>
</table>
<%= will_paginate @transporttanks, class: "apple_pagination" %>


