<h2>Просмотрcontract_types</h2>
<table>
  <tr>
    <th>Id:</th>
    <td><%= @contract_type.id %></td>
  </tr>
  <tr>
    <th>Name:</th>
    <td><%= @contract_type.name %></td>
  </tr>
  <tr>
    <th>Descr:</th>
    <td><%= @contract_type.descr %></td>
  </tr>
  <tr>
    <th>
    <%= link_to 'Редактировать', edit_contract_type_path(@contract_type) %>
    <%= link_to 'Вернуться', contract_types_path %>
    </th>
  </tr>
</table>

 

