

<h2>Функционал. <%= @msg if @msg %></h2>
<%= link_to "Все функционалы", usergroups_path  if @msg %>

<table>
  <tr>
    <th>Наименование</th>
    <th><%= link_to 'Роли', roles_path %></th>
    <th><%= link_to 'Группы', usergroups_path %></th>
    <th><%= link_to "Пользователи" , users_path %> </th>
    <th colspan="3"></th>
  </tr>

<% @functionals.each do |functional| %>
  <tr class="<%= cycle("","even") %>">
    <td><%= functional.name %> <span class="red"><%= "удалено" if functional.is_close  %></span></td>
    <td><%= link_to "Роли с функционалом" ,roles_path(functional: functional) if functional.roles.any? %> </td>
    <td><%= link_to "Группы с функционалом" ,usergroups_path(functional: functional) if functional.usergroups.any? %> </td>
    <td><%= link_to "Пользователи с функционалом" ,users_path(functional: functional) if functional.users.any? %> </td>
    <td><%= link_to 'Просмотр' , functional %> </td>
    <td class="edit"><%= link_to link_to image_tag("edit.png", style: "width: 20px;"), edit_functional_path(functional) %></td>
    <td class="del" title="Удалить"><%= link_to link_to image_tag("remove.png", style: "width: 20px;"), functional, method: :delete, data: { confirm: 'Точно?' } %></td>
  </tr>

<% end %>
  <tr><th colspan="7"><%= link_to 'Новый функционал', new_functional_path %></th> </tr>
</table>



