
<% if @document.errors.any? %>
    <div id="error_explanation">
      <h2>Ошибок: <%= @document.errors.count %></h2>

      <ul>
      <% @document.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


<%= form_for @document, html: { multipart: true }  do |f| %>
  <%= f.hidden_field :transport, value: @transport.id if @transport %>
  <%= f.hidden_field :person, value: @person.id if @person %>
  <%= f.hidden_field :documentkind_id %>
  <table>

  <!--  <tr>
      <th><%= f.label :parent_id, "Родитель" %>
      <%= link_to  "редактировать", action: "edit", id: @document.parent_id if @document.parent_id  %> </th>
      <td>  <%#= f.collection_select( :parent_id, (Document.visible - [@document]), :id, :series, { prompt: @document.parent ? nil : "Выберите родителя", selected: @document.parent ? @document.parent.id : nil}  )%>
        <%= f.select :parent_id, nested_set_options(Document, @document) {|i| "#{'++++   ' * i.level} #{i.series}" },
          { prompt: @document.child? ? nil : "Выберите родителя",
           selected: @document.child? ? @document.parent_id : nil} %>
       
        <%#= select_tag 'parent_id', options_for_select(nested_set_options(Category) {|i| "#{'-' * i.level} #{i.name}" } ) %>
      </td>
    </tr>
  -->
    <tr>
      <th><%= f.label :documentkind_id, "Тип и вид документа" %></th>
      <td>
          <%= link_to url_for(action: "show_part", part: "document_kind", id: @document),  remote: true do %>
          <%= image_tag( "edit.png", style: "width: 20px; cursor: pointer;") %> Редактировать.
          <% end if @document.id%>
      </td>
      <th>Тип:</th><td> <%= @document.documentkind.documenttype.name if @document.documentkind  %></td>
      <th>вид:</th><td> <%= @document.documentkind.name if @document.documentkind %>  </td>
    </tr>
    <tr>
      <th><%= f.label :transport_id, "ТС" %>
          <%= link_to action: "show_part", part: "document_transport", id: @document , remote: true do %>
          <%= image_tag( "edit.png", style: "width: 20px; cursor: pointer;") %> Редактировать.
          <% end if @document.id %>
      </th>
      <td><%= @document.transport.name if @document.transport %></td>
    </tr>

  </table>
  <%= transport(@document.transport || @transport) %>
  <%= person(@document.person || @person) %>
  <table>
    <tr>
      <th><%= f.label :series, "Серия" %></th>
      <th><%= f.label :number, "Номер" %></th>
      <th><%= f.label :category, "Категория" %></th>
     
    </tr>
    <tr>
      <td><%= f.text_field :series if document_attr?(@document, :series)%></td>
      <td><%= f.text_field :number if document_attr?(@document, :number)%></td>
      <td><%= f.text_field :category if document_attr?(@document, :category)%></td>
    </tr>
  </table>

  <table>
    <tr>
      <th><%= f.label :registration, "Рег. знак" %></th>
      <th><%= f.label :issued_by, "Кем выдан" %></th>
      <th style="width:60px"><%= f.label :issued_date, "Дата выдачи" %></th>
      <th style="width:60px"><%= f.label :start_date, "Начало срока действия" %></th>
      <th style="width:60px"><%= f.label :end_date, "Окончание срока действия" %></th>
    </tr>
    <tr>
      <td><%= f.text_field :registration if document_attr?(@document, :registration)%></td>
      <td><%= f.text_field :issued_by if document_attr?(@document, :issued_by)%></td>
      <td><%= f.text_field :issued_date if document_attr?(@document, :issued_date)%></td>
      <td><%= f.text_field :start_date if document_attr?(@document, :start_date)%></td>
      <td><%= f.text_field :end_date if document_attr?(@document, :end_date)%></td>
    </tr>
 <!--   <tr>
      <th><%= f.label :contract_id, "Договор" %></th>
      <td><%#= f.text_field :contract_id %></td>
      <th><%= f.label :contractor_id, "Контрагент" %></th>
      <td><%#= f.text_field :contractor_id %></td>
    </tr>
 -->
  </table>

    <%= fields_for @documentfile do |dfile| %>
  <table>
    <tr>
      <th>Загрузить файл </th>
      <td colspan="2"><%= dfile.file_field :fname %></td>
    </tr>
    <% for documentfile in @documentfiles do %>
    <tr>
      <th><%= documentfile.descr %> (<%= documentfile.fname %>)</th> 
      <td> <%= link_to "Скачать", "/documents/#{documentfile.fname}", target: '_blank'%> </td>
      <td class="del" title="Удалить">
      <%= link_to image_tag("remove.png"), {action: 'del_file', id: documentfile, document: @document}, method: :delete, data: { confirm: 'Точно?' } %>
      </td>
    </tr>
    <% end if @documentfiles%>
  </table>
    <% end %>


<table>
    <tr>
      <td><%= f.label :is_close, "Удалено" %> <%= f.check_box :is_close %></td>
      <th colspan="3"><%= f.submit "Сохранить" %> <%= link_to 'Вернуться к документам', documents_path %>
       <%= link_to 'Вернуться к физ. лицам', people_path if @person %>
       <%= link_to 'Вернуться к ТС', transports_path if @transport %>
      </th>
    </tr>
</table>

<% end %>

<script>
      $('#document_issued_date').datetimepicker({ format:'d/m/Y'});
      $('#document_start_date').datetimepicker({ format:'d/m/Y'});
      $('#document_end_date').datetimepicker({  format:'d/m/Y'});
</script>