<h2>Документы</h2>


<%= will_paginate @documents, class: "apple_pagination" %>

<table>
  <tr>
   <!-- <th>Родитель</th> -->
    <th>Вид документа</th>
    <th>ТС</th>
    <th>Физ. лицо</th>
    <th>Серия,№</th>
    <th>Категория</th>
    <th>Удалено</th>
    <th></th>
    <th colspan="2"></th>
    
  </tr>

 <% @documents.each do |document| %>
  <tr>
  <!--  <td style="background-color: #EDEDED;">Root <%= document.parent.series if document.parent%></td> -->
    <td><%= document.documentkind.name if document.documentkind %></td>
    <td><%= document.transport.name if document.transport %></td>
    <td><%= document.person.fullname if document.person %></td> 
    <td><%= document.series %>, <%= document.number %></td>
    <td><%= document.category %></td>
    <td><b style="color: red;"><%= document.is_close ? "Удален" : ""%></b></td>
    <td><%#= link_to 'Просмотр', document %></td>
    <td class="edit">
      <%= link_to image_tag("edit.png"), edit_document_path(document, page: params[:page]) %>
    </td>
    <td class="del" title="Удалить">
      <%= link_to image_tag("remove.png"), document, method: :delete, data: { confirm: 'Точно?' } %>
    </td>
  </tr>
  <%= render 'children', :item => document unless document.leaf? %>

<% end %>
</table>

<table>
<tr>
  <th><%#= button_to 'Новый документ', new_document_path %></th>

</tr>
</table>



<%= will_paginate @documents, class: "apple_pagination" %>