<h2>Типы документов</h2>
<%= will_paginate @documenttypes, class: "apple_pagination" %>
<table>
  <tr>
    <th>Наименование</th>
    <th>Виды документов</th>
    <th>Описание</th>
    <th>Удален</th>
    <th colspan="2"></th>

  </tr>

<% @documenttypes.each do |documenttype| %>
  <tr>
    <td><%= documenttype.name %></td>
    <td><%=link_to "виды документов (#{documenttype.documentkinds.size})" , documentkinds_path(type: documenttype) if documenttype.documentkinds %></td>
    <td><%= documenttype.descr %></td>
    <td><b style="color: red;"><%= documenttype.is_close ? "Удален" : ""%></b></td>
    <td class="edit"><%= link_to image_tag("edit.png"), edit_documenttype_path(documenttype) %></td>
    <td class="del" title="Удалить"><%= link_to image_tag("remove.png"), documenttype, method: :delete, data: { confirm: 'Точно?' } %></td>
  </tr>
<% end %>
<tr><th><%= button_to 'Новый тип документа', new_documenttype_path %></th></tr>

</table>

<%= will_paginate @documenttypes, class: "apple_pagination" %>

