
<% if @contract_subject_select.errors.any? %>
    <div id="error_explanation">
      <h2>Ошибок: <%= @contract_subject_select.errors.count %></h2>

      <ul>
      <% @contract_subject_select.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<%= form_for(@contract_subject_select) do |f| %>
  <table>
    <tr>
      <th><%= f.label :contract_subject_id, "Предмет договора" %></th>
      <td><%= f.collection_select( :contract_subject_id, ContractSubject.visible, :id, :name,
              { prompt: @contract_subject_select.contract_subject_id ? nil : "Выберите предмет договора",
              selected: @contract_subject_select.contract_subject_id ? @contract_subject_select.contract_subject_id : nil}  )%>
      </td>
    </tr>
    <tr>
      <th><%= f.label :name, "Наименование" %></th>
      <td><%= f.text_field :name %></td>
    </tr>
    <tr>
      <th><%= f.label :descr, "Описание" %></th>
      <td><%= f.text_area :descr %></td>
    </tr>
    <tr>
      <th><%= f.label :is_close, "Удален" %></th>
      <td><%= f.check_box :is_close %></td>
    </tr>
    <tr>
      <th colspan="2"><%= f.submit "Сохранить" %> <%= link_to 'Вернуться', contract_subject_selects_path %></th>
    </tr>
  </table>
<% end %>
