<h2>Варианты предметов договоров</h2>


<%= will_paginate @contract_subject_selects, class: "apple_pagination" %>
<table>
<tr><th><%= button_to 'Новый вариант предмета договора', new_contract_subject_select_path %></th>
<td style="text-align: right;"> <%= link_to params[:show_del].blank? ? "Удаленные" : "Видимые", params[:show_del].blank? ? contract_subject_selects_path(show_del: 1) : contract_subject_selects_path if ContractSubjectSelect.invisible.any? %>
  </td>
</tr>
</table>
<table>
  <tr>
    <th>Вариант предмета договора</th>
    <th>Предмет договора</th>
    <th>Тип договора</th>
    <th>Описание</th>
    <th colspan="2"></th>

  </tr>

<% @contract_subject_selects.each do |contract_subject_select| %>
  <tr>
    <td><b><%= contract_subject_select.name %></b></td>
    <td><%= contract_subject_select.contract_subject.name %></td>
    <td><%= contract_subject_select.contract_subject.contract_type.name %></td>
    <td><%= contract_subject_select.descr %></td>
    <td class="edit">
      <%= link_to image_tag("edit.png"), edit_contract_subject_select_path(contract_subject_select) %>
    </td>
    <td class="del" title="Удалить">
      <%= link_to image_tag("remove.png"), contract_subject_select, method: :delete, data: { confirm: 'Точно?' } unless contract_subject_select.is_close %>
    </td>
  </tr>
<% end %>
</table>
<table>
<tr><th><%= button_to 'Новый вариант предмета договора', new_contract_subject_select_path if @contract_subject_selects.size > 10 %></th></tr>
</table>

<%= will_paginate @contract_subject_selects, class: "apple_pagination"  %>