<h2>Просмотрcontract_subject_selects</h2>
<table>
  <tr>
    <th>Id:</th>
    <td><%= @contract_subject_select.id %></td>
  </tr>
  <tr>
    <th>Contract subject:</th>
    <td><%= @contract_subject_select.contract_subject_id %></td>
  </tr>
  <tr>
    <th>Name:</th>
    <td><%= @contract_subject_select.name %></td>
  </tr>
  <tr>
    <th>Dscr:</th>
    <td><%= @contract_subject_select.dscr %></td>
  </tr>
  <tr>
    <th>Is close:</th>
    <td><%= @contract_subject_select.is_close %></td>
  </tr>
  <tr>
    <th>
    <%= link_to 'Редактировать', edit_contract_subject_select_path(@contract_subject_select) %>
    <%= link_to 'Вернуться', contract_subject_selects_path %>
    </th>
  </tr>
</table>

 

