
<% if @contractor.errors.any? %>
    <div id="error_explanation">
      <h2>Ошибок: <%= @contractor.errors.count %></h2>

      <ul>
      <% @contractor.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<%= form_for(@contractor) do |f| %>
  <table>
    <tr>
      <th><%= f.label :name, "Наименование" %></th>
      <td colspan="2"><%= f.text_field :name %></td>
      <td> <%= f.label :is_legal, "Юр./физ. лицо" %>&nbsp;&nbsp;<%= f.check_box :is_legal, onchange: "if ($('#contractor_is_legal').prop('checked')) {$('#legal').html('Юр. лицо')} else {$('#legal').html('Физ. лицо')}"%>
        &nbsp;&nbsp;<b id="legal"><%= @contractor.is_legal ? "Юр. лицо" : "Физ. лицо"  %> </b>
      </td>
    </tr>
    <tr>
      <th><%= f.label :parent_id, "Родитель" %></th>
      <td><%= f.select :parent_id, nested_set_options(Contractor.visible, @contractor) {|i| "#{'++++   ' * i.level} #{i.name}" },
          { selected: @contractor.child? ? @contractor.parent_id : nil, include_blank: "Нет" } %>
      </td>
      <th><%= f.label :contractortype_id, "Тип  контрагента" %></th>
      <td><%= f.collection_select( :contractortype_id, Contractortype.visible, :id, :name,
              { prompt: @contractor.contractortype_id ? nil : "Выберите тип контрагента",
              selected: @contractor.contractortype_id ? @contractor.contractortype_id : nil}  )%>
      </td>
    </tr>
    <tr>
      <th><%= f.label :inn, "ИНН" %></th>
      <td><%= f.number_field :inn %></td>
      <th><%= f.label :kpp, "КПП" %></th>
      <td><%= f.text_field :kpp %></td>
    </tr>
    <tr>
      <th><%= f.label :start_date, "Начало сотрудничества" %></th>
      <td><%= f.text_field :start_date %></td>
      <th><%= f.label :end_date, "Окончание сотрудничества" %></th>
      <td><%= f.text_field :end_date %></td>
    </tr>
    <tr>
      <th colspan="2"><%= f.submit "Сохранить" %> <%= link_to 'Вернуться к контрагентам', contractors_path %></th>
    </tr>
  </table>
<% end %>

<script>
      $('#contractor_start_date').datetimepicker({format:'d/m/Y'});
      $('#contractor_end_date').datetimepicker({format:'d/m/Y'});
</script>
