<h2>Контрагенты</h2>
<%= will_paginate @contractors, class: "apple_pagination" %>
<table>
<tr><th><%= button_to 'Новый контрагент', new_contractor_path %></th></tr>
</table>
<table>
  <tr>
    <th>Наименование</th>
    <th>Юр./физ. лицо</th>
    <th>Тип контрагента</th>
    <th>Родитель</th>
    <th>ИНН</th>
    <th>КПП</th>
    <th>Начало сотрудничества</th>
    <th>Окончание сотрудничества</th>
    <th></th>
    <th colspan="2"></th>

  </tr>

<% @contractors.each do |contractor| %>
  <tr>
    <td><%= contractor.name %></td>
    <td><%= contractor.is_legal ? "Юр.лицо" : "Физ. лицо" %></td>
    <td><%= contractor.contractortype.name if contractor.contractortype %></td>
    <td><%= contractor.parent.name if contractor.child? %></td>
    <td><%= contractor.inn %></td>
    <td><%= contractor.kpp %></td>
    <td><%= contractor.start_date.strftime("%d-%m-%Y") %></td>
    <td><%= contractor.end_date.strftime("%d-%m-%Y") if contractor.end_date %></td>
    <td class="edit">
      <%= link_to image_tag("edit.png"), edit_contractor_path(contractor) %>
    </td>
    <td class="del" title="Удалить">
      <%= link_to image_tag("remove.png"), contractor, method: :delete, data: { confirm: 'Точно?' } %>
    </td>
  </tr>
<% end %>
</table>
<table>
<tr><th><%= button_to 'Новый контрагент', new_contractor_path if @contractors.size > 10%></th></tr>
</table>

<%= will_paginate @contractors, class: "apple_pagination" %>