<h2>Просмотрcontractors</h2>
<table>
  <tr>
    <th>Id:</th>
    <td><%= @contractor.id %></td>
  </tr>
  <tr>
    <th>Parent:</th>
    <td><%= @contractor.parent_id %></td>
  </tr>
  <tr>
    <th>Lft:</th>
    <td><%= @contractor.lft %></td>
  </tr>
  <tr>
    <th>Rgt:</th>
    <td><%= @contractor.rgt %></td>
  </tr>
  <tr>
    <th>Contragenttype:</th>
    <td><%= @contractor.contragenttype %></td>
  </tr>
  <tr>
    <th>Name:</th>
    <td><%= @contractor.name %></td>
  </tr>
  <tr>
    <th>Inn:</th>
    <td><%= @contractor.inn %></td>
  </tr>
  <tr>
    <th>Kpp:</th>
    <td><%= @contractor.kpp %></td>
  </tr>
  <tr>
    <th>Start date:</th>
    <td><%= @contractor.start_date %></td>
  </tr>
  <tr>
    <th>End date:</th>
    <td><%= @contractor.end_date %></td>
  </tr>
  <tr>
    <th>
    <%= link_to 'Редактировать', edit_contractor_path(@contractor) %>
    <%= link_to 'Вернуться', contractors_path %>
    </th>
  </tr>
</table>

 

