<h2>Штатные единицы (<%=@staff_units_count%>)</h2>

<%= will_paginate @staff_units, class: "apple_pagination" %>
<table>
<tr><th><%= button_to 'Новая штатная единица', new_staff_unit_path %></th>

    <%= form_tag  url_for( action: 'index'), method: :get do %>
    <td style="width: 200px;"> <%= label_tag "Контрагенты" %>
        <%= select_tag( :contractor, options_for_select(@contractors.map { |m| [m.name, m.id] }, { selected: params[:contractor].blank? ? nil : params[:contractor]}), {prompt: "Все контрагенты:"}) %> </td>
    <td style="width: 200px;"> <%= label_tag "Подразделения" %>
        <%= select_tag(:department,  options_for_select(@departments.map { |m| [m.name, m.id, { class: m.contractor_id}] }, { selected: params[:department].blank? ? nil : params[:department] }), {prompt: "Все подразделения:"}) %>
    </td>
    <th style="width: 70px;">  <%= submit_tag "Выбрать", id: "submit"%> </th>
    <% end %>
</tr>
</table>
<table>
  <tr>
    <th>Контрагент</th>
    <th>Подразделение</th>
    <th>Должность</th>
    <th>Статус</th>
    <th>Сотрудник</th>
    <th>Описание</th>
  </tr>

<% @staff_units.each do |staff_unit| %>
  <tr>
    <td <%= 'class=deleted title=Удален' if staff_unit.is_close %>><%= staff_unit.contractor.name if staff_unit.contractor%> </td>
    <td><%= staff_unit.department.name if staff_unit.department %></td>
    <td><%= staff_unit.position.name if staff_unit.position %></td>
    <td><%= staff_unit.head ? "Руководитель" : "Сотрудник" %></td>
    <td><%=raw  staff_unit.employee && staff_unit.employee.person ? staff_unit.employee.person.fullname : '<b style="color: red;">НЕТ</b>' %></td>
    <td><%= staff_unit.descr %></td>
     <td class="show">
      <%= link_to image_tag("show.png"), staff_unit, remote: true %>
    </td>
    <td class="edit">
      <%= link_to image_tag("edit.png"), edit_staff_unit_path(staff_unit) %>
    </td>
    <td class="del" title="Удалить">
      <%= link_to image_tag("remove.png"), staff_unit, method: :delete, data: { confirm: 'Точно?' } unless staff_unit.is_close %>
    </td>
  </tr>
<% end %>
</table>
<table>
<tr><th><%= button_to 'Новая штатная единица', new_staff_unit_path if @staff_units.size > 10 %></th></tr>
</table>

<%= will_paginate @staff_units, class: "apple_pagination"  %>


<script>
  $(function() {
    $("#department").chained("#contractor");
  });

</script>