<h2>Свойства типа объекта</h2>
<%= will_paginate @objecttypeproperties, class: "apple_pagination" %>
<table>
  <tr>
    <th>Тип объекта</th>
    <th>Подписчик</th>
    <th>Наименование</th>
    <th>Описание</th>
    <th>Дата активации</th>
    <th>Дата де-активации</th>
    <th>Удалено</th>
    <th colspan="2"></th>

  </tr>

<% @objecttypeproperties.each do |objecttypeproperty| %>
  <tr>
    <td><%= objecttypeproperty.objecttype.name %></td>
    <td><%= objecttypeproperty.system.name %></td>
    <td><%= objecttypeproperty.name %></td>
    <td><%= objecttypeproperty.description %></td>
    <td><%= objecttypeproperty.start %></td>
    <td><%= objecttypeproperty.end %></td>
    <td><%= objecttypeproperty.is_close %></td>
    <td class="edit">
      <%= link_to image_tag("edit.png"), edit_objecttypeproperty_path(objecttypeproperty) %>
    </td>
    <td class="del" title="Удалить">
      <%= link_to image_tag("remove.png"), objecttypeproperty, method: :delete, data: { confirm: 'Точно?' } %>
    </td>
  </tr>
<% end %>
<tr><th colspan="9"><%= link_to 'Новое свойства типа объекта', new_objecttypeproperty_path %></th></tr>

</table>

<%= will_paginate @objecttypeproperties, class: "apple_pagination" %>