

<h1>Авторизация</h1>

 <div style="margin: 0 auto; text-align: center; width: 450px;">
<%= devise_error_messages! %>
 </div>

	<section class="main">
		<%= form_for( resource, {:as => resource_name, :url => session_path(resource_name)}) do |f| %>
		  <%= f.text_field :email, :autofocus => true , :placeholder => 'Ваш логин' %>
                  <%= f.password_field :password, :placeholder => 'Ваш пароль' %>
                  <% if devise_mapping.rememberable?%>
                           <div style="margin-top: 5px;">
                           <%= f.check_box :remember_me %> <%= f.label "Запомнить меня" %>
                            </div>
                  <% end %>
                <p class="submit">
                  <%= f.button 'Ok' , :name => 'submit', style: "background-color: none;"%>
                </p>
                <% end %>
	</section>


<%#= render "devise/shared/links" %>
