
<%% if @<%= singular_table_name %>.errors.any? %>
    <div id="error_explanation">
      <h2>Ошибок: <%%= @<%= singular_table_name %>.errors.count %></h2>

      <ul>
      <%% @<%= singular_table_name %>.errors.full_messages.each do |msg| %>
        <li><%%= msg %></li>
      <%% end %>
      </ul>
    </div>
  <%% end %>

<%%= form_for(@<%= singular_table_name %>) do |f| %>
  <table>
<% attributes.each do |attribute| -%>
    <tr>
      <th><%%= f.label :<%= attribute.name %>, "" %></th>
      <td><%%= f.<%= attribute.field_type %> :<%= attribute.name %> %></td>
    </tr>
<% end -%>
    <tr>
      <th colspan="2"><%%= f.submit "Сохранить" %> <%%= link_to 'Вернуться', <%= index_helper %>_path %></th>
    </tr>
  </table>
<%% end %>
