<h2><%= plural_table_name %></h2>


<%%= will_paginate @<%= plural_table_name %>, class: "apple_pagination" %>
<table>
<tr><th><%%= link_to 'Новый <%= human_name %>', new_<%= singular_table_name %>_path %></th></tr>
</table>
<table>
  <tr>
<% attributes.each do |attribute| -%>
    <th><%= attribute.human_name %></th>
<% end -%>
    <th colspan="3"></th>

  </tr>

<%% @<%= plural_table_name %>.each do |<%= singular_table_name %>| %>
  <tr>
<% attributes.each do |attribute| -%>
    <td><%%= <%= singular_table_name %>.<%= attribute.name %> %></td>
<% end -%>
     <td class="show">
      <%%= link_to image_tag("show.png"), <%= singular_table_name %> %> 
    </td>
    <td class="edit">
      <%%= link_to image_tag("edit.png"), edit_<%= singular_table_name %>_path(<%= singular_table_name %>) %>
    </td>
    <td class="del" title="Удалить">
      <%%= link_to image_tag("remove.png"), <%= singular_table_name %>, <%= key_value :method, ":delete" %>, <%= key_value :data, "{ #{key_value :confirm, "'Точно?'"} }" %> unless <%= singular_table_name %>.is_close %>
    </td>
  </tr>
<%% end %>
</table>
<table>
<tr><th><%%= link_to 'Новый <%= human_name %>', new_<%= singular_table_name %>_path if @<%= plural_table_name %>.size > 10 %></th></tr>
</table>

<%%= will_paginate @<%= plural_table_name %>, class: "apple_pagination"  %>