<h2>Просмотр<%= plural_table_name %></h2>
<table>
<% attributes.each do |attribute| -%>
  <tr>
    <th><%= attribute.human_name %>:</th>
    <td><%%= @<%= singular_table_name %>.<%= attribute.name %> %></td>
  </tr>
<% end -%>
  <tr>
    <th>
    <%%= link_to 'Редактировать', edit_<%= singular_table_name %>_path(@<%= singular_table_name %>) %>
    <%%= link_to 'Вернуться', <%= index_helper %>_path %>
    </th>
  </tr>
</table>

 

