<h2>Согласование</h2>

<% if @agree %>
<table>
  <tr>
    <th style="width: 100px;">Дата согласования</th>
    <th style="width: 100px;">Кем согласовано</th>
    <th>Комментарий</th>
    <th style="width: 30px;"</th>
  </tr>
  <tr>
  <th><%= @agree.created_at + 4.hour %></th>
    <th><%= User.find(@agree.user_id).fullname %></th>
    <td><%= @agree.note %></td>
    <td><%= link_to image_tag("remove.png"), {action: 'disagree', OrderFromKey: @agree.OrderFromKey, OrderToKey:@agree.OrderToKey, truck: @truck}, method: :delete, data: { confirm: 'Точно отменить согласование?' }, remote: true, title: "отменить согласование" %></td>
  </tr>
</table>
<% else %>

  <%= form_tag url_for(action: 'agree'), remote: true do  %>
  <%= hidden_field_tag :OrderFromKey, @from_key %>
  <%= hidden_field_tag :OrderToKey, @to_key %>
  <%= hidden_field_tag :truck, @truck %>
<table>
  <tr>
    <th>
      Комментарий к согласованию
    </th>
    <td>
      <%=  text_area_tag :note %>
    </td>
    <th> <%= submit_tag "Согласовать" %></th>
  </tr>
</table>
  <% end %>
<% end %>
