
<%= agree_con(@order_from_key, @order_to_key) %>
<h2>Комментарии</h2>
<%= form_tag url_for(action: 'create_comment'), remote: true do  %>
  <%= hidden_field_tag :truck, @truck %>
  <%= hidden_field_tag :OrderFromKey, @order_from_key %>
  <%= hidden_field_tag :OrderToKey, @order_to_key %>
  <table>
    <tr>
      <th style="width: 90px;"><%=  label_tag :comment, "Ваш комментарий:" %></th>
      <td><%= text_area_tag :comment %></td>
    </tr>
    <tr>
      <th><%= submit_tag "Добавить комментарий" %> </th>
      <th style="text-align: right;"> <%=  link_to image_tag('refresh.png'),  {action: 'new_comment', order_from_key: @order_from_key, order_to_key: @order_to_key, truck: @truck} , remote: true, title: "Обновить" %></th>
    </tr>
  </table>
<% end %>

<% if @comments.any? %>
<div style="max-height: 450px; overflow-y: auto;  position: relative;">
<table>
  <thead>
  <tr><th style="width: 100px;">Дата:</th><th style="width: 100px;">Пользователь:</th><th>Комментарий:</th></tr>
  </thead>
    <tbody>
  <% @comments.each do |comment| %>
  <tr>
    <th><%= comment.created_at + 4.hour %></th>
    <th><%= User.find(comment.user_id).fullname %></th>
    <td><%= comment.comment %></td>
  </tr>
  <% end %>
   </tbody>
</table>
</div>
<% end %>