<table style="margin-left: 0; table-layout: fixed;">
  <tr>
    <th> Столбец </th>  <th> Значение </th>
  </tr>
  <tr>
    <td>
        <%= select_tag "col_name", options_for_select(@col_names, selected: params[:col_name] ),
           { prompt: params[:col_name] ? nil : "Выберите столбец" }  %>
    </td>
    <td id="select_filter">
      <select disabled="disabled" />
    </td>
  </tr>
  <tr>
    <th colspan="2">Поиск: </th>
  </tr>
  <tr>
    <td colspan="2">
      <%= text_field_tag :search  %>
    </td>
  </tr>
</table>



<script>
 if (typeof interval != "undefined") {clearTimeout(interval)};

 $(document).ready(function() {
  $('#col_name').change(function() {
    $.ajax({url: "/unavailables/select_filter",
      data: {col_name : $('#col_name').val(), from : $('#from').val(), to : $('#to').val()},
      dataType: "script"
          });
   });
  });

</script>