<div id="filter_and_search">
  <table>
    <tr>
      <td><%= button_to "Фильтры и поиск", {action: "show_filter_and_search", from: @from, to: @to}, method: "get", remote: true %></td>
      <td id="form_for_xls"><%= render "form_for_xls" %> </td>
      <th><%= button_to "Показать все", "/#{controller.controller_name}/#{controller.action_name}", method: :get %></th>
    </tr>
  </table>
</div>