
<%rec = request.referrer[(request.referrer.rindex('/')+1)..(request.referrer.rindex('?') ? request.referrer.rindex('?')-1 : -1)]
    rec = 'index' if rec == 'unavailables' or rec.blank?%>


<%= select_tag "filter", options_for_select(@for_filter, selected: params[:filter] ), { prompt: params[:filter] ? nil : "Выберите значение" }  %>



<script>
 if (typeof interval != "undefined") {clearTimeout(interval)};

 $(document).ready(function() {
  $('#filter').change(function() {
    //$.ajax({url: "/unavailables/upd", data: {filter : $('#filter').val(), col_ind : <%= @ind %> }, dataType: "script" });
    csrf();
    $('#search').val("");
    $.post("/unavailables/<%=rec -%>.js", {filter : $('#filter').val(), col_ind : <%= @ind %>, from : $('#from').val(), to : $('#to').val() });
   });
  });



 var availableTags = [
<% @for_search.each do |t| %>
  '<%=raw t %>',
<% end %>
];

    function split(val){
      return val.split( /,\s*/ );
    }
    function extractLast(term){
      return split(term).pop();
    }

    $("#search")
    // остановить смену фокуса, если выделен один из элементов автозаполнения
    .bind( "keydown", function(event){
      if ( event.keyCode === $.ui.keyCode.TAB &&
      $(this).data("autocomplete").menu.active ){
        event.preventDefault();
      }
    })
    .autocomplete({
      minLength: 0,
      source: function(request, response){
        // делегируем поиск элементов автозаполнения обратно плагину, предварительно убрав уже выбранные элементы
        response( $.ui.autocomplete.filter(
        availableTags, extractLast(request.term)) );
      },
      focus: function(){
        // отменяем вставку значения на получение фокуса
        return false;
      },
      select: function(event, ui){
        var terms = split(this.value);
        // удаляем вводимую часть текста и помещаем вместо нее выбранный элемент
        terms.pop();
        terms.push(ui.item.value);
        // собираем все элементы в строку, разделяя их запятыми и вставляем
        // строку обратно в текстовое поле
        terms.push("");
        this.value = terms.join(", ");
        return false;
      },
      close: function(event, ui) { $.ajax({url: "/unavailables/<%=rec -%>.js",  data: {search : $('#search').val(), col_ind : <%= @ind %>, from : $('#from').val(), to : $('#to').val() },  dataType: "script" })}
    });

</script>