        <%= form_tag url_for(controller: 'unavailables', action: 'save_xls', format: :xls) do %>
          <%= hidden_field_tag :unavailables, @unavailables.to_json  %>
          <%= hidden_field_tag :col_names, @col_names.to_json  %>
          <%= submit_tag "Сохранить в XLS" %>
        <% end %>