<script>
if (typeof interval != "undefined") {clearTimeout(interval)};
var filter = '<%=raw @filter if @filter %>'
var search = '<%=raw @search if @search %>'
var from = '<%= @from if @from %>'
var to = '<%= @to if @to %>'
var col_ind = '<%= @col_ind if @col_ind %>'
var page = '<%=  params[:page] if params[:page] %>'
interval = setTimeout("csrf(); $.post('/unavailables/<%=action_name -%>.js',{page:page, col_ind:col_ind, search:search, filter:filter, auto:1, from:from, to:to, auto:1 })", <%= $INTERVAL %>);
</script>