<table style="margin: 0;">
  <tr>
    <% @col_names.each do |c_name| %>
    <th><%= c_name %></th>
    <%end%>
  </tr>
  <% @relocate_request.each do |rr| %>
  <tr>
    <% rr.each do |td| %>
    <td> <%= td  %>  </td>
    <% end %>
  </tr>
  <% end %>
</table>