
<% @unavailables.each do |unavailable| %>
  <tr class="<%= cycle("","even") %> <%= 'select_green' if agree?(unavailable) %>">

      <% unavailable.each_with_index do |td, ind| %>
        <% unless @col_names[ind].index('#') %>
          <td  class="table_td_<%= ind %>" title="<%= @col_names[ind]%>">
           <% if  td.to_s.index('#') %>
              <%= link_to td[0..td.index('#')-1],{action: "connections_unv", id: td[td.index('#')+1..-1], ts: "ТС: #{unavailable[2]}" },remote: true %>
           <% end %>
              <%=td unless td.to_s.index('#') %>
          </td>
        <% end %>
      <% end %>
          <td  class="table_td_comment" title="Комментарий">
            <%= link_to_comment(unavailable) %>
            <span style="font-weight: bold; position: relative; top: -12px; left: -23px;"> <%= comments_count(unavailable) %> </span> <br/>
            <%#= image_tag('ok.png', title: 'Согласовано')  if agree?(unavailable)  %>
            <%= last_comment(unavailable) %>
          </td>
  </tr>
<% end %>

