  <tr>
    <% @col_names.each_with_index do |cname, ind|%>
      <% unless cname.index('#') %>
        <th class="table_th_<%=ind%>"> <%=  cname%> </th>
      <% end %>
    <% end if @col_names %>
  </tr>

