
<% @unavailables.each do |unavailable| %>
  <tr class="<%= cycle("","even") %>">
    <%  unavailable.each_with_index do |td, ind| %>
      <% unless @col_names[ind].index('#') %>
        <% case unavailable.last.to_s
          when "1"
            un_class = "unav_1"
          when "0"
            un_class = "unav_0"
          else
            un_class = ""
          end  %>
        <td class="table_td_<%= ind %> <%= "#{un_class}" if ind == 6%>" title="<%= @col_names[ind] %>">
          <% if ind == 6 and td.to_s.index('#') %>
              <%= link_to td[0..td.index('#')-1],{action: "repair_request", id: td[td.index('#')+1..-1], ts: "Тягач:#{unavailable[0]}, Прицеп:#{unavailable[1]}" , chain: 1},remote: true %>
          <% end %>

          <% if ind == 4 %>
              <%= link_to action: "repair_request", id: td[td.index('#')+1..-1], ts: "Тягач:#{unavailable[0]}, Прицеп:#{unavailable[1]}", remote: true do %>
                <%= td[0..td.index('#')-1] -%> <%= image_tag('tg_1.png') -%><% end if td.to_s.index('#') -%>

              <%= link_to action: "repair_request", id: unavailable[5][unavailable[5].index('#')+1..-1], ts: "Тягач:#{unavailable[0]}, Прицеп:#{unavailable[1]}", remote: true do %>
              <br/>  <%= unavailable[5][0..unavailable[5].index('#')-1] -%><%= image_tag('pr_1.png') -%><% end if unavailable[5].to_s.index('#') -%>
          <% end %>

          <%=raw (td) unless td.to_s.index('#')%>    
        </td>
      <% end %>
    <% end %>
  </tr>
<% end %>

