
if (typeof interval != "undefined") {clearTimeout(interval)};

$("#count").html("(<%= @un_count %>)");
$("#upd_th").html("<%=j render "unavailables_th" %>");

<% unless @auto %> $("#upd").hide(); <% end %>

$("#upd").delay(300).html("<%=j render "unavailables_con" %>");

$("#filter_status").html("<%=j render "filter_status" %>");

$("#upd_script").html("")

<% if @search or @col_ind or @filter %>
  $(".unv").css("display","none");
<% end %>

<% unless @auto %> 
  $("#upd").show(600);
  $("#form_for_xls").html("<%=j render "form_for_xls" %>");
<% end %>


var filter = '<%=raw @filter if @filter %>'
var search = '<%=raw @search if @search %>'
var from = '<%= @from if @from %>'
var to = '<%= @to if @to %>'
var col_ind = '<%= @col_ind if @col_ind %>'
var page = '<%=  params[:page] if params[:page] %>'
interval = setTimeout("csrf(); $.post('/unavailables/connections.js',{page:page, col_ind:col_ind, search:search, filter:filter, auto:1, from:from, to:to })", <%= $INTERVAL %>);
