<style>
table {font-size: 12px; }
table th {padding:3px 5px 3px 5px;}
table tr{padding-left:10px;}
table tr td {padding:1px 3px 1px 3px;}

.ui-autocomplete {max-height: 300px; overflow: auto;}
.button_to {display: inline;}

</style>

<h2>Мониторинг стыковок <span id="count">(<%= @un_count %>)</span> <span id="filter_status"> <%= render "filter_status" %> </span>
<!--
        <%#= form_tag url_for(controller: 'unavailables', action: 'connections') do %>
        <table style="width: 300px;">
          <tr>
            <th><%#= text_field_tag :from, Time.at(@from.to_i).strftime("%d/%m/%Y") %></th>
            <th><%#= text_field_tag :to, Time.at(@to.to_i).strftime("%d/%m/%Y") %></th>
            <th><%#= submit_tag "Выбрать интервал" %></th>
          </tr>
        </table>
        <%# end %>
-->
</h2>
<%= render "filter_menu" %>
  <%= will_paginate @unavailables, class: "apple_pagination unv", params: {from: @from, to: @to}  %>


  <table>
    <thead id="upd_th">
      <%= render "unavailables_th" %>
    </thead>
    <tbody id="upd">
      <%= render "unavailables_con" %>
    </tbody>
  </table>

<%= will_paginate @unavailables, class: "apple_pagination unv", params: {from: @from, to: @to}%>

<div id="upd_script">
<%= render "interval_js" %>
</div>

<script>
 $(".unv").css("display","block");

      $('#from').datetimepicker({ format:'d/m/Y'});
      $('#to').datetimepicker({ format:'d/m/Y'});

</script>