<style>
table {font-size: 12px; }
table th {padding:3px 5px 3px 5px; min-width: 75px;}
table tr{padding-left:10px;}
table tr td {padding:1px 3px 1px 3px;}
/*table tr td div { max-height: 70px; overflow: auto;}*/
.ui-autocomplete {max-height: 300px; overflow: auto;}
.button_to {display: inline;}
table tr td.table_td_11 {text-shadow: none;}
table tr th.table_th_4, table tr td.table_td_4 {background-color: #FFCC99; background-image: none; text-shadow: none; min-width:100px; }
table tr th.table_th_10, table tr td.table_td_10 {background-color: #9999CC; background-image: none;text-shadow: none; min-width: 100px;}
table tr th.table_th_5, table tr td.table_td_5 {min-width: 100px;}
table tr th.table_th_9, table tr td.table_td_9, table tr th.table_th_6, table tr td.table_td_6, table tr th.table_th_7, table tr td.table_td_7, table tr th.table_th_8, table tr td.table_td_8
{background-color: #99CC99; background-image: none;text-shadow: none;}


</style>
<h2>Состояние ТC <span id="count">(<%= @un_count %>)</span> <span id="filter_status"> <%= render "filter_status" %> </span></h2>
<%= render "filter_menu" %>

  <%= will_paginate @unavailables, class: "apple_pagination unv" %>

  <table>
    <thead id="upd_th">
      <%= render "unavailables_th" %>
    </thead>
    <tbody id="upd">
      <%= render "unavailables" %>
    </tbody>
  </table>

<%= will_paginate @unavailables, class: "apple_pagination unv"%>

<div id="upd_script">
<%= render "interval_js" %>
</div>
<script>
  $(".unv").css("display","block");
</script>