<style>
table {font-size: 12px;}
table th {padding:3px 5px 3px 5px; min-width: 75px;}
table tr{padding-left:10px;}
table tr td {padding:1px 3px 1px 3px;}
/*table tr td div { max-height: 70px; overflow: auto;}*/
.ui-autocomplete {max-height: 300px; overflow: auto;}
.button_to {display: inline;}
table tr td.table_td_6 {text-shadow: none;}
table tr th.table_th_3, table tr td.table_td_3 {background-color: #FFCC99; background-image: none; text-shadow: none;  }
table tr th.table_th_14, table tr td.table_td_14, table tr th.table_th_15, table tr td.table_td_15 {background-color: #9999CC; background-image: none;text-shadow: none; min-width: 100px;}
table tr th.table_th_8, table tr td.table_td_8, table tr th.table_th_9, table tr td.table_td_9,
table tr th.table_th_10, table tr td.table_td_10, table tr th.table_th_11, table tr td.table_td_11, table tr th.table_th_12, table tr td.table_td_12, table tr th.table_th_13, table tr td.table_td_13
{background-color: #99CC99; background-image: none;text-shadow: none;}

</style>
<h2>Состояние ТC ОЛ <span id="count">(<%= @un_count %>)</span> <span id="filter_status"> <%= render "filter_status" %> </span></h2>
<%= render "filter_menu" %>

  <%= will_paginate @unavailables, class: "apple_pagination unv" %>

  <table>
    <thead id="upd_th">
      <%= render "unavailables_th" %>
    </thead>
    <tbody id="upd">
      <%= render "unavailables_ol" %>
    </tbody>
  </table>

<%= will_paginate @unavailables, class: "apple_pagination unv"%>

<div id="upd_script">
<%= render "interval_js" %>
</div>

<script>
  $(".unv").css("display","block");
</script>