$("#popup_content").html("<%=j render "repair_request" %>");
$("#popup_head span").html("<%=j @popup_head %>");
$("#popup").css("position", "fixed");
$("#popup").css("top", "300px");
$("#popup").show(300);
