$("#popup_content").html("<%=j render partial: "filter_and_search" %>");
$("#popup_head span").html("Фильтрация и поиск");
$("#popup").css("position", "fixed");
$("#popup").css("top", "300px");
$("#popup").show(300);
