if (typeof interval != "undefined") {clearInterval(interval)};

$("#upd_th").html("<%=j render "unavailables_th" %>");

<% unless @auto %> $("#upd").hide(); <% end %>

<% if request.referrer['ol'] %>
  $("#upd").delay(300).html("<%=j render "unavailables_ol" %>");
<% elsif request.referrer['connections'] %>
  $("#upd").delay(300).html("<%=j render "unavailables_con" %>");
<% else %>
  $("#upd").delay(300).html("<%=j render "unavailables" %>");
<% end %>

$("#filter_status").html("<%=j render "filter_status" %>");

$("#upd_script").html("")

<% if @search or @col_ind or @filter or @from or @to %>
  $(".unv").css("display","none");
<% end %>

<% unless @auto %> 
  $("#upd").show(600);
  $("#form_for_xls").html("<%=j render "form_for_xls" %>");
<% end %>


var filter = '<%=raw @filter if @filter %>'
var search = '<%=raw @search if @search %>'
var from = '<%= @from if @from %>'
var to = '<%= @to if @to %>'
var col_ind = '<%= @col_ind if @col_ind %>'

interval = setInterval("csrf(); $.post('/unavailables/upd',{<%="page:#{params[:page]}," if params[:page] %>col_ind:col_ind, search:search, filter:filter, auto:1, from:from, to:to })", 7000);
