
<% if @truck_driver.errors.any? %>
    <div id="error_explanation">
      <h2>Ошибок: <%= @truck_driver.errors.count %></h2>

      <ul>
      <% @truck_driver.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<%= form_for(@truck_driver) do |f| %>
  <table>
    <tr>
      <th><%= f.label :transport_id, "Тягач" %></th>
      <td><%= f.collection_select( :transport_id, Transport.trucks , :id, :reg_num,
            { prompt: @truck_driver.transport_id ? nil : "Выберите тягач",
              selected: @truck_driver.transport_id ? @truck_driver.transport_id : nil  } )%>
      </td>
      <th><%= f.label :employee_id, "Сотрудник" %></th>
      <td><%= f.collection_select( :employee_id, Employee.driver_expeditors , :id, :person_info ,
            { prompt: @truck_driver.employee_id ? nil : "Выберите сотрудника",
              selected: @truck_driver.employee_id ? @truck_driver.employee_id : nil  } )%>
      </td>
    </tr>
    <tr>
      <th><%= f.label :start_date, "Начало взаимодействия" %></th>
      <td><%= f.text_field :start_date %></td>
      <th><%= f.label :end_date, "Конец взаимодействия" %></th>
      <td><%= f.text_field :end_date %></td>
    </tr>
    <tr>
      <th><%= f.label :is_close, "Расцеплена" %></th>
      <td><%= f.check_box :is_close %></td>
    </tr>
    <tr>
      <th colspan="2"><%= f.submit "Сохранить" %> <%= link_to 'Вернуться', truck_drivers_path %></th>
    </tr>
  </table>
<% end %>

<script>
      $('#truck_driver_start_date').datetimepicker({format:'d/m/Y'});
      $('#truck_driver_end_date').datetimepicker({format:'d/m/Y'});
</script>