<h2>Связки водитель - тягач</h2>

<%= will_paginate @truck_drivers, class: "apple_pagination" %>
<table>
<tr><th><%= button_to 'Новая связка', new_truck_driver_path %></th>

    <%= form_tag  url_for( action: 'index'), method: :get do %>
    <td style="width: 200px;"> <%= label_tag "Тягачи" %>
        <%= select_tag( :truck, options_for_select(TruckDriver.trucks.map { |m| [m.reg_num, m.transport_id] }, { selected: params[:truck].blank? ? nil : params[:truck]}), {prompt: "Все:"}) %> </td>
    <td style="width: 200px;"> <%= label_tag "Сотрудники" %>
        <%= select_tag(:driver,  options_for_select(Employee.truck_drivers.map { |m| [m.person_info, m.id] }, { selected: params[:driver].blank? ? nil : params[:driver] }), {prompt: "Все:"}) %>
    </td>
    <th style="width: 70px;">  <%= submit_tag "Выбрать"%> </th>
    <% end %>

</tr>
</table>
<table>
  <tr>
    <th><%= link_to 'Тягач',  truck_drivers_path(sort: 'truck') %></th>
    <th><%= link_to 'Сотрудник',  truck_drivers_path(sort: 'employee') %></th>
    <th>Начало взаимодействия</th>
    <th>Конец взаимодействия</th>
    <th colspan="3"></th>

  </tr>

<% @truck_drivers.each do |truck_driver| %>
  <tr>
    <td><%= truck_driver.transport.reg_num %></td>
    <td><%= truck_driver.employee.person_info %></td>
    <td><%= truck_driver.start_date %></td>
    <td><%= truck_driver.end_date %></td>
    <td class="show">
      <%#= link_to image_tag("show.png"), truck_driver %>
    </td>
    <td class="edit">
      <%= link_to image_tag("edit.png"), edit_truck_driver_path(truck_driver) %>
    </td>
    <td class="del" title="Удалить">
      <%= link_to image_tag("remove.png"), truck_driver, method: :delete, data: { confirm: 'Точно?' } unless truck_driver.is_close %>
    </td>
  </tr>
<% end %>
</table>
<table>
<tr><th><%= link_to 'Новый Truck driver', new_truck_driver_path if @truck_drivers.size > 10 %></th></tr>
</table>

<%= will_paginate @truck_drivers, class: "apple_pagination"  %>