<h2>Просмотрtruck_drivers</h2>
<table>
  <tr>
    <th>Id:</th>
    <td><%= @truck_driver.id %></td>
  </tr>
  <tr>
    <th>Track:</th>
    <td><%= @truck_driver.track_id %></td>
  </tr>
  <tr>
    <th>Employee:</th>
    <td><%= @truck_driver.employee_id %></td>
  </tr>
  <tr>
    <th>Is close:</th>
    <td><%= @truck_driver.is_close %></td>
  </tr>
  <tr>
    <th>Start date:</th>
    <td><%= @truck_driver.start_date %></td>
  </tr>
  <tr>
    <th>End date:</th>
    <td><%= @truck_driver.end_date %></td>
  </tr>
  <tr>
    <th>
    <%= link_to 'Редактировать', edit_truck_driver_path(@truck_driver) %>
    <%= link_to 'Вернуться', truck_drivers_path %>
    </th>
  </tr>
</table>

 

