  <% if @role.errors.any? %>
    <div id="error_explanation">
      <h2>Ошибок: <%= @role.errors.count %></h2>

      <ul>
      <% @role.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<%= form_for(@role) do |f| %>
<table>
  <tr><th><%= f.label "Наименование" %></th><td> <%= f.text_field :name %></td></tr>
  <tr><th><%= f.label "Описание" %></th><td> <%= f.text_area :descr %></td></tr>
  <tr><th><%= f.label :is_close, "Удалено" %></th><td><%= f.check_box :is_close %></td></tr>
</table>
<table>
  <tr><th colspan="2"><%= f.submit "Сохранить" %><%= link_to 'Вернуться', roles_path %></th></tr>
</table>
<% end %>

<div id="additional">
<%= render partial: "select_role_functional" , locals: {role: @role}%>
</div>