<div id="select_functional<%=role_functional.id%>">

<%
@functionals = Functional.visible
@current_functionals = role_functional.functionals
@addfunctionals = @functionals - @current_functionals
%>


<% if @current_functionals.any? %>
  <b> Удалить функционал: </b>
<% for functional in @current_functionals do %>
   <span style="margin-right: 5px; display: inline-block;">
    [<%=  functional.name %>
    <%= link_to 'x', url_for(action: "del_functional_from_role", id: role_functional , functional: functional ) , remote: true , style: "color: red; font-weight: bold;", data: { confirm: 'Точно?' } %>]
   </span>
<% end %>
<br/>
<% end %>



<%= form_tag  url_for( action: 'select_functional' , id: role_functional) , remote: true do %>

<b>Добавить функционал: </b>

<%= collection_select(:functional, :id, @addfunctionals, :id, :name) %>

<%= submit_tag "Ok" %>
<% end if @addfunctionals.any? %>
</div>