

<%
@functionals = Functionalgroup.roots.visible
@current_functionals = role.functionalgroups
@addfunctionals = @functionals - @current_functionals
%>


<% if @current_functionals.any? %>
  <table>
    <tr>
      <th>Удалить функционал:</th>
    <% for functional in @current_functionals do %>
      <td>
        <%= link_to functional.name, url_for(action: "del_functional_from_role", id: role , functional: functional ) , remote: true , style: "color: red; font-weight: bold;", data: { confirm: 'Точно?' } %>
      </td>
    <% end %>
    </tr>
  </table>
<% end %>



<%= form_tag  url_for( action: 'select_functional' , id: role) , remote: true do %>
<table>
  <tr> 
    <th>Добавить функционал: </th> 
    <td> <%= collection_select(:functional, :id, @addfunctionals, :id, :name) %> </td>
    <th><%= submit_tag "Добавить" %></th>
  </tr>
</table>
<% end if @addfunctionals.any? %>

