<h2>Роли</h2>

<%= will_paginate @roles, class: "apple_pagination" %>

<table>
  <tr class="<%= cycle("","even") %>">
    <th>Наименование</th>
    <th>Описание</th>
    <th style="width: 20%"><%= link_to 'Функционал', functionals_path %></th>
    <th style="width: 20%"><%= link_to "Пользователи" , users_path %> </th>
    <th colspan="2"></th>
  </tr>

<% @roles.each do |role| %>
  <tr>
    <td><%= role.name %><span class="red"><%= "удалено" if role.is_close  %></span></td>
    <td><%= role.descr %></td>
    <td><%= render partial: "role_functionals" , locals: {role: role}%> </td>
    <td><%= link_to "Пользователи с ролью" ,users_path(role: role) if role.users.any? %> </td>
    <td class="edit"><%= link_to image_tag("edit.png", style: "width: 20px;"), edit_role_path(role) %></td>
    <td class="del" title="Удалить"><%= link_to  image_tag("remove.png", style: "width: 20px;"), role: :delete, data: { confirm: 'Точно?' } %></td>
  </tr>
<% end %>
    <tr><th colspan="6"> <%= link_to 'Добавить роль', new_role_path %></th> </tr>
</table>

<%= will_paginate @roles, class: "apple_pagination" %>



