<h2>Роли предметов договоров</h2>


<%= will_paginate @contract_subject_roles, class: "apple_pagination" %>
<table>
<tr><th><%= button_to 'Новая роль предмета договора', new_contract_subject_role_path %></th>
  <td style="text-align: right;"> <%= link_to params[:show_del].blank? ? "Удаленные" : "Видимые", params[:show_del].blank? ? contract_subject_roles_path(show_del: 1) : contract_subject_roles_path if ContractSubjectRole.invisible.any? %>
  </td>
</tr>
</table>
<table>
  <tr>
    <th>Роль предмета договора</th>
    <th>Предмет договора</th>  
    <th>Тип договора</th>
    <th>Описание</th>
    <th colspan="2"></th>

  </tr>
<% @contract_subject_roles.group_by(&:contract_subject_id).each do |csi, contract_subject_role| %>
  <% tr_class = cycle("even","") %>
  <% contract_subject_role.each do |csr| %>
  <tr class="<%= tr_class%>">
    <td><b><%= csr.name %></b></td>
    <td><%= csr.contract_subject.name %></td>
    <td><%= csr.contract_subject.contract_type.name %></td>
    <td><%= csr.descr %></td>
    <td class="edit">
      <%= link_to image_tag("edit.png"), edit_contract_subject_role_path(csr) %>
    </td>
    <td class="del" title="Удалить">
      <%= link_to image_tag("remove.png"), csr, method: :delete, data: { confirm: 'Точно?' } unless csr.is_close %>
    </td>
  </tr>
  <% end %>
<% end %>
</table>
<table>
<tr><th><%= button_to 'Новая роль предмета договора', new_contract_subject_role_path if @contract_subject_roles.size > 10 %></th></tr>
</table>

<%= will_paginate @contract_subject_roles, class: "apple_pagination"  %>