<h2>Просмотрcontract_subject_roles</h2>
<table>
  <tr>
    <th>Id:</th>
    <td><%= @contract_subject_role.id %></td>
  </tr>
  <tr>
    <th>Contract subject:</th>
    <td><%= @contract_subject_role.contract_subject_id %></td>
  </tr>
  <tr>
    <th>Name:</th>
    <td><%= @contract_subject_role.name %></td>
  </tr>
  <tr>
    <th>Descr:</th>
    <td><%= @contract_subject_role.descr %></td>
  </tr>
  <tr>
    <th>Is close:</th>
    <td><%= @contract_subject_role.is_close %></td>
  </tr>
  <tr>
    <th>
    <%= link_to 'Редактировать', edit_contract_subject_role_path(@contract_subject_role) %>
    <%= link_to 'Вернуться', contract_subject_roles_path %>
    </th>
  </tr>
</table>

 

