
  <% if @transportmodel.errors.any? %>
    <div id="error_explanation">
      <h2> Ошибок: <%= @transportmodel.errors.count%></h2>

      <ul>
      <% @transportmodel.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


<%= form_for(@transportmodel) do |f| %>
      


<table>
  <tr> <th><%= f.label :transportbrand_id , "Марка ТС" %> </th>
       <td>  <%= f.collection_select( :transportbrand_id, Transportbrand.order(:name), :id, :name,
              { prompt: @transportmodel.transportbrand_id ? nil : "Выберите марку ТС",
              selected: @transportmodel.transportbrand_id ? @transportmodel.transportbrand_id : nil}  )%></td>
       <th colspan="2"><%= f.label :name , "Модель ТС" %> </th> <td colspan="2"><%= f.text_field :name %> </td>
  </tr>
</table>



<table>
  <tr>
       <th><%= f.label :weight , "Собственный вес" %></th> 
       <th><%= f.label :capacity , "Грузоподъёмность" %> </th> 
       <th><%= f.label :overall_height , "Габаритная высота" %></th>   
       <th><%= f.label :overall_width , "Габаритная ширина" %> </th> 
       <th><%= f.label :overall_length , "Габаритная длинна" %></th> 
  </tr>
  <tr>
      <td><%= f.text_field :weight %> </td>
      <td><%= f.text_field :capacity %> </td>
      <td><%= f.text_field :overall_height %> </td>
      <td><%= f.text_field :overall_width %> </td>
      <td><%= f.text_field :overall_length %> </td>
  </tr>
</table>





<% if @transportmodel.id %>

<table>
  <tr>
    <th style="width: 33%;">
      <%=link_to f.check_box(:is_engine), action: 'chng_attr', id: @transportmodel, attr: "is_engine", remote: true %>
      <%= f.label :is_engine , "Наличие двигателя" %>
    </th>
    <th style="width: 33%;">
      <%=link_to f.check_box(:is_loading), action: 'chng_attr', id: @transportmodel, attr: "is_loading", remote: true %>
      <%= f.label :is_loading , "Наличие погрузки" %>
    </th>
    <th style="width: 33%;">
      <%=link_to f.check_box(:is_fuelling), action: 'chng_attr', id: @transportmodel, attr: "is_fuelling", remote: true %>
      <%= f.label :is_fuelling , "Наличие топливного бака" %>
    </th>
  </tr>
  <tr>
    <td>
      <div class="is_engine"  class="field" style="<%= if @transportmodel.is_engine then "display: block" else "display: none" end %>">
        <table>
          <tr> <th>Тип двигателя </th> </tr>
          <tr> <td> <%=  @transportmodel.enginetypes.first.name if @transportmodel.enginetypes.any? %></td>   </tr>
          <tr> <th>
                <%= link_to action: "show_part", part: "model_engine", id: @transportmodel , remote: true do %>
                <%= image_tag( "edit.png", style: "width: 20px; cursor: pointer;") %> Редактировать.
                <% end %>
              </th>
          </tr>
         </table>
      </div>
    </td>
    <td>
      <div class="is_loading"  class="field" style="<%= if @transportmodel.is_loading then "display: block" else "display: none" end %>">
         <table>
          <tr> <th>Типы погрузки </th> </tr>
          <tr>
            <td>
            <% for loading in @transportmodel.transportloadings do %>
              <%=  loading.loading %> <br/>
            <% end %>
            </td>
          </tr>
          <tr> <th>
                <%= link_to action: "show_part", part: "model_loading", id: @transportmodel , remote: true do %>
                <%= image_tag( "edit.png", style: "width: 20px; cursor: pointer;") %> Редактировать.
                <% end %>
              </th>
          </tr>
         </table>
      </div>
    </td>
    <td>
       <div class="is_fuelling"  class="field" style="<%= if @transportmodel.is_fuelling then "display: block" else "display: none" end %>">
         <table>
           <tr> <th colspan="2">Топливный бак </th> </tr>
           <tr> <th>Объём </th> <th>мин. остаток </th> </tr>
           <% for tank in @transportmodel.transporttanks do %>
           <tr>
             <td> <%=  tank.v_tank %> </td> <td> <%=  tank.v_tank_min %> </td>
           </tr>
            <% end %>
           <tr> <th colspan="2">
                <%= link_to action: "show_part", part: "model_tanks", id: @transportmodel , remote: true do %>
                <%= image_tag( "edit.png", style: "width: 20px; cursor: pointer;") %> Редактировать.
                <% end %>
              </th>
          </tr>
         </table>
      </div>
    </td>
  </tr>
</table>

<table class="is_loading" style="<%= if @transportmodel.is_loading then "" else "display: none" end %>">
  <tr>
       <th><%= f.label :useful_height , "Полезная высота" %> </th> <td><%= f.text_field :useful_height %> </td>
       <th><%= f.label :useful_width , "Полезная ширина" %></th> <td><%= f.text_field :useful_width %> </td>
       <th><%= f.label :useful_length , "Полезная длинна" %> </th> <td><%= f.text_field :useful_length %> </td>
       <th><%= f.label :useful_volume , "Полезный объем" %> </th> <td><%= f.text_field :useful_volume %> </td>
  </tr>
</table>

<table>
  <tr> <th> </th> <th>Категория ТС </th>  <th>Тип ТС </th><th>Вид ТС </th>   </tr>
  <tr>
      <th>
        <%= link_to  action: "show_part", part: "select_cat_type_kind", id: @transportmodel , remote: true do %>
        <%= image_tag( "edit.png", style: "width: 20px; cursor: pointer;") %> Редактировать.
        <% end %>
      </th>
      <td><%=@transportkind.transporttype.transportcategory.name if @transportkind %> </td>
      <td><%=@transportkind.transporttype.name if @transportkind %> </td>
      <td> <%=@transportkind.name if @transportkind %>  </td>
  </tr>
</table>



<% end %>


<table>
  <tr> <td><%= f.label :is_close, "Удалено" %> <%= f.check_box :is_close %></td>
        <th colspan="3"><%= f.submit "Сохранить модель ТС" %> <%= link_to 'Вернуться к моделям ТС', transportmodels_path( brand: @transportbrand ? @transportbrand.id : nil ) %>
        </th>
  </tr>
</table>

    <% end %>