
<%@enginetypes = Enginetype.visible%>

<%= form_tag  url_for( action: 'select_engine' , id: transportmodel) , remote: true do %>
<table>
  <tr>
    <th> Выбрать тип двигателя</th>
    <td>
    <%= collection_select( :enginetype, :id, @enginetypes, :id, :name,
  { prompt: transportmodel.enginetypes.any? ? nil : "Выберите тип двигателя ТС",
    selected: transportmodel.enginetypes.any? ? transportmodel.enginetypes.first.id : nil}) if @enginetypes%>
   </td>
   <th> <%= submit_tag "Сохранить"%>  </th>
  </tr>
</table>
<% end %>

