
<%
@loadings = Transportloading.visible
@current_loadings = transportmodel.transportloadings
@addloadings = @loadings - @current_loadings
@addloadings.unshift(Transportloading.new(id: "0", loading: "Выберите тип загрузки"))
%>


<%= form_tag  url_for( action: 'select_loading' , id: transportmodel ) , remote: true do %>
<table>
  <tr> 
    <th>Удалить тип загрузки: </th>
    <td>
    <% for loading in @current_loadings do %>
   <span style="margin-right: 5px; display: inline-block;">
    [<%=  loading.loading %>
    <%= link_to 'x', url_for(action: "del_loading_from_model", id: transportmodel , loading: loading ) , remote: true , style: "color: red; font-weight: bold;", data: { confirm: 'Точно?' } %>]
   </span>
<% end %>
    </td>
  </tr>

  <tr>
    <th>Добавить тип загрузки </th>
    <td>

      <%= collection_select( :transportloading, :id, @addloadings, :id, :loading,
      { prompt: nil, selected: '0'}) %>

  </td>
  </tr>
  <tr>
    <th colspan="2"> <%= submit_tag "Сохранить" %> </th>
  </tr>
</table>

<% end if @addloadings.any?%>