
<% if transportmodel.transporttanks.any? %>
<table>
  <tr> <th> Удалить топливный бак</th>
    <td>
      <% for tank in transportmodel.transporttanks do %>
      <span style="margin-right: 5px; display: block;">
        [Объём: <%=  tank.v_tank %>, мин. остаток: <%=  tank.v_tank_min %>
        <%= link_to 'x', url_for(action: "del_tank_from_model", id: transportmodel , tank: tank ) , remote: true , style: "color: red; font-weight: bold;", data: { confirm: 'Точно?' } %>]
      </span>
      <% end %>
    </td>
  </tr>

</table>
<% end %>


<%#= form_tag  url_for( action: 'select_tank' , id: transportmodel ) , remote: true do %>
<table style="width: 100%;">
  <tr>
    <th>Объём топливного бака </th>
    <th>Минимальный остаток топлива </th>
    <th></th>
  </tr>
  <tr>
    <td>
      <%= number_field :transporttank, :v_tank %>
    </td>
    <td>
       <%= number_field :transporttank, :v_tank_min %>
    </td>
    <th>
      <%= submit_tag "Сохранить" , id: "transporttank" %>
    </th>
  </tr>
</table>
<%# end %>

<script>
 $(document).ready(function() {
  $('#transporttank').click(function() {
    $.ajax({url: "/transportmodels/select_tank",
      data: {v_tank : $('#transporttank_v_tank').val(),
         v_tank_min : $('#transporttank_v_tank_min').val(),
                 id : "<%= transportmodel.id %>" },
      dataType: "script"
          });
   });
  });

</script>
