
<%
@transportcategories = Transportcategory.visible
@tranporttypes = Transporttype.visible.sort_by(&:transportcategory_id)
@transportkinds = Transportkind.visible.sort_by(&:transporttype_id)
%>



<%= form_tag  url_for( action: 'select_cat_type_kind' , id: transportmodel) , remote: true do %>
<table style="width: 100%">
  <tr>
    <th style="width: 33%;"><%= label :transportcategory , "Категория ТС" %> </th>
        <td>
<%= collection_select( :transportcategory, :id, @transportcategories, :id, :name,  { prompt: "Выберите категорию ТС"}  ) %>
    </td>
  </tr>
    <tr>
    <th style="width: 33%;"><%= label :transporttype , "Тип ТС" %> </th>
        <td>
<%#= collection_select( :transporttype, :id, @tranporttypes, :id, :name,  { prompt: "Выберите тип ТС" }) %>
<%= select_tag(:transporttype,  options_for_select(@tranporttypes.map { |m| [m.name, m.id, { class: m.transportcategory_id}] }), { prompt: "Выберите тип ТС" }) %>
    </td>
  </tr>
   <tr>
    <th style="width: 33%;"><%= label :transportkind , "Вид ТС" %> </th>
        <td>
<%#= collection_select( :transportkind, :id, @transportkinds, :id, :name, {class: "rr"},  { prompt: "Выберите вид ТС" }) %>
<%= select_tag(:transportkind,  options_for_select(@transportkinds.map { |m| [m.name, m.id, { class: m.transporttype_id}] }), { prompt: "Выберите вид ТС" }) %>
    </td>
  </tr>


  <tr> <th colspan="2"> <%= submit_tag "Сохранить", id: "kind_submit", style: "display: none;"  %>  </th> </tr>
</table>

<% end %>


<script>
  $(function() {

    /* For jquery.chained.js */
    $("#transporttype").chained("#transportcategory_id");
    $("#transportkind").chained("#transporttype");

    /* Show button after each pulldown has a value. */
    $("#transportkind").bind("change", function(event) {
        if ("" != $("option:selected", this).val() && "" != $("option:selected", $("#transporttype")).val() )
        {
            $("#kind_submit").fadeIn();
        } else {
            $("#kind_submit").hide();
        }
    });
  });
</script>


