if   ($("#transportmodel_<%=j @out.to_s%>").prop('checked'))
     {$(".<%=j @out.to_s%>").css("display","none"); $("#transportmodel_<%=j @out.to_s%>").prop('checked',false)}
else {$('.<%=j @out.to_s%>').css("display",""); $('#transportmodel_<%=j @out.to_s%>').prop('checked',true)};

$.jGrowl('<%=j @out.to_s%>');
