<h2>Редактирование.<br/> Марка ТС:<%= link_to  @transportbrand.name, transportbrands_path(brand: @transportbrand.id)%>. <br/> Модель: <%=@transportmodel.name%></h2>

<div id="form">
<%= render 'form' %>
</div>





