<h2> <%= link_to  "Марка ТС: #{@transportbrand.name}", transportbrands_path(brand: @transportbrand.id) if @transportbrand%> <br/> Модели ТС </h2>
<%= will_paginate @transportmodels, class: "apple_pagination" %>
<table>
  <tr>
    <th>Марка ТС</th>
    <th>Модель ТС</th>
    <th colspan="2"></th>
  </tr>

<% @transportmodels.each do |transportmodel| %>
  <tr class="<%= cycle("","even") %>">
    <td><%= transportmodel.transportbrand.name if transportmodel.transportbrand %></td>
    <td><%= transportmodel.name %><span class="red"><%= "удалено" if transportmodel.is_close  %></span></td>
    <td class="edit"><%= link_to image_tag("edit.png", style: "width: 20px;"), edit_transportmodel_path(transportmodel) %></td>
    <td class="del" title="Удалить"><%= link_to image_tag("remove.png", style: "width: 20px;"), transportmodel, method: :delete, data: { confirm: 'Точно?' } %></td>
  </tr>
<% end %>
  <tr>
    <th>
      <%= button_to 'Новая модель ТС', new_transportmodel_path(brand: @transportbrand ? @transportbrand.id : nil), method: "get" %>
    </th>
    <th colspan="2">
      <%= link_to 'Все модели ТС', transportmodels_path if @transportbrand %>
      <%= link_to 'К маркам ТС', transportbrands_path %>
    </th>
  </tr>
</table>


<%= will_paginate @transportmodels, class: "apple_pagination" %>
