<h1>Отправить SMS</h1>


<div style="margin: 0 auto; text-align: center">
<%= form_tag url_for( action: 'send_sms'), remote: true do %>

<p>
 <%= label_tag :number, "Номер в формате 7ХХХХХХХХХХ" %> <br/>
 <%= text_field_tag :number %>
</p>
<br/>
<p>
<%= label_tag :text, "Сообщение" %> <br/>
<%= text_area_tag :text %>
</p>
<br/>
<%=  submit_tag "Отправить" %>
<% end %>


<div id="sms_id"> </div>

</div>