
<% if @coupler.errors.any? %>
    <div id="error_explanation">
      <h2>Ошибок: <%= @coupler.errors.count %></h2>

      <ul>
      <% @coupler.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<%= form_for(@coupler) do |f| %>

  <table>
    <tr>
      <th><%= f.label :truck_id, "Тягач" %></th>
      <td><%= f.collection_select( :truck_id, @coupler.id.nil? ? Transport.free_trucks : (Transport.free_trucks << @coupler.truck), :id, :reg_num,
            { prompt: @coupler.truck_id ? nil : "Выберите тягач",
              selected: @coupler.truck_id ? @coupler.truck_id : nil  } )%>
      </td>
      <th><%= f.label :trailer_id, "Прицеп" %></th>
      <td><%= f.collection_select( :trailer_id, @coupler.id.nil? ? Transport.free_trailers : (Transport.free_trailers << @coupler.trailer), :id, :reg_num,
            { prompt: @coupler.trailer_id ? nil : "Выберите прицеп",
              selected: @coupler.trailer_id ? @coupler.trailer_id : nil  } )%>
      </td>
    </tr>
    <tr>
      <th><%= f.label :start_date, "Начало взаимодействия" %></th>
      <td><%= f.text_field :start_date %></td>
      <th><%= f.label :end_date, "Конец взаимодействия" %></th>
      <td><%= f.text_field :end_date %></td>
    </tr>
    <tr>
      <th><%= f.label :is_close, "Расцеплена" %> <%= f.check_box :is_close %></th>
      <th><%= f.submit "Сохранить" %> <%= link_to 'Вернуться', couplers_path %></th>
    </tr>
  </table>
<% end %>


<script>
      $('#coupler_start_date').datetimepicker({timepicker: true});
      $('#coupler_end_date').datetimepicker({timepicker: true});
</script>
