<table>
  <tr>
    <th>Тягач:</th>
    <td><%= @coupler.truck.reg_num %></td>
  </tr>
  <tr>
    <th>Прицеп:</th>
    <td><%= @coupler.trailer.reg_num %></td>
  </tr>
  <tr>
    <th>Начало взаимодействия:</th>
    <td><%= @coupler.start_date %></td>
  </tr>
  <tr>
    <th>Конец взаимодействия:</th>
    <td><%= @coupler.end_date %></td>
  </tr>
  <tr>
    <th>
    <%= button_to 'Редактировать', edit_coupler_path(@coupler) %>
    </th>
  </tr>
</table>

 

