<h2>Сцепки</h2>

<table>
  <tr><th>Тягачи:</th> <td> <%=Transport.trucks.size %></td> <th> Свободные тягачи:</th> <td><%=Transport.free_trucks.size %></td><th>Тягачи с прицепом:</th> <td><%=Transport.used_trucks.size %></td>
      <th>Прицепы:</th> <td><%=Transport.trailers.size %></td><th>Свободные прицепы:</th> <td><%=Transport.free_trailers.size %></td><th>Прицепы с тягачом:</th> <td><%=Transport.used_trailers.size %></td>
  </tr>
</table>
<%= will_paginate @couplers, class: "apple_pagination", params: {vis: params[:vis]} %>
<table>
  <tr><th style="width: 700px;"><%= button_to 'Добавить сцепку', new_coupler_path %></th>
    <td class="<%= 'select_green' if params[:vis] == 'chain' %>"><%= link_to 'Сцепленные', couplers_path(vis: 'chain'), method: 'get'%> </td>
    <td class="<%= 'select_green' if params[:vis] == 'unchain' %>"><%= link_to 'Расцепленные', couplers_path(vis: 'unchain'), method: 'get' %> </td>
    <td class="<%= 'select_green' unless params[:vis] %>"><%= link_to 'Все сцепки', couplers_path, method: 'get' %> </td>
  </tr>
</table>
<table>
  <tr>
    <th>Тягач</th>
    <th>Прицеп</th>
    <th>Начало взаимодействия</th>
    <th>Конец взаимодействия</th>
    <th colspan="3"></th>

  </tr>


<% @couplers.each do |coupler| %>
  <tr class="<%= 'select_green' unless coupler.is_close %>">
    <td><%= coupler.truck.reg_num %></td>
    <td><%= coupler.trailer.reg_num %></td>
    <td><%= coupler.start_date %></td>
    <td><%= coupler.end_date %></td>
    <td class="show">
      <%= link_to image_tag("show.png"), coupler, remote: true %>
    </td>
    <td class="edit">
      <%= link_to image_tag("edit.png"), edit_coupler_path(coupler) %>
    </td>
    <td class="del" title="Расцепить">
      <%= link_to image_tag("unchain.png"), coupler, method: :delete, data: { confirm: 'Точно расцепить?' } unless coupler.is_close %>
    </td>
  </tr>
<% end %>
</table>
<table>
<tr><th><%= button_to 'Добавить сцепку', new_coupler_path if @couplers.size > 10 %></th></tr>
</table>

<%= will_paginate @couplers, class: "apple_pagination" , params: {vis: params[:vis]} if @couplers.size > 10 %>