<h2>Просмотрcouplers</h2>
<table>
  <tr>
    <th>Id:</th>
    <td><%= @coupler.id %></td>
  </tr>
  <tr>
    <th>Truck:</th>
    <td><%= @coupler.truck %></td>
  </tr>
  <tr>
    <th>Trailer:</th>
    <td><%= @coupler.trailer %></td>
  </tr>
  <tr>
    <th>Start date:</th>
    <td><%= @coupler.start_date %></td>
  </tr>
  <tr>
    <th>End date:</th>
    <td><%= @coupler.end_date %></td>
  </tr>
  <tr>
    <th>
    <%= link_to 'Редактировать', edit_coupler_path(@coupler) %>
    <%= link_to 'Вернуться', couplers_path %>
    </th>
  </tr>
</table>

 

