/* CSS reset */
* {
	margin:0;
	padding:0;
}

/* General Demo Style */
body{
	font-family: Cambria, Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;
	background:url(bgnoise_lg.png);
	font-weight: 400;
	font-size: 15px;
	color: #3a2127;
	overflow-y: scroll;

}



.red {color: red; font-size: 10px; margin-left: 10px;}

i {color: black; font-size: 11px;}
i:before {content: "("}
i:after {content: ")"}

a{
	color: #333;
	text-decoration: none;
}
.clr{
	clear: both;
}

#upmenu {float: none; clear: both;}

#popup {position: fixed;
        background-color: white;
        border: 1px solid #CCCCCC;
        border-radius: 3px;
        box-shadow: 5px 7px 8px #555555;
        min-width: 600px;
        max-width: 700px;
        overflow: hidden;
        min-height: 50px;
        display: none;
        z-index: 3003;
        top: 50%;
        margin-top: -150px;
        left: 50%;
        margin-left: -320px;
        padding: 45px 20px 20px;       
}



#popup_head {padding: 2px; padding-left: 10px; padding-right: 0px;
background-color: #2D6277; color: white; position: absolute; top: 0px; left: 0px; width: 100%;
cursor: move;}
#popup_head span {height: 15px; display: inline-block;}
#popup_close {cursor: default; position: absolute; right: 13px; top: 4px;}

#popup table {width: 100%;}

.edit, .del, .copy, .show, .docs {width:30px; padding: 0px; text-align: center;}
.del a img, .edit a img, .copy a img, .show a img, .docs img {width:20px; padding: 0px;}

.deleted, .deleted:hover {background-image: none; background-color: #FFCCCC ;}

#filter_and_search {margin: 0;position: absolute; top: 42px; left: 15px; width: 380px; box-shadow: 5px 7px 8px #555555; z-index: 3000}
#filter_and_search table {margin: 0;}
#filter_status { color: #333333; }

.container {min-width: 1000px; margin: 0 auto; padding: 0px  10px 10px 10px; position: relative;}

.container > header{
	padding: 1px 20px 10px 20px;
	position: relative;
	display: block;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
        text-align: center;
        background-image: url('header.gif');
        background-repeat: no-repeat;
        background-position: center;
        background-color: white;

}
h1 , .container > header h1{
	position: relative;
	color: #498ea5;
	font-weight: 700;
	font-style: normal;
	font-size: 30px;
	padding: 0px 0px 5px 0px;
	text-shadow: 0px 1px 1px rgba(255,255,255,0.8);
}
h1 {text-align: center; margin: 10px;}
h1 span , .container > header h1 span{
	font-family: 'Alegreya SC', Georgia, serif;
	font-size: 20px;
	line-height: 20px;
	display: block;
	font-weight: 400;
	font-style: italic;
	color: #719dab;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
}
h2 { margin: 10px; 
        font-size: 18px;
        text-align: center;
        font-style: italic;
	color: #2d6277;
	text-shadow: 0px 1px 1px rgba(255,255,255,0.8);}
 .container > header h2{
        text-align: center;
	font-size: 16px;
	font-style: italic;
	color: #2d6277;
	text-shadow: 0px 1px 1px rgba(255,255,255,0.8);
}
/* Header Style */
.main-top{
        padding-left: 13px;
	line-height: 27px;
	font-size: 11px;
	background: rgba(0, 0, 0, 0.1);
	text-transform: uppercase;
	z-index: 9999;
	position: relative;
	/* box-shadow: 1px 0px 2px rgba(0,0,0,0.2);*/
}
.main-top a{
	padding: 0px 10px;
	letter-spacing: 1px;
	color: #333;
	text-shadow: 0px 1px 1px #fff;
	display: block;
	float: left;
}
.main-top a:hover{
	background: #fff;
}
.main-top span.right{
	float: right;
}
.main-top span.right a{
	float: left;
	display: block;
}
.main-demos{

        text-align:center;
	display: block;
	line-height: 30px;
	padding: 20px 0px;
}
.main-demos a{
    display: inline-block;
	margin: 0px 4px;
	padding: 0px 4px;
	color: #fff;
	line-height: 20px;
	font-style: italic;
	font-size: 13px;
	border-radius: 3px;
	background: rgba(41,77,95,0.1);
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	-ms-transition: all 0.2s linear;
	transition: all 0.2s linear;
}
.main-demos a:hover{
	background: rgba(41,77,95,0.3);
}
.main-demos a.current,
.main-demos a.current:hover{
	background: rgba(41,77,95,0.3);
}

/*     ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++           */


/* GLOBALS */

/*
*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
*/
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.new_user {
    /* Size & position */
    width: 300px;
    margin: 60px auto 30px;
    padding: 10px;
    position: relative; /* For the submit button positioning */

    /* Styles */
    box-shadow:
        0 0 1px rgba(0, 0, 0, 0.3),
        0 3px 7px rgba(0, 0, 0, 0.3),
        inset 0 1px rgba(255,255,255,1),
        inset 0 -3px 2px rgba(0,0,0,0.25);
    border-radius: 5px;
    background: white; /* Fallback */
    background: -moz-linear-gradient(#eeefef, #ffffff 10%);
    background: -ms-linear-gradient(#eeefef, #ffffff 10%);
    background: -o-linear-gradient(#eeefef, #ffffff 10%);
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#eeefef), color-stop(0.1, #ffffff));
    background: -webkit-linear-gradient(#eeefef, #ffffff 10%);
    background: linear-gradient(#eeefef, #ffffff 10%);
}

.new_user .field {
    position: relative; /* For the icon positioning */
}

.new_user .field i {
    /* Size and position */
    left: 0px;
    top: 0px;
    position: absolute;
    height: 36px;
    width: 36px;

    /* Line */
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 1px 0 0 rgba(255, 255, 255, 0.7);

    /* Styles */
    color: #777777;
    text-align: center;
    line-height: 42px;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    pointer-events: none;
}
.new_user textarea { width: 300px; height: 50px;}
.new_user input[type=text],
.new_user input[type=email],
.new_user input[type=password] {
    font-family: 'Lato', Calibri, Arial, sans-serif;
    font-size: 13px;
    font-weight: 400;
    text-shadow: 0 1px 0 rgba(255,255,255,0.8);
    /* Size and position */
    width: 275px;
    padding: 10px 10px 10px 15px;

    /* Styles */
    border: none; /* Remove the default border */
    box-shadow:
        inset 0 0 5px rgba(0,0,0,0.1),
        inset 0 3px 2px rgba(0,0,0,0.1);
    border-radius: 3px;
    background: #f9f9f9;
    color: #777;
    -webkit-transition: color 0.3s ease-out;
    -moz-transition: color 0.3s ease-out;
    -ms-transition: color 0.3s ease-out;
    -o-transition: color 0.3s ease-out;
    transition: color 0.3s ease-out;
}

.new_user input[type=email] {
    margin-bottom: 10px;
}

.new_user input[type=text]:hover ~ i,
.new_user input[type=password]:hover ~ i {
    color: #52cfeb;
}

.new_user input[type=text]:focus ~ i,
.new_user input[type=password]:focus ~ i {
    color: #42A2BC;
}

.new_user input[type=text]:focus,
.new_user input[type=password]:focus,
.new_user button[type=submit]:focus {
    outline: none;
}

.new_user .submit {
    /* Size and position */
    width: 65px;
    height: 65px;
    position: absolute;
    top: 17px;
    right: -25px;
    padding: 10px;
    z-index: 2;

    /* Styles */
    background: #ffffff;
    border-radius: 50%;
    box-shadow:
        0 0 2px rgba(0,0,0,0.1),
        0 3px 2px rgba(0,0,0,0.1),
        inset 0 -3px 2px rgba(0,0,0,0.2);
}

.new_user .submit:after {
    /* Size and position */
    content: "";
    width: 10px;
    height: 10px;
    position: absolute;
    top: -2px;
    left: 30px;

    /* Styles */
    background: #ffffff;

    /* Other masks trick */
    box-shadow: 0 62px white, -32px 31px white;
}

.new_user button {
    /* Size and position */
    width: 100%;
    height: 100%;
    margin-top: -1px;

    /* Icon styles */
    font-size: 1.4em;
    line-height: 1.75;
    color: white;

    /* Styles */
    border: none; /* Remove the default border */
    border-radius: inherit;
    background: #52cfeb; /* Fallback */
    background: -moz-linear-gradient(#52cfeb, #42A2BC);
    background: -ms-linear-gradient(#52cfeb, #42A2BC);
    background: -o-linear-gradient(#52cfeb, #42A2BC);
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#52cfeb), to(#42A2BC));
    background: -webkit-linear-gradient(#52cfeb, #42A2BC);
    background: linear-gradient(#52cfeb, #42A2BC);
    box-shadow:
        inset 0 1px 0 rgba(255,255,255,0.3),
        0 1px 2px rgba(0,0,0,0.35),
        inset 0 3px 2px rgba(255,255,255,0.2),
        inset 0 -3px 2px rgba(0,0,0,0.1);

    cursor: pointer;
}

.new_user button:hover,
.new_user button[type=submit]:focus {
    background: #52cfeb;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.new_user button:active {
    background: #42A2BC;
    box-shadow:
        inset 0 0 5px rgba(0,0,0,0.3),
        inset 0 3px 4px rgba(0,0,0,0.3);
}

/*     ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++      */


@font-face {
  font-family: "FontAwesome";
  src: url('/font/fontawesome-webfont.eot');
  src: url('/font/fontawesome-webfont.eot?#iefix') format('eot'),
  url('/font/fontawesome-webfont.woff') format('woff'),
  url('/font/fontawesome-webfont.ttf') format('truetype'),
  url('/font/fontawesome-webfont.svg#FontAwesome') format('svg');
  font-weight: normal;
  font-style: normal;
}

/*  Font Awesome styles
    ------------------------------------------------------- */
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  text-decoration: inherit;
}
a [class^="icon-"], a [class*=" icon-"] {
  display: inline-block;
  text-decoration: inherit;
}
/* makes the font 33% larger relative to the icon container */
.icon-large:before {
  vertical-align: top;
  font-size: 1.3333333333333333em;
}
.btn [class^="icon-"], .btn [class*=" icon-"] {
  /* keeps button heights with and without icons the same */

  line-height: .9em;
}
li [class^="icon-"], li [class*=" icon-"] {
  display: inline-block;
  width: 1.25em;
  text-align: center;
}
li .icon-large[class^="icon-"], li .icon-large[class*=" icon-"] {
  /* 1.5 increased font size for icon-large * 1.25 width */

  width: 1.875em;
}
li[class^="icon-"], li[class*=" icon-"] {
  margin-left: 0;
  list-style-type: none;
}
li[class^="icon-"]:before, li[class*=" icon-"]:before {
  text-indent: -2em;
  text-align: center;
}
li[class^="icon-"].icon-large:before, li[class*=" icon-"].icon-large:before {
  text-indent: -1.3333333333333333em;
}





pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;
  &:visited {
    color: #666;
  }
  &:hover {
    color: #fff;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

textarea {width: 100%; height: 50px;}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square inside none;
  }
}



/*Table Style - This is what you want
------------------------------------------------------------------ */
table th a {margin-left: 20px;}

table a:link {
	color: #666;
	font-weight: bold;
	text-decoration:underline;
}
/* table a:visited {
	color: #999999;
	font-weight:bold;
	text-decoration:underline;
}
*/
table a:active,
table a:hover {

	text-decoration:underline;
}
table {
	width:100%;
	font-family:Arial, Helvetica, sans-serif;
	color:#666;
	font-size:12px;
	text-shadow: 1px 1px 0px #fff;
	background:#eaebec;
	margin:0 auto;
	border:#ccc 1px solid;

	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;

	-moz-box-shadow: 0 1px 2px #d1d1d1;
	-webkit-box-shadow: 0 1px 2px #d1d1d1;
	box-shadow: 0 1px 2px #d1d1d1;

        margin-bottom: 10px;
}

table table {width: 100%;}

table th {
	padding:5px 20px 5px 20px;
	border-top:1px solid #fafafa;
	border-bottom:1px solid #e0e0e0;
        /*max-width: 200px;*/
	background: #ededed;
	background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#ebebeb));
	background: -moz-linear-gradient(top,  #ededed,  #ebebeb);
}

table tr{
	text-align: left;
	padding-left:20px;
}

table tr td {
	padding:5px 10px 5px 10px;
	border-top: 1px solid #ffffff;
	border-bottom:1px solid #e0e0e0;
	border-left: 1px solid #e0e0e0;

	background: #fff;
	background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#fff));
	background: -moz-linear-gradient(top,  #fbfbfb,  #fff);

        
}
table tr td input[type="text"]  {width: 100%}
table tr td select  {width: 100%}

table tr td {}
table tr.even td{
	background: #ffffef;

}
table tr:last-child td{
	border-bottom:0;
}

table tr:hover td{
	background: #f2f2f2;
	background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#f0f0f0));
	background: -moz-linear-gradient(top,  #f2f2f2,  #f0f0f0);
}


/*   +++++++++++++++++++  sortable */
    #sortable{width:400px;}
    ul{ list-style-position: inside;}
    .highlight{background-color:#d6d88e;}
li ul {margin-left: 25px;}


#sortable  {
    background: none repeat scroll 0 0 #EAEBEC;
    border: 1px solid #CCCCCC;
    border-radius: 3px;
    box-shadow: 0 1px 2px #D1D1D1;
    color: #666666;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    margin: 0 auto 10px;
    text-shadow: 1px 1px 0 #FFFFFF;
    width: 100%;
    list-style-type:none;
  & div {
        background: -moz-linear-gradient(center top , #FBFBFB, #FAFAFA) repeat scroll 0 0 rgba(0, 0, 0, 0);
        border-bottom: 1px solid #E0E0E0;
        border-left: 1px solid #E0E0E0;
        border-top: 1px solid #FFFFFF;
        padding: 5px 5px 5px 5px;
         }
   & div:hover{
	background: #f2f2f2;
	background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#f0f0f0));
	background: -moz-linear-gradient(top,  #f2f2f2,  #f0f0f0);
            }
   & ul {list-style-type:none;}
   & li {margin: 2px;}
   & span.del, & span.edit {display: inline-block; float: right; height: 20px;}
}


.unav_1 {background-color: #FF99CC !important; background-image: none !important;  min-width:100px; }
.unav_0 {background-color: #3399CC !important; background-image: none !important;  min-width:100px;}

table tr.select_green td, table tr td.select_green, table tr .select_green {background-image: none; background-color:  palegreen;}