
.menu-container { width: 100%; 
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.05);
    box-shadow: 1px 0 2px rgba(0, 0, 0, 0.2);
    height: 30px;
}


.memu {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}

li.memu-root {
    background-color: #ECECEC;
    border-bottom: 1px solid #DCDCDC;
    border-top: 1px solid #FFFFFF;
    color: #727272;
    padding: 2px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
    border-right: 1px solid #DCDCDC;
    line-height: 25px;
    display: block;

}

.memu ul {
	list-style: none outside none;
    margin: 0;
    padding: 0;
	position: absolute;
    left: -9999px;
	margin-left: 20px;
    width: 200px;
	
    -moz-box-shadow: 3px 2px 3px #333;
    -webkit-box-shadow: 3px 2px 3px #333;
    box-shadow: 3px 2px 3px #333;
}
.memu ul ul {
	margin-left: 0px;
	margin-top: 0px;
	
}
.memu a {
    background: #fff;
    background-color: rgba(255, 255, 255, 0.98);
    border: 1px solid #f7f7f7;
    color: #333;
    display: block;
    margin: 0 -1px -1px 0;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
    width: 200px;
	text-overflow: ellipsis;
}

.memu .memu-icon {
	position: relative;
	width: 16px; 
	height: 16px; 
	margin: 4px 10px 0px 0px;
	float: left;
}

.memu li.memu-root > a {
	border-left: 0 !important;
	border-right: 0 !important;
	border-top: 1px solid transparent !important;
	border-bottom: 1px solid transparent !important;
	background: transparent !important;
        display: block;
}

li.memu-root {
  float: left;
  border-radius: 3px;

}
li.memu-root li {

    display: block;
    border-bottom: 1px solid #DCDCDC;

}

.memu li.has-children > a {
    background: url("arrow.png") no-repeat scroll #fff;
	background-position: right center;
    background-color: rgba(255, 255, 255, 0.98);
        display: block;
        width: 200px;

}
.memu li:hover {
    position: relative;
    z-index: 100;

}
.memu li:hover > a {
    background-color: #fff;
    border-color: #fafafa;
    color: #56789A;
}
.memu li:hover > ul {
    left: -20px;
    opacity: 1;
    top: 26px;
    z-index: -1;
}
.memu li:hover li:hover > ul {
    left: 150px;
    opacity: 1;
    top: 0px;
    z-index: 100;
}

.memu-current {
	background-color: #abcdef;
	background-color: rgba(235, 245, 255, 0.98);
}