/* MENU */

#nav {
background: none repeat scroll 0 0 rgba(0, 0, 0, 0.1);
 /*background: -moz-linear-gradient(top, #3c3c3c, #666666 1px, #e0e0e0 25px);*/
 display: block;
 height: 30px;
 margin: 0; padding: 0;

 border-bottom: none;
 position: relative;
 z-index: 3001;
}

#nav > li {margin-left: 8px;}

#nav li a { 
    float: left;
    width: 180px}
#nav li {
    float: left;
    width: 190px;
}

#nav li {
 list-style: none;
 position: relative;
}

#nav li a {
 padding: 5px;
 text-decoration: none;
 color: white;
 background: #292929;
 background: -moz-linear-gradient(top, #3c3c3c, #3c3c3c 1px, #666666 25px);
 background: -webkit-gradient(linear, left top, left 25, from(black), color-stop(4%, #3c3c3c), to(#666666));


}

#nav li a:hover {
 background: black;
 background: -moz-linear-gradient(top, #3c3c3c, black);
 background: -webkit-gradient(linear, left top, left bottom, from(#3c3c3c), to(black));
}


/* Submenu */

.hasChildren {
	position: absolute;
        display: inline-block;
        width: 0;
        height: 0;
        border-bottom: 10px solid white;
        border-left: 10px solid transparent;
	right : 0;
	bottom: 0;
}

#nav li ul {
 display: none;
 position: absolute;
 left: 0;
 top: 100%;
 padding: 0; margin: 0;
}

#nav li:hover > ul {
 display: block;
}

#nav li ul li, #nav li ul li a {
 float: none;
}

#nav li ul li {
 _display: inline; /* for IE6 */
}

#nav li ul li a {
/* width: 150px;*/
 display: block;
}

/* SUBSUB Menu */

#nav li ul li ul {
 display: none;
}

#nav li ul li:hover ul {
 /* left: 110%;*/
   left: 190px;
 top: 0;
}


