<h2>Отношения сторон</h2>


<%= will_paginate @contract_relationships, class: "apple_pagination" %>
<table>
<tr><th><%= button_to 'Новое отношение сторон', new_contract_relationship_path %></th></tr>
</table>
<table>
  <tr>
    <th>Договор</th>
    <th>Контрагент</th>
    <th>Роль в рамках предмета договора</th>
    <th colspan="2"></th>

  </tr>

<% @contract_relationships.each do |contract_relationship| %>
  <tr>
    <td><%= contract_relationship.contract.contract_number %></td>
    <td><%= contract_relationship.contractor.name %></td>
    <td><%= contract_relationship.contract_subject_role.name %></td>
    <td class="edit">
      <%= link_to image_tag("edit.png"), edit_contract_relationship_path(contract_relationship) %>
    </td>
    <td class="del" title="Удалить">
      <%= link_to image_tag("remove.png"), contract_relationship, method: :delete, data: { confirm: 'Точно?' } unless contract_relationship.is_close %>
    </td>
  </tr>
<% end %>
</table>
<table>
<tr><th><%= button_to 'Новое отношение сторон', new_contract_relationship_path if @contract_relationships.size > 10 %></th></tr>
</table>

<%= will_paginate @contract_relationships, class: "apple_pagination"  %>