<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Сообщение <%= @text %></h1>

    <p>Have a great day!</p>
  </body>
</html>