<%= form_for(@transporttype) do |f| %>
  <% if @transporttype.errors.any? %>
    <div id="error_explanation">
      <h2>Ошибок: <%= @transporttype.errors.count %> </h2>

      <ul>
      <% @transporttype.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<table>
  <tr>
       <th><%= f.label :transportcategory_id , "Категория ТС" %> </th>
       <td><%= f.collection_select( :transportcategory_id, Transportcategory.visible, :id, :name,
              { prompt: @transporttype.transportcategory ? nil : "Выберите категрию ТС",
              selected: @transporttype.transportcategory ? @transporttype.transportcategory.id : nil}  )%>
       </td>
  </tr>
  <tr> <th><%= f.label :name , "Наименование" %> </th> <td><%= f.text_field :name %> </td> </tr>
  <tr> <th><%= f.label :descr , "Описание" %> </th> <td><%= f.text_area :descr %> </td> </tr>
  <tr> <th><%= f.label :is_close , "Удалено" %> </th> <td><%= f.check_box :is_close %> </td> </tr>
  <tr> <th colspan="2"> <%= f.submit  "Сохранить" %> <%= link_to 'Вернуться', transporttypes_path %> </th>  </tr>
</table>
<% end %>
