<h2> <%= link_to  "Категория: #{@transportcategory.name}", transportcategories_path if @transportcategory%> <br/> Типы ТС</h2>

<table>
  <tr> <th colspan="5"><%= link_to 'Новый тип ТС', new_transporttype_path(category: @transportcategory ? @transportcategory.id : nil) %>
<%= link_to 'К категориям ТС', transportcategories_path %> <%= link_to "Все типы ТС", transporttypes_path if @transportcategory  %> </th> </tr>
</table>

<%= will_paginate @transporttypes, class: "apple_pagination" %>
<table>
  <tr>
    <th>Категория ТС</th>
    <th>Тип ТС</th>
    <th>Описание</th>
    <th>Виды ТС</th>
    <th colspan="2"></th>
  </tr>

<% @transporttypes.each do |transporttype| %>
  <tr class="<%= cycle("","even") %>">
    <td><%= link_to transporttype.transportcategory.name, transporttypes_path(category: transporttype.transportcategory.id) if transporttype.transportcategory%></td>
    <td><%= transporttype.name %><span class="red"><%= "удалено" if transporttype.is_close  %></span></td>
    <td><%= transporttype.descr %></td>
    <td><%= link_to 'Редактировать виды ТС', transportkinds_path( type: transporttype.id ) %> (<%= transporttype.transportkinds.size %>)</td>
    <td class="edit"><%= link_to image_tag("edit.png", style: "width: 20px;"), edit_transporttype_path(transporttype) %></td>
    <td class="del" title="Удалить"><%= link_to image_tag("remove.png", style: "width: 20px;"), transporttype, method: :delete, data: { confirm: 'Точно?' } %></td>
  </tr>
<% end %>
</table>
<table>
  <tr> <th><%= button_to 'Новый тип ТС', new_transporttype_path(category: @transportcategory ? @transportcategory.id : nil) %> </th>
    <th colspan="4">
<%= link_to 'К категориям ТС', transportcategories_path %> <%= link_to "Все типы ТС", transporttypes_path if @transportcategory  %></th> </tr>
</table>

<%= will_paginate @transporttypes, class: "apple_pagination" %>



