<h2>Типы контрагентов</h2>
<%= will_paginate @contractortypes, class: "apple_pagination" %>
<table>
  <tr>
    <th>Наименование</th>
    <th>Описание</th>
    <th colspan="2"></th>

  </tr>

<% @contractortypes.each do |contractortype| %>
  <tr>
    <td><%= contractortype.name %></td>
    <td><%=link_to "Создать контрагента", new_contractor_path(contractortype:contractortype ) %></td>
    <td><%= contractortype.descr %></td>
    <td class="edit">
      <%= link_to image_tag("edit.png"), edit_contractortype_path(contractortype) %>
    </td>
    <td class="del" title="Удалить">
      <%= link_to image_tag("remove.png"), contractortype, method: :delete, data: { confirm: 'Точно?' } %>
    </td>
  </tr>
<% end %>
<tr><th><%= link_to 'Новый тип контрагента', new_contractortype_path %></th></tr>

</table>

<%= will_paginate @contractortypes, class: "apple_pagination" %>