<h2>Виды документов</h2>
<%= will_paginate @documentkinds, class: "apple_pagination" %>
<table>
  <tr>
    <th>Тип документа</th>
    <th>Наименование</th>
    <th>Описание</th>
    <th>Необходим в рейсе</th>
    <th>Удален</th>
    <th></th>
    <th colspan="2"></th>

  </tr>
<% @documentkinds.each do |documentkind| %>
  <tr>
    <td><%= documentkind.documenttype.name if documentkind.documenttype %></td>
    <td><%= documentkind.name %></td>
    <td><%= documentkind.descr %></td>
    <td><%= documentkind.is_needed ? "Да" : "Нет" %></td>
    <td><b style="color: red;"><%= documentkind.is_close ? "Удален" : ""%></b></td>
    <td><%= link_to 'Просмотр', documentkind %></td>
    <td class="edit"><%= link_to image_tag("edit.png"), edit_documentkind_path(documentkind) %></td>
    <td class="del" title="Удалить"><%= link_to image_tag("remove.png"), documentkind, method: :delete, data: { confirm: 'Точно?' } %></td>
  </tr>
  <% tmp = documentkind.documenttype_id %>
<% end %>
<tr><th><%= button_to 'Новый вид документа', new_documentkind_path %></th>
    <th colspan="7">    <%= link_to 'К типам документов', documenttypes_path %></th></tr>


</table>

<%= will_paginate @documentkinds, class: "apple_pagination" %>

