<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta http-equiv="Cache-Control" content="no-cache"/>
  <meta http-equiv="Cache-Control" content="private"/>
  <title>Монополия. </title>

  

  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag    "menu", :media => "all" %>
  <%= stylesheet_link_tag    "jquery-ui-1.10.4.custom", :media => "all" %>
  <%= stylesheet_link_tag    "pagination", :media => "all" %>
  <%= stylesheet_link_tag    "jquery.datetimepicker", :media => "all" %>
  <%= stylesheet_link_tag    "jquery.jgrowl", :media => "all" %>
  <%= stylesheet_link_tag    "main", :media => "all" %>


  <%= javascript_include_tag "application" %>


  <%= javascript_include_tag "jquery-1.10.2" %>
  <%= javascript_include_tag "jquery-ui-1.10.4.custom.min" %>
  <%= javascript_include_tag "nestedsortables.min" %>
  
  <%= javascript_include_tag "jquery.chained" %>
  <%= javascript_include_tag "jquery.maskedinput" %>
  <%= javascript_include_tag "jquery.datetimepicker" %>
  <%= javascript_include_tag "jquery.jgrowl" %>

 

  <%#= javascript_include_tag "main" %>
    
  <%= csrf_meta_tags %>
  
  

  
  <!--[if lte IE 7]><style>.main{display:none;} .support-note .note-ie{display:block;}</style><![endif]-->


</head>
    <body onload="<% if notice%> $.jGrowl('<%= notice %>'); <% end%> ">

        <div class="container">

          <div id="popup" style="position: absolute;">
            <div id="popup_head"> <span> </span>
            <div id="popup_close"><%=image_tag("remove.png", style: "width: 15px;") %> </div>
            </div>
            
            <div id="popup_content"> </div>
          </div>
   
          <div class="main-top">
<%#= Devise::LDAP::Adapter.get_ldap_param(self.username,"mail") %>
<% unless user_signed_in? %>

  <%#=link_to 'Регистрация', new_user_registration_path %>

        <span class="right">
          <%=link_to  new_user_session_path do%>
            <strong>Войти</strong>
          <% end %>
        </span>
    <div class="clr"></div>

<% else %>
Вы авторизованы: <%=current_user.email %> (<%=current_user.fullname %>) 
        <span class="right">
          <%=link_to  destroy_user_session_path , method: :delete do%>
            <strong>Выйти</strong>
          <% end %>
        </span>

        <span class="right">
          <%=  Rails.env if current_user.admin or Rails.env == 'development' %>
        </span>
    <div class="clr"></div>

<% end %>


</div>

          		<header>
			    <h1><%= link_to "ООО «МОНОПОЛИЯ»" , root_path  %>  </h1>
			</header>

          
<!-- <p id="notice"><%#= notice %></p> -->

<div id="upmenu">
 <%= render '/main/menu' if user_signed_in?%>
</div>


<%= yield %>


  <%#= render 'devise/menu/registration_items' %>
  <%#= render 'devise/menu/login_items' %>

        </div>
      
    </body>


</html>
